[2019-08-20 02:58] RobSmyth commented on #305
Hi,

The line "nuke :setup" fails with an error message that the user's packages folder does not exist.

The fix is to download NuGet.exe and from a separate folder install any NuGet package (say NUnit). This creates the user's packages folder and then all is fine.

So, if the user has not used NuGet before, to install user global packages, it fails.

[2019-08-20 08:12] matkoch commented on #305
Do you get a stacktrace?

[2019-08-20 08:26] matkoch commented on #300
I assume you called `nuke compile` rather than `nuke --target compile`. The latter will work, the first is broken, unfortunately. In general, parameter resolution will first try to resolve from command-line arguments, and then from environment variables.

[2019-08-20 13:43] wgebczyk commented on #303
Hi,

I have issue to properly setup build script and it seems related to this issue.

When having such script:`

    Target Clean => _ => _
        .DependsOn(CleanIt)
        .Executes(() => { });

    Target Build => _ => _
        .After(Clean)
        .DependsOn(BuildIt)
        .Executes(() => { });

    Target CleanIt => _ => _
        .Executes(() => { Info("Clean It"); });

    Target Buil

[2019-08-20 13:53] matkoch commented on #303
Calling `nuke --plan` reveals the resulting dependency graph:

<img width="237" alt="image" src="https://user-images.githubusercontent.com/5005566/63353100-8493c980-c362-11e9-9ef4-80e74195c50e.png">

This behavior is intentional. If two targets have their order not specified by some kind of dependency, they can run in parallel. And that is exactly the behavior you get.

[2019-08-20 13:53] matkoch commented on #303
Btw, I'm not exactly sure why you have multiple build and clean targets.

[2019-08-20 14:42] wgebczyk commented on #303
Hey!

"why multiple build" -- this was just simplified script that I tried to create. Simply I do have Build target where it would depend on some smaller Build* targets: Build -> BuildProject1, BuildProject2, BuildPrepare, etc. Similar things with Cleanup. The smaller build targets would have inter dependencies as well.

It seems that it is not so obvious that task "after" dependency relates only

[2019-08-20 14:57] matkoch commented on #303
I think the documentation is specific on this. For instance:

<img width="867" alt="image" src="https://user-images.githubusercontent.com/5005566/63358054-bb6ddd80-c36a-11e9-8880-5201c0643fd0.png">

or

<img width="647" alt="image" src="https://user-images.githubusercontent.com/5005566/63358093-c9236300-c36a-11e9-9045-e1016de95b63.png">

And besides, it would be very confusing if there is _any_ ch

[2019-08-20 15:04] wgebczyk commented on #303
Thanks for this explicit quote. Still term "target" might be understood as "target's Execute" or "whole target's definition".

That's good you have clear vision for your project. I hope you would stay with it and not give up to external influences :) Even though, this project will not fit my needs.

[2019-08-20 15:21] matkoch commented on #303
I'm a bit surprised that this minor thing is the reason 🤔 Aren't you interested in running targets in parallel, when possible? If not okay, but otherwise your request is contradictory.

In any case, you can achieve what you want by applying an attribute similar as described here: https://github.com/nuke-build/nuke/issues/224#issuecomment-460463464

[2019-08-20 19:42] wgebczyk commented on #303
Hey!

- I would avoid describing things as minor, etc. For some might be minor, for others way more significant.
- For my pet project I would not get too much from parallelization - I have 3 big TypeScript projects and there are some intermediate step to prepare those TS ones. Paralellization would help for my daily work where are about main 400 projects + a lot of smaller tasks for full build --

[2019-08-20 20:27] RLittlesII commented on #303
@wgebczyk https://github.com/nuke-build/nuke/issues/303#issuecomment-523165607 seems like a long way around just using [Conditions](https://www.nuke.build/docs/authoring-builds/fundamentals.html#static-conditions--dependency-behavior) to dictate how your build will execute.

I have gone as far in Cake and in Nuke to create higher level Task/Targets that just surface sub task/targets with criteria.

[2019-08-21 05:23] dennisdoomen commented on #303
I've been using build scripts for more than two decades (when I was still writing C++), and have since worked with simple cmd-line scripts, Powershell scripts, PSake, Cake and now Nuke. I love Nuke for many reasons, including its dependency model that will eventually support parallel execution of targets. But I do feel that moving a complicated Cake script to Nuke is not going to be worth it. The

[2019-08-21 05:39] wgebczyk commented on #303
@RLittlesII I've considered conditions, but haven't found better way to use that, that by duplicating  whole Target with the only difference on condition and execute. That looks ugly for me and more hassle that what I have now. Have you found better way of using conditions? Could you put here some snippet?

[2019-08-21 11:35] matkoch commented on #303
@wgebczyk

Can't see how it has a significant impact, sorry. The workaround is to add `Before`/`After` more often. Looking at other reports and planned features it _is_ - with all respect - a minor issue. Also whether or not your pet project benefits from parallelization is not really of matter for this discussion. We aim to solve _common/abstract_ issues in build automation, but we won't go a rou

[2019-08-21 11:50] wgebczyk commented on #303
@matkoch I appologize for bringing irrelevant matter to this discussion. I was mislead by your question why I'm not interested in running in parallel.

This means only that your tool targets big, trendy cases, have strong opinion about throwing more after/before to solve issues. That's ok! However, I think that this tool is not timed for small project outside of your envisioned usage.

I believe t

[2019-08-21 11:56] matkoch commented on #303
Thanks, and thanks for your time, although I honestly still don't understand the issue.

[2019-08-21 16:51] mlaily opened #308 "Guidance on code generation"
Hi,

I'm trying to create a tool to wrap the InnoSetup compiler command line.

My tool now almost works, but I ran into a few issues and I would appreciate some guidance:
- Is there some centralized documentation about how to write a new tool? I could not find any. For now I cloned your template repository and incrementally managed my way around by testing various things.
- InnoSetup has some flag

[2019-08-21 17:09] matkoch commented on #308
Hi @mlaily,

thanks for approaching with a PR :) I'm a bit short on time right now, but I will leave some notes on the bullet point set. Let me know if it helps.

- A bit of documentation is [here](http://www.nuke.build/docs/writing-addons/code-generation.html), but probably you know that already.
- PR would go directly into nuke/common.
- for the `/O+` and `/O-` you probably need to set `customVa

[2019-08-21 17:11] matkoch commented on #308
And about _sometimes value, sometimes not_... not sure if we support that, but could be. Just try adding another property - different name obviously - but with the same format. Type should be `List<string>` in that case.

[2019-08-21 17:12] matkoch commented on #308
PS: sorry for your other issue being unanswered. I haven't had any time taking care of the website recently. Will try to follow up asap.

[2019-08-21 17:29] mlaily commented on #308
Thanks for your quick answer :)

I will try your suggestions and see how it goes.

And no worries about my other issue. I wanted to document my experience somewhere useful, but it's not something very urgent, so I did not expect an answer immediately...

[2019-08-22 09:02] mlaily commented on #308
It does not work for at least one reason: the `{key}` format pattern is not replaced by the key. :/

The only "correct" solution I see is keeping the `itemFormat` and modifying `Arguments.cs` to remove the assertion causing the failure. Disallowing the key-value separator would not be automatic when `Length > 1`.

Unfortunately this is not enough, because the `itemFormat` is not used when the `typ

[2019-08-22 11:15] matkoch commented on #308
can you please give me a few invocation examples?

[2019-08-22 11:34] #307 closed, assigned to matkoch

[2019-08-22 11:55] mlaily commented on #308
Sure!

We use this one:
`iscc /O+ /OC:\git\MyProject\setup\bin   /FMyProject-1.13.0.1282    /DAppVersion=1.13.0.1282   /DBuildConfig=Release    C:\git\MyProject\setup\MyProject.iss`

There are other examples on the official iscc documentation:
http://www.jrsoftware.org/ishelp/index.php?topic=compilercmdline
`iscc /Qp /O"My Output" /F"MyProgram-1.0" /Sbyparam=$p "c:\isetup\samples\my script.iss"`

[2019-08-22 13:38] matkoch commented on #308
I was wrong about the dictionary part. It should be `format:"/D{value}"` and `itemFormat:"{key}={value}"`. There should be no exception then.

[2019-08-22 14:58] mlaily commented on #308
Thanks, it works :)

Some examples in the documentation for cases like that would be welcome!

[2019-08-22 15:00] matkoch commented on #308
This example is linked: https://github.com/nuke-build/common/blob/develop/build/specifications/DotNet.json#L698-L699

To me it seems that exactly the case.

[2019-08-22 15:00] matkoch commented on #308
Any questions left?

[2019-08-22 15:00] #308 closed, assigned to nobody

[2019-08-22 15:10] mlaily commented on #308
Mmh ok. I was under the impression it would only output the `format` value once, then the `itemFormat` as many times as there are pairs.

Some examples with the resulting output would still be welcome. :)

And I think that's all, thanks again!

[2019-08-22 15:18] matkoch commented on #308
I prefer helping on demand :)

[2019-08-23 14:18] joskoanicic opened #309 "Add support for Yarn"
It would be great if yarn was supported as npm.

I think someone mentioned in other issues that they implemented the tools for Yarn. Maybe they could send a PR?

[2019-08-23 14:19] matkoch commented on #309
You can also send a PR

[2019-08-23 14:19] #309 closed, assigned to nobody

[2019-08-23 14:30] matkoch commented on #309
https://github.com/nuke-build/nuke/issues/259
https://github.com/nuke-build/nuke/blob/master/CONTRIBUTING.md

[2019-08-26 13:51] joskoanicic commented on #309
I will try to find time to write an extension and send a PR.
It would be helpful if there is a way to get a crash course or read what I need to know about the architecture before getting started. Or should I just get into the code and analyse how npm support works?

[2019-08-26 13:55] matkoch commented on #309
Help is available here: http://www.nuke.build/docs/writing-addons/code-generation.html

If you need any help, it's best to ask in Slack.

[2019-08-28 00:49] #306 closed, assigned to nobody

[2019-08-29 19:42] #250 closed, assigned to nobody

[2019-09-01 21:34] matkoch commented on #305
@RobSmyth 	?

[2019-09-04 18:58] ron-myers opened #310 "Access to IProcess on ProcessException"
Within our build process, there are several command-line tools we call.  Some of of these tools fail in known ways that should not stop the build from continuing. For example, `dotnet nuget push` with duplicate packages and other internal tools have specific ExitCodes they return based on the response type. Depending on the exitcode of the used tool, the overall build should or should not continue

[2019-09-05 05:06] #300 closed, assigned to nobody

[2019-09-05 05:22] #270 closed, assigned to nobody

[2019-09-05 17:02] #305 closed, assigned to nobody

[2019-09-06 00:44] matkoch opened #311 "Replace .nuke file with global.json"

[2019-09-10 00:15] matkoch commented on #192
@Liminiens 	sorry for the late response. This should be solved with https://github.com/nuke-build/common/commit/a84642f6ce86852e7389fe5a3e1b9f8e107e413e#diff-6d97f850f2742445eea7c48c99291580

[2019-09-10 00:15] #192 closed, assigned to nobody

[2019-09-15 15:16] alphaleonis commented on #261
I just encountered this problem myself, due to the `[CheckBuildProjectConfigurations]` on the build class, and an old solution file being in a subfolder somewhere in the source directories.  Took the liberty to remedy the problem and submit a PR.

[2019-09-16 11:15] #297 closed, assigned to nobody

[2019-09-16 12:04] matkoch commented on #162
@lshearer 	any findings/progress?

[2019-09-17 18:41] #261 closed, assigned to nobody

[2019-09-17 22:26] #295 closed, assigned to nobody

[2019-09-19 20:15] david-driscoll opened #312 "Issue finding Package Executable when using Microsoft.Build.CentralPackageVersions"
I've run into a strange issue upgrading to `0.22.2` from `0.21.2` which I can't trace down the change in the code that would have caused this to popup.  Note this currently works on `0.21.2` without any errors or problems.

I have created a repository that demonstrates this issue here:
https://github.com/david-driscoll/nuke-gitversion

I'm getting the following error while the build starts up, and

[2019-09-19 20:48] matkoch commented on #312
@david-driscoll thanks for the detailed report. Frankly, the `packages.props` approach was never actually supported. What happened before was that always the latest version would have get picked. There was another change to [support multiple versions of the same tool](https://github.com/nuke-build/common/commit/f364f5bddd1a9b466f0981df29a82fbf043f7619), which is also directly contradictory to your

[2019-09-19 20:52] matkoch commented on #312
Btw, why do you see `PackageDownload` as a workaround to avoid? It's actually the best thing that could happen to nuke, because it avoids putting `PrivateAssets=All` all around.

[2019-09-19 21:54] david-driscoll commented on #312
Mainly around tooling like `dotnet-outdated`, `nukeeper`, etc don't know it exists so it's harder to know when you have outdated dependencies.

Would you consider using `*.deps.json` as a secondary source for version information?  I'd be willing to get a PR out for that if it's something you might take. (Otherwise no point 😄)

Basically we could just look for a `bin/*/**.deps` file relative to the

[2019-09-20 07:47] danielmpetrov opened #313 "NuGetRestore throws Assertion failed: packageDirectory != null"
Hi,

I have a relatively simple .NET Framework Solution that I'm trying to convert from Cake to Nuke.

It contains 1 ASP.NET MVC project, 1 ASP.NET Web API project, and a few class libraries, everything targetting .NET Framework 4.5.2 if that makes a difference.

All the projects use `packages.config` to restore NuGet packages.

I've been reading the `cake.build` file and translating it to C# with

[2019-09-20 08:46] pkudrel commented on #313
Hi,

I can't help you with `NuGetRestore()`, but I can tell you how I deal with the restore task. I use the standalone version of `Nuget`.

[code]

[2019-09-20 09:06] matkoch commented on #313
Please try 0.21.0

[2019-09-20 09:35] matkoch commented on #313
And I assume you're having a similar issue as #312. Otherwise, I need a repro.

[2019-09-20 10:35] danielmpetrov commented on #313
@matkoch Thanks for the help.

The problem was I did not install the `NuGet.CommandLine` package in the `_build` project.

Downgrading to `Nuke.Common 0.21.2` displayed a proper message like so

[code]

After that the build works even with `Nuke.Common 0.22.0`

[2019-09-20 10:37] matkoch commented on #313
The previous assertion message is already back in place.

[2019-09-20 10:37] #313 closed, assigned to nobody

[2019-09-20 10:41] danielmpetrov commented on #313
@pkudrel Thanks for the input.

For my purpose, to simply restore solution packages, the following line works

[code]

My mistake was not installing the `NuGet.CommandLine` package, and Nuke was not outputting a proper message.

[2019-09-20 10:49] matkoch commented on #313
@danielmpetrov btw, the relevant docs are here: https://nuke.build/docs/authoring-builds/cli-tools.html

[2019-09-20 10:55] danielmpetrov commented on #313
@matkoch ah yes, thank you. I had seen that page before creating the issue, I even read the blue note on top, but my brain didn't register. The error message really threw me off.

[2019-09-20 13:42] matkoch commented on #312
I was actually considering that at some point, but also don’t remember why it was discarded. I guess it was conflicting with the “global tool” sharing approach, but afaics this is no longer an issue. So PR is welcome.  Not sure where it would fit in `NuGetPackageResolver`.

[2019-09-22 17:55] alphaleonis opened #314 "Add support for FileLogger and FileLoggerParameters in MSBuildSettings."
MSBuild supports the parameters `-fileLogger` and `-fileLoggerParameters` to enable additional logging to a file.  Would be nice to have these easily accessible in the `MSBuildSettings`.

A suggested interface would be something like the following:
[code]

This should result in the command line:
[code]

[2019-09-22 17:59] alphaleonis commented on #314
I currently don't see a way to autogenerate code for this type of parameter specification. It is quite specialized.  I would be happy to manually implement this and submit a PR if that would be an admissible solution.

[2019-09-22 18:01] alphaleonis opened #315 "Add custom logger for MSBuildTasks that interprets errors and warnings."
Should be implemented similar to the CustomLogger in `DotNetTasks`, to enable capturing of warnings and errors to the Nuke logger.

[2019-09-22 18:02] matkoch commented on #314
`MSBuild.json` would require additional dataclasses, depending on the amount of logger types. Also I suggest to extend code generation to allow some sort of callback, that gets implemented manually (for now) in another partial file. Convenience methods like `ClearLoggers` should be guaranteed.

[2019-09-22 18:04] #315 closed, assigned to nobody

[2019-09-24 18:02] alphaleonis commented on #314
Took a brief initial look at this, and it seems quite doable using the dataClasses and a `customValue` implementation for the actual parameter that is manually implemented.   Don't see the need for an additional callback method at this point, but perhaps I'm missing something?

I'm planning to take a stab at it and submit a PR when done though.

[2019-09-24 23:41] paul42 opened #316 "Interactive mode converts via ReflectionService"
so, not a big deal, but I'm trying to make the build tool as easy to use as possible, if someone doesn't input a variable, the target will prompt them for it, which is great - but if I have a string[] property declared like this:
[code]
and I run this from the command line: `nuke --target PackageLambda` prompts for a string, but I can't input a space, or comma from my current command line (using p

[2019-09-27 11:49] Odirb opened #317 "Update Glob version"
Hello,
When the glob pattern contains a space (such as $"bin/Release macOS/**/*.pdb"), nuke hang with the exception below.
This problem is already fixed in glob repository https://github.com/kthompson/glob/issues/43.

Is it possible to update the nuget package to fix this issues?
Thanks

`Unable` to scan for next token. Stuck on ' '
   at GlobExpressions.Scanner.ScanToken()
   at GlobExpressions.S

[2019-09-27 12:00] matkoch commented on #317
Sure it's possible to update. You can even make a PR for it! And don't forget to star the project :)

[2019-09-27 13:02] Odirb commented on #317
Here it is
https://github.com/nuke-build/common/pull/48

[2019-09-27 17:28] paul42 commented on #316
also not certain if it's the same vein because it's interactive mode, but I don't think you can 'require' Custom Enumeration parameters the same way you require strings - might be helpful

[2019-09-29 19:34] #260 closed, assigned to nobody

[2019-10-01 06:35] #312 closed, assigned to nobody

[2019-10-01 10:50] jgn-epp commented on #296
I'd like to take a crack at this one 🙂

[2019-10-02 03:39] david-driscoll opened #318 "ReportGenerator 4.3.0 breaks the build"
It appears the latest [`ReportGenerator`](https://www.nuget.org/packages/ReportGenerator/4.3.0) is doing some additional multi-targeting (adding `netcoreapp3.0` to it's list).  This appears to be making the `ToolPathResolver` fail.  It doesn't fail today when the previous version because there was only executable in the package, now there are two.

I tried to see if I could find an example of sele

[2019-10-02 05:56] matkoch commented on #318
`SetFramework` :)

[2019-10-02 05:56] arodus commented on #318
netcore3.0 allows building of executables again, because of that there are now multiple ReportGenerator.exe available. I'm pretty sure this will happen more frequently in the future so we probably have to find a way to handle that in Nuke directly (@matkoch).

There is no `SetFramework` available for ReportGenerator but should be similar as for xunit.

[2019-10-02 12:58] david-driscoll commented on #318
Indeed if there was a way to set the framework that is used (if there was a work around I would do that as well)

It fails here https://github.com/nuke-build/common/blob/6f9d87f6114433122f8ea131b92022e3c8d5f6dc/source/Nuke.Common/Tools/ReportGenerator/ReportGenerator.Generated.cs#L33-L35

It should also be possible to infer the framework that will work by looking at the currently executing runtime

[2019-10-02 12:59] matkoch commented on #318
@david-driscoll seems like I've confused it. It's not generated, but manually implemented (for instance for xunit), and it's available from the `ToolPathResolver`.. I will take care in a bit.

[2019-10-02 14:07] arodus commented on #318
@david-driscoll you can set the `ToolPath` manually as a workaround:
[code]

[2019-10-03 01:42] david-driscoll commented on #318
@arodus thanks for the tip! Right now I'm not rush to update I just figured the problem would show up here eventually! 👍

[2019-10-06 11:55] donandren opened #319 "dotNetCoverage not working with TeamCity bundled version of dotCover"
dotNetCoverage import is not working when bundled version of dotCover in TeamCity is incompatible with referenced version of dotCover in build.
for example in my scenario: TC bundled version of dotCover is `2017.2.2`, build project use version `2019.2.2`

example code:
[code]

in order to fix it i needed to manually force TeamCity use same version from build script like:

[code]

this way everythi

[2019-10-09 23:02] bytemarcz commented on #252
Anymore details on this? It looks like we might be able to use the Microsoft Graph API to support messages being sent from Nuke to MicrosoftTeams. By the way, trying to see what I can submit a pull request on for Hacktoberfest!!

Cheers!
Mario

[2019-10-10 15:08] matkoch commented on #252
Always welcome. I can't do anything as I don't have any Microsoft Teams workspaces.

[2019-10-10 17:28] matkoch commented on #319
What error do you get otherwise?

I think this is a good situation for the `PostProcess` extension. I'm just not sure yet, if we should set it right away, or just print out a warning, and suggest the user to add a special attribute `TeamCityAutoChangeDotCoverPath` to the build class.

[2019-10-10 17:40] akunchev commented on #319
that's the first error in teamcity, it's logged after the build is finished:

in Cake can be set right away - https://github.com/cake-build/cake/blob/a0f142af2dfbf18eecc240789529da428cb0d82a/src/Cake.Common/Build/TeamCity/TeamCityProvider.cs#L235-L257

[2019-10-10 17:44] matkoch commented on #319
Actually, I meant `PreProcess` extension point. I will add this for the next version. Thanks for pointing out!

[2019-10-10 18:02] matkoch commented on #319
@donandren / @akunchev I thought about it. I think I'm against setting anything automatically, because it would become impossible to change the behavior to anything else which we don't consider correct. Stating things clear is a better solution in my opinion. However, I still look at this as a common pitfall. What would you think about warning the user in `TeamCity.ImportData`, when `DOTCOVER_HOME

[2019-10-10 18:25] matkoch commented on #319
Attribute as follow. I'm open to different naming suggestions, but I think it should start with `DotCover`. Maybe you could confirm that it works.

[code]

The new assertion in `TeamCity.ImportData` would look like this:

[code]

[2019-10-10 22:08] #317 closed, assigned to nobody

[2019-10-11 11:27] donandren commented on #319
` TeamCity.Instance?.SetConfigurationParameter("DOTCOVER_HOME", DotCoverTasks.DotCoverPath);`
is not working properly :(

proper initialization should be
[code]

btw DotCover might be a private case for all test coverage tools, all other can have potentially same issues:
https://www.jetbrains.com/help/teamcity/manually-configuring-reporting-coverage.html

[2019-10-11 11:30] matkoch commented on #319
Yes, it should be `TEAMCITY_DOTCOVER_HOME`.

I see the issue about other tools, but we currently only support dotCover. Open for PRs though.

[2019-10-11 11:39] donandren commented on #319
`TeamCity.Instance?.SetConfigurationParameter("TEAMCITY_DOTCOVER_HOME", DotCoverTasks.DotCoverPath);` is also not  working properly

[2019-10-12 03:01] matkoch opened #320 "Logging of warnings/errors and printing yellow/red"
<img width="939" alt="image" src="https://user-images.githubusercontent.com/5005566/66693812-5f11a500-ecad-11e9-988f-2d21e1b43d52.png">

[2019-10-13 06:23] SalahEddin opened #321 "Question: building multiple repositories w/ nuke"
My setup uses multiple repositories to build my tool, I have the following folder structure:
|- Engine
---|- Engine.sln
|- Config
---|- Config.sln
|- Runtime
---|- Runtime.sln

Should I place nuke in my Engine repo, or a new build repo?

[2019-10-13 06:29] SalahEddin commented on #321
The docs mention
[code]
that means my `.nuke` will have to be at the root, right?

[2019-10-13 13:29] matkoch commented on #321
Usually the `.nuke` file should be next to the repository root, i.e., `.git` or `.svn`. If you want to build solutions from multiple repositories, I suggest to have an umbrella repository, that automatically clones/updates all its children.

[2019-10-13 15:42] SalahEddin commented on #321
Thanks, do you mean using git submodules by umbrella repo? ?

[2019-10-13 15:45] matkoch commented on #321
Not necessarily. I can’t properly answer your question without knowing your project. Many times it’s a bad decision to split up projects into multiple repositories as you do.

[2019-10-13 15:45] #321 closed, assigned to nobody

[2019-10-20 19:11] Werebunny opened #323 "Nuke.DocFX Not Compatible With Nuke.Common >= 0.22.0"
## Expected Behavior

DocFXTasks methods work with latest versions.

## Current Behavior

[code]

## Possible Solution

Nuke.DocFX needs to be recompiled with latest Nuke.Common.

## Steps to Reproduce

1. Add packages to Nuke build project:
[code]
2. Call:
[code]

## Additional Information

Method signature was changed between version 0.21.2 and 0.22.0:

[code]

Optional parameters don't create o

[2019-10-20 19:20] #318 closed, assigned to nobody

[2019-10-20 19:20] #319 closed, assigned to matkoch

[2019-10-21 16:32] hdougie commented on #310
We also have this in our build process. In particular, the issue has been thrown up when checking in files via tf.exe. The process can throw a non-critical error when there are no actual changes in the checked-in files.

Currently, our build process fails on such errors, when actually, we would like it to continue whilst outputting a warning rather than an error. Currently, the only way I can see

[2019-10-21 19:19] JoshClose opened #324 "Can't find GetTargetFrameworks"
I'm following the example for [How can I test/publish for multiple configurations/frameworks/runtimes?](https://nuke.build/docs/getting-started/faq.html#how-can-i-testpublish-for-multiple-configurationsframeworksruntimes) and `GetMSBuildProject()` doesn't seem to have the method `GetTargetFrameworks()` on it. I can't seem to find any information about this from googling either. Searching this repo

[2019-10-21 20:07] JoshClose commented on #324
I found that there is a `GetTargetFrameworks()` method on `project` that I can use. I tried that out and am getting an error now:

[code]

[2019-10-21 20:36] JoshClose commented on #324
I was able to get this to work by adding nuget package `Microsoft.Build` version `16.3.0`.

[2019-10-21 20:36] #324 closed, assigned to nobody

[2019-10-21 22:49] matkoch commented on #324
That's probably #295, which will be fixed in 0.23.0.

Please consider giving the project a star :)

[2019-10-22 09:00] danielmpetrov opened #325 "DotNetPack::SetDescription - comma breaks the build"
Setting a NuGet package description that contains a comma breaks the nuke build.

[code]

[code]

Same issue is described here - https://github.com/Microsoft/msbuild/issues/2999, a solution is to escape commas with `%2c`. The following line works as intended.

[code]

Maybe this is something Nuke should handle for us.

Other relevant docs:
- https://docs.microsoft.com/en-us/visualstudio/msbuild/ms

[2019-10-22 11:31] GeorgDangl commented on #325
I’ve got something that I use for this in the Nuke.GitHub package: https://github.com/GeorgDangl/Nuke.GitHub/blob/develop/src/Nuke.GitHub/ChangeLogExtensions.cs#L26

[2019-10-22 15:23] matkoch opened #326 "Improve CLI task code generation"
- [ ] Add `Action<int, IReadOnlyCollection<Output>>` parameter that can be set via `SetExitCodeHandler`, or `ToolTasks.ExitCodeHandler`, or `Tool(..., exitCodeHandler)`
- [ ] Add map of characters to escape for `Arguments`
- [ ] Add `requiresFramework` parameter in JSON, which would generate a `ToolTasks.ToolFramework` field
- [ ] Add argument formatter (#777, #784)
- [ ] Make file links in schema

[2019-10-22 15:23] matkoch commented on #325
#326

[2019-10-22 15:23] #325 closed, assigned to nobody

[2019-10-22 15:23] matkoch commented on #310
#326

[2019-10-22 15:23] #310 closed, assigned to nobody

[2019-10-22 15:33] matkoch commented on #285
Should be fixed now.

[2019-10-22 15:33] #285 closed, assigned to nobody

[2019-10-22 15:35] matkoch commented on #288
#326

[2019-10-22 15:35] #288 closed, assigned to nobody

[2019-10-22 15:38] #156 closed, assigned to nobody

[2019-10-22 15:39] matkoch commented on #126
#326

[2019-10-22 15:39] #126 closed, assigned to arodus

[2019-10-22 21:37] rlove opened #327 "Nuke.Common _Build Generate Target - changes files incorrect when using a fork."
The goal was able to build the Nuke so I can assist in an awesome project.

### Steps to reproduce

1. Fork Repository
2. Clone Locally
3. Run `./build.ps1 Generate`

### Expected Results

No changes in `source/Nuke.CodeGeneration/schema.json`
No changes in `source/Nuke.Common/Tools/**.cs`

### Actual Results
Changes in `source/Nuke.CodeGeneration/schema.json`
[code]
Example changes in `source/Nuk

[2019-10-23 12:05] matkoch commented on #327
#326

[2019-10-23 12:05] #327 closed, assigned to nobody

[2019-10-23 18:43] JoshClose opened #328 "Solution has an active build configuration for _build.csproj"
I can't for the life of me figure out how to get this error message to go away. I setup a new build and running nuke gives me this error. I went to the properties of the solution and unchecked `Build` for all configuration and platforms for project `_build` and it's still happening. I don't know what to do from here.

I created a branch with these changes in it for you to look at.

https://github.

[2019-10-23 19:01] matkoch commented on #328
I suppose you’ve added the build project manually to your solution, which
results in a build configuration to be added by default. This should not be
the case, as it eventually results in the build project trying to build
itself, which in turn will result in MSbuild trying to overwrite the
assembly that’s currently in use.

On Wed 23. Oct 2019 at 20:43, Josh Close <notifications@github.com> wrote:

[2019-10-23 19:06] JoshClose commented on #328
I used `nuke :setup` to configure it. Here is a branch from before running setup.

https://github.com/JoshClose/CsvHelper/tree/nuke-build

I ran `nuke :setup` and then `nuke clean` gives me that error.

[2019-10-23 19:08] JoshClose commented on #328
![image](https://user-images.githubusercontent.com/114971/67425855-79e1f480-f59e-11e9-9c29-9164bf1e0cdd.png)

[2019-10-23 19:12] matkoch commented on #328
Okay, but that's a different error now, right? I suppose your solution file is "corrupt", meaning that some build configurations exist, where no matching project is present. We should handle that more gracefully. Marking as bug for now.

[2019-10-23 19:14] matkoch commented on #328
Have you modified the branch already? I thought the `_build` project was in the solution file.

[2019-10-23 19:15] JoshClose commented on #328
Before setup: https://github.com/JoshClose/CsvHelper/tree/nuke-build
After setup: https://github.com/JoshClose/CsvHelper/tree/nuke-build-error

[2019-10-23 19:16] JoshClose commented on #328
This is what I was getting before, so I thought that error was a part of the message.

![image](https://user-images.githubusercontent.com/114971/67426422-ad714e80-f59f-11e9-98ae-f9156f7d048b.png)

[2019-10-23 19:17] JoshClose commented on #328
I did rip out a bunch of Cake build stuff, so it doesn't surprise that the solution file may be corrupt.

[2019-10-23 19:28] JoshClose commented on #328
I just created a brand new solution from scratch and I'm getting that same exception. It's like it doesn't like my folder structure or something.

[2019-10-23 19:45] JoshClose commented on #328
The `unity` folder has a solution file in it. I moved the solution file to the root and the error still happens. If I delete the `unity.sln` file completely, it works. It's definitely possible the unity solution file is corrupt. I'll have to check into that.

[2019-10-23 19:58] matkoch commented on #328
@JoshClose ah great, thanks for the notice. You can also remove the attribute, if you want. It's just there to catch a common problem, when people added the build project manually. I will check what we can do about the empty `unity.sln` file. Btw, what is it for anyway?

[2019-10-23 20:06] JoshClose commented on #328
It was to build assets for CsvHelper so it could go into their store. I don't know why it's empty... It's been a long time since I've looked at it. The Unity store rejected it anyways because there wasn't enough documentation or something with it. After that, I haven't looked at it. People can just download the netstandard2.0 version and include it in their projects. It would be handy for them to

[2019-10-24 06:59] RobSmyth commented on #300
Hi matkoch,

Sorry I have not given this the attention I should have. But coming back to this issue it looks like you have redefined my issue as being about command line argument having precedence over an environment variable and that has been fixed. Thank you.

The fix done is good but it is a work around and does not fix the issue I reported. We are building by a command "nuke" (without paramete

[2019-10-25 16:08] Techcadia opened #329 "Resource name for Build.cs"
After running
[code]

Which is https://github.com/nuke-build/common/commit/4adeb02908b4dbb2e7c040fc80dc09c58f751cc7

I run
[code]
The application just crashes.

My assumption is that https://github.com/nuke-build/common/blob/develop/source/Nuke.GlobalTool/templates/Build.cs does not get compiled into the system.

[2019-10-25 20:51] matkoch commented on #329
https://github.com/microsoft/msbuild/issues/4852

[2019-10-30 18:40] Techcadia commented on #329
Confirmed the beta works correctly.

[2019-10-30 19:17] #323 closed, assigned to nobody

[2019-10-30 19:21] matkoch commented on #300
Except from unsetting the environment variable or explicitly passing the targets, I guess you can't do anything. For the 1.0 release, we will introduce `NUKE_` prefixes (see #242)

[2019-10-30 19:23] matkoch commented on #325
@danielmpetrov I know everyone has their own preferences, but for my taste I think the description should rather be set in the project file.

[2019-10-30 19:32] danielmpetrov commented on #325
@matkoch That's true. I'm still not used to the new csproj format honestly. :sweat_smile:

[2019-10-31 02:25] RobSmyth commented on #300
Yes the NUKE_ prefix is a solution to the bug. Given that you have that on a todo list I do not think an open issue is necessary.

Thanks.

[2019-11-01 09:59] Xeinaemm opened #330 "Working self-contained executable via .NET Core 3.0"
Hey,

Today I've tested that it's possible to create a self-contained executable of a nuke.
Params for _build.csproj
[code]
Command:
[code]

Trimming it's not possible because nuke use reflection so the initial build has 85MB rather than 75MB.
At this approach, I can put executable inside folder without any additional files and say the CI to run the process.

The question, it's compatible with the

[2019-11-01 10:08] matkoch commented on #330
Should be. Have you tried it?

[2019-11-01 10:09] matkoch commented on #330
_And please give the project a star_ 🙂

[2019-11-01 10:20] Xeinaemm commented on #330
From my point and my targets, yes.
Keeping this simple, everything needed is inside a project?

I just wonder that under the hood NUKE doesn't have any external features that can break program ie. download files, linking, importing that coming from outside of the project.

I'm comparing this to Cake where automagically process can download files and break due to proxy restrictions, permissions, et

[2019-11-01 10:33] matkoch commented on #330
Keeping this simple, everything needed is inside a project?

The only outside thing you need is the  `.nuke` file or to pass `--root` to your invocation.

It does, but not in conjunction with global tools.

I would argue that automatically downloading files is a very bad idea, since you're builds are not deterministical anymore.

[2019-11-01 10:33] #330 closed, assigned to nobody

[2019-11-02 11:43] DanScottNI opened #331 "Fluent Migrator global tool not writing to console"
I'm using fluent migrator's global tool, installed on a path within my project (usually "/tools/FluentMigrator.DotNet.Cli". (policy reasons for this)

Because it doesn't always exist at build start, I'm just executing the runner through ProcessTasks.StartProcess. (relatively new to Nuke, so I'm not sure if this is the correct way to do this either)

However, I'm not getting any output to the conso

[2019-11-02 13:58] Xeinaemm commented on #330
I found a bug in this approach. When publishing an app with
[code]
NukeBuild.BuildProjectDirectory broke on resolve path by returning null in these lines:

https://github.com/nuke-build/common/blob/develop/source/Nuke.Common/Execution/BuildManager.cs#L54-L57

with stack trace:
[code]

In single file, the runtime cannot find where the process resides so this line will not work:
https://github.com/n

[2019-11-02 14:59] Xeinaemm commented on #330
I found all occurrences of this problem, prepare PR to check.

[2019-11-02 15:04] matkoch commented on #331
What do you by _doesn't alwats exist at build start_ ?

[2019-11-02 15:09] DanScottNI commented on #331
I do an install of the global tool using the tool path argument. The tools directory isn't in git so the build actually installs it if it doesn't exist.

[2019-11-02 15:32] matkoch commented on #331
Why aren’t you adding it as dependency for the build project?

On Sat 2. Nov 2019 at 17:09, Dan Scott <notifications@github.com> wrote:

[2019-11-02 15:43] DanScottNI commented on #331
Is that possible if it's a nuget tool package?

My work machine has an applocker policy applied to it so that most things outside of program files or the visual studio project directory cannot be run.

[2019-11-02 16:26] matkoch commented on #331
Tool packages can be referenced in the same way. Either as packagereference
with excludeassets attribute, or as packagedownload item.

You can also use the LocalExecutableAttribute. Should work with absolute
paths too. Please note that StartProcess does exactly what it says -
starting the process. If you want to wait for it to exit, call
AssertZeroExitCode or something like that.

On Sat 2. Nov 20

[2019-11-02 16:43] DanScottNI commented on #331
Would that help with whatever is suppressing the tool's output?

Good tip about the zero exit code assertion, thanks!

[2019-11-02 16:49] matkoch commented on #331
As I said, it’s probably not waiting for output.

On Sat 2. Nov 2019 at 18:43, Dan Scott <notifications@github.com> wrote:

[2019-11-02 17:08] DanScottNI commented on #331
Apologies, I must have missed that.

Thanks for your help. I'll test it out later but I'm confident that you're right - it is definitely not waiting for the result.

Would also explain why my failed builds on Jenkins are sometimes locking up.

[2019-11-03 18:35] #331 closed, assigned to nobody

[2019-11-03 18:36] matkoch commented on #331
For other questions I recommend to join our slack workspace. And please also add a star for the project :)

[2019-11-03 20:20] Xeinaemm opened #332 "Manage many solutions at once"
I have 50+ systems to manage so creating for each build project is cumbersome for common targets (clean, restore, build, pack, create IIS farm, reconfigure environment, update packages, apply actual runtimeBindings for legacy web projects).

NUKE should have the option that by default enable ```--root``` and turns into "searching" mode for a solution to execute on them by filling ```--solution```

[2019-11-04 11:30] FinHorsley opened #333 "namespace 'Nuke' could not be found"
Just getting started with Nuke, but when i open the build project in VS4Mac/VSCode the Nuke namespaces cannot be found

[code]

If i run `./build.sh` the build restores and executes correctly. Also if i make changes to build.cs, for example adding `Console.Writeline("Hello world")` to one of the targets, these changes are reflected in the build output

<p align="center">
<img src="https://user-ima

[2019-11-04 18:45] david-driscoll commented on #333
ensure your `TargetFramework` is `netcoreapp3.0`

[2019-11-04 22:01] FinHorsley commented on #333
@david-driscoll just checked, everything targetting `netcoreapp3.0` `<TargetFramework>netcoreapp3.0</TargetFramework>`

[2019-11-04 22:06] matkoch commented on #333
The attached zip content is completely broken. You have a `Program.cs` and there is no reference to `Nuke.Common`.

[2019-11-04 22:06] #333 closed, assigned to nobody

[2019-11-04 22:09] FinHorsley commented on #333
All the Nuke build code is in the `build` folder, the `build.csproj` has the references to `Nuke.Common`. Executing `./build.sh` successfully runs the nuke build process

![image](https://user-images.githubusercontent.com/10697741/68162372-c7237600-ff4f-11e9-9522-9c204e86ba58.png)

[2019-11-04 22:11] matkoch commented on #333
You're editing the `Build.cs` file in context of `NukeBuildTest.csproj`, which is the wrong project file. However, `_build.csproj` is not added to the solution.

[2019-11-04 22:16] matkoch commented on #333
In other words: there must be no `csproj` file in any parent path of the build project. SDK-based projects include all descendent C# files automatically.

[2019-11-04 22:17] FinHorsley commented on #333
Ah, ok 🙂

I'm now lost as to what I did wrong during installation. I followed the following steps
1) `dotnet tool install Nuke.GlobalTool --global`
2) `dotnet new console -n NukeBuildTest`
3) `cd NukeBuildTest/`
4) `nuke :setup`
5)  used the defaults for all configuration options

This created a separate `build/` folder, which is what you see above (including the _build.csproj, etc.)

[2019-11-04 22:19] matkoch commented on #333
Youre _fault_ is to have a project file in the root directory of your repository, next to the solution file. This issue is not specific to nuke, and you would have issues with _any_ other additional csharp project file.

[2019-11-04 22:21] matkoch commented on #333
I suppose you've only tested things in a dummy project, but no real solution – to my knowledge – will have a `csproj` file be located below another `csproj` file.

[2019-11-04 22:23] FinHorsley commented on #333
Thanks, think i see what you mean 🙂

so the project outline should look like the following...
[code]

#### Updated - see comment below
(For anyone else having the same problem in the future)
[code]

[2019-11-05 11:24] matkoch commented on #332
Hi @Xeinaemm, I do understand the general issue about managing many solutions, but on some parts what you've said, I don't follow. The `.nuke` file doesn't execute something, and is also not responsible for a default target. In general, it only marks the repository root – usually next to `.svn` or `.git` directories.

I guess it would make more sense to have a discussion or Slack or via voice call

[2019-11-05 11:27] matkoch commented on #333
I'd rather suggest to have the solution file, `build`, and `src` on the same level.

@CalebRollins please also star the project if this was of matter for you.

[2019-11-05 12:56] alphaleonis opened #334 "MSBuildToolPathResolver fails to find MSBuild installed in a non-default location."
We have some computers where Visual Studio (2017) is installed in a location other than the default.  In this instance it is installed on the `E:\` drive. In this case, MSBuildTasks commands do not work, because the tool path resolver has the program files folder hard-coded.

Suggest perhaps using VSWhere to locate MSBuild instead, which seems to be the recommended way from Microsoft?

[2019-11-05 13:15] matkoch commented on #334
Using `VSWhereTasks` would require the `vswhere` package to be added to the build project. To me this would be kind of a messed up situation, where adding a package magically resolves paths differently. Therefore I'm voting for having to use `SetToolPath` and `VSWhereTasks` manually in case someone installs the product in a non-default path.

[2019-11-05 13:29] alphaleonis commented on #334
In that case, how about using the official MSBuildLocator package from MSBuild?  Since there are official implementations that locate MSBuild, wouldn't we be better of using those than trying to re-invent the wheel in Nuke? (Also would have to update the resolution in Nuke every time a new VS-version (including previews) are released)?

[2019-11-05 14:12] matkoch commented on #334
how is it different to vswhere?

On Tue 5. Nov 2019 at 14:41, Peter Palotas <notifications@github.com> wrote:

[2019-11-05 19:07] Xeinaemm commented on #332
Correct, and going forward you can suppose that inside folder is build project and deal with that to extend functionality. The question is, it's possible to invoke NUKE by another NUKE or somehow find compiled targets to invoke?

Another thing is that when I looked inside the implementation of default paths(working, root, temp etc.), DirectoryBuild, ToolPathResolver in depths, they strictly follow

[2019-11-05 20:42] alphaleonis commented on #334
Nuke.Common already has dependencies to other Microsoft.Build.XXX NuGet packages, what would be the problem of having a dependency also on Microsoft.Build.Locator to properly locate the available versions?

[2019-11-05 23:15] matkoch commented on #334
If it resolved fine for older versions and different editions too, I’m okay
with it. Can you make a PR?

On Tue 5. Nov 2019 at 21:42, Peter Palotas <notifications@github.com> wrote:

[2019-11-07 12:10] Rookian commented on #318
@arodus You mixed up the given parameters.
The correct call should be:
[code]
This is quite ugly, but it works.

Does Nuke support the new "local tools" option in Dotnet Core 3.0?

[2019-11-07 12:51] matkoch commented on #318
@Rookian time for a new issue. The given one is resolved with 0.23.0. And please also star the project 😉

[2019-11-07 13:08] vchirikov opened #335 "TeamCity integration"
* You should add possibility to change Kotlin DSL version. Not all customers use latests TeamCity. Workaround:
[code]
* Do we have the option for add \ change generation of dsl config? Because in develop branch only that I found is a fully commented file with `TeamCityConfigurationGenerator` and `BEGIN USER FUNCTIONS` marker that shouldn't works, right?

[2019-11-07 13:33] matkoch commented on #335
First of all, please star the project.

Putting another kotlin version in the header should probably be configurable via property on `TeamCityAttribute`. You're free to create a PR, or I will see later.

The commented file `TeamCityConfigurationGenerator` is a leftover. Currently, there's no way to modify the generated script other than the `AutoGenerate = false` opt-out.

[2019-11-07 14:01] vchirikov commented on #335
https://github.com/nuke-build/common/blob/377325c7498a8b1cd9a2881fa7f447a333a70de7/source/Nuke.Common/CI/TeamCity/Configuration/TeamCityConfiguration.cs#L18

So you should change this line too.

[2019-11-07 17:10] #335 closed, assigned to nobody

[2019-11-07 19:58] vchirikov commented on #335
Weird work with community, I point out confusing messages, missing information in documents and a hard-coded version in the implementation, but you just mark as a question and close it. So how I can track this changes? Your tool isn't bad, but really isn't production ready.
p.s. not only tc integration and docs, also too flexible api for same things (for example I see 3 different methods to set so

[2019-11-07 23:12] vchirikov opened #336 "NuGetPackageResolver bug"
If intermediate path isn't standard, nuke throw exception.
Here I have gotten `NullReferenceException` for example.
https://github.com/nuke-build/common/blob/develop/source/Nuke.Common/Execution/BuildManager.cs#L57
Main problem that author like static classes with static properties that, so I can't use nuke with nonstandard output paths. (I use project structure from Microsoft) and can't make work

[2019-11-07 23:13] #336 closed, assigned to nobody

[2019-11-07 23:16] matkoch commented on #336
I’m sorry you can’t change your project structure. I can’t change any of that implementation, unfortunately.

[2019-11-08 00:21] matkoch commented on #335
Funny, I had the same thought when you started that issue with _you should_. Sorry, but I really have no fun interacting with someone in that manner repeatedly. I wish you all the best finding a build tool that is production-ready.

[2019-11-08 05:04] vchirikov commented on #336
So your code just will throw NRE, rather read property from Directory.Build.props / csproj. Good job.

[2019-11-08 07:20] Elufimov opened #337 "Target netcoreapp2.1"
After update our internal base build library that was target netstandard 2.0 I found that new version of Nuke.Common targets netcoreapp3.0. This force us to stay on 0.22.2 or leave Nuke because we have multiple application with locked sdk on 2.1. What is wrong with netstandard 2.0 that can be used in dotnet core 2.X and and higher?

[2019-11-08 09:18] matkoch commented on #337
For several reasons:

- C# 8 language features
- `Microsoft.Build.*` dependencies
- `PackageDownload` feature

Are you planning to stay on 2.1 forever? That doesn’t sound like a good idea.

[2019-11-08 11:17] Elufimov commented on #337
dotnet core 2.1 is a LTS release and will have support until 2021 (At least three years from LTS declaration (August 21, 2018)) https://dotnet.microsoft.com/platform/support/policy/dotnet-core. Not everyone can adopt every new version, especially released one month ago.

[2019-11-08 11:24] matkoch commented on #337
I suggest compiling your build with 3.0.100 and your other projects with
the older SDk. That’s possible using global.json.

On Fri 8. Nov 2019 at 12:17, Michael Elufimov <notifications@github.com>
wrote:

[2019-11-08 11:46] Elufimov commented on #337
Yes, it is possible, but it leads to unnecessary pressure to development/qa/devops team. SDK is one of dependencies and this is strange to update it to new major version only for build dependency. This is an open source project and I cant demand anything, however for me it is strange to not support at least a lts versions of sdk for a build library. Be on the cutting edge of new versions crashing

[2019-11-08 11:49] matkoch commented on #337
What bugs are troubling you in 0.22.3? And what exactly results in
unnecessary pressure?

On Fri 8. Nov 2019 at 12:46, Michael Elufimov <notifications@github.com>
wrote:

[2019-11-08 11:58] Elufimov commented on #337
Nothing troubles me in 0.22.3, I just wanted to update it as part of adding a new function to our internal build framework use Nuke.

Work that need to be done by people. This is a technical debt, that will take time from teams, and time is money.
As I said we can stay on 0.22.3, but this is disturbing that this project can drop support o sdk that will be supported by Microsoft within another 2 ye

[2019-11-08 12:05] matkoch commented on #337
It is literally creating two global.json files? I don’t understand how this
can be so complicated.

On Fri 8. Nov 2019 at 12:58, Michael Elufimov <notifications@github.com>
wrote:

[2019-11-08 12:12] Elufimov commented on #337
As I can remember dotnet cli looking for global.json in current working directory. I need to rewrite default build.ps1/sh files and call nuke not from root directory because IDE will use the root one. But this need to be tested and looking not that simple. Or I don't really understand you.

[2019-11-08 12:52] matkoch commented on #337
I'm sorry, but I have a little issue with the sentiment here. You're saying that 0.22.3 works for you without issues. If there really was a bug, that would be a different discussion, as we still can do hotfix releases. Okay. Now you want to integrate new features from 0.23.0. Alright, the same goes for me about C# 8 language features (but also because `Microsoft.Build` now requires `netcoreapp3.0`

[2019-11-08 13:58] Elufimov commented on #337
It is you right to do what ever you want, and I do not mean to oblige with some sort of service. All I want to see why you discard huge part of actual skds. And if you clearly do not want to make a conversations about how to overcome using new version of nuke on current lts sdk I will only add this. All c#8 features will work only on dotnet core 3.0 and you will need drop net472, or use portion of

[2019-11-08 16:05] matkoch commented on #337
lets try https://github.com/nuke-build/common/tree/feature/netcoreapp2.1

[2019-11-08 16:48] Elufimov commented on #337
Thx for this branch! I will certainly give it a try on monday!

[2019-11-08 16:51] dasMulli commented on #337
Pinning an SDK to an older version is tricky and can also have some unintended side-effects. For example, there are two currently supported versions for building .NET Core 2.1 apps (2.1.6xx and 2.1.8xx - both are latest versinos) that only differ in the MSBuild, NuGet, compiler and test platform versions being integrated - one for VS 2017 and one for VS 2019. In theory it is possible to use the 2.

[2019-11-08 17:12] Elufimov commented on #337
@matkoch do you have a nightly builds?
@dasMulli

CI in docker container that have only dotnet core sdk allows do not think about difference in different versions of VS. Also one can use rider or even vs code and does not have VS at all.

There is a trick that nuke is in fact a part of the main solution and, in normal circumstances, builds under solution wide sdk. And this is the main selling poin

[2019-11-10 14:16] alphaleonis commented on #334
Unfortunately it turns out that Microsoft.Build.Locator will not work for this purpose as I originally had assumed. Mainly because of the problem described microsoft/MSBuildLocator#61 which they will not "fix".

I still think we need to provide a better way to locate MSBuild instances out of the box though, because of the great hassle of actually finding them.  (MSBuild instances can be found with

[2019-11-14 11:35] netclectic opened #338 "GitVersion Framework"
- Targeting a mix of .Net Core 2.2 / 3 / 3.1 and .Net Standard 2
- Nuke Global Tool 0.23.3
- NUKE Execution Engine version 0.24.0-alpha.138
- GitVersion Global Tool 5.1.2

I get the following error with my build...

How do I go about setting a framework for GitVersion?

[2019-11-14 11:46] matkoch commented on #338
Can you please provide a repro?

[2019-11-14 12:18] netclectic commented on #338
Putting together a repro I noticed the new build project was using a 'PackageDownload' for 'GitVersion.Tool' whereas I was using a regular package reference for GitVersion.CommandLine.

Changing my build project to be the same has resolved the issue.

Thanks!

[2019-11-14 20:40] RLittlesII commented on #162
@matkoch I see 500 stars and still no parallel execution?!

https://nukebuildnet.slack.com/archives/C9Q99MFU0/p1550410859094700

[2019-11-14 20:41] matkoch commented on #162
/kickban

[2019-11-15 12:43] johanclasson opened #339 "Cannot run nuke application after dotnet publish"
## Background

While using nuke for running deploys I would like to package the nuke console application while building, and run that console application at a later time (when appropriate) to make the deployment. I think It would be nice to not have to compile stuff in the deployment stage in my process.

But when I attempt to run the published application, I get a strange error:

[code]

The issu

[2019-11-15 22:20] matkoch commented on #332
I think it would be better to discuss this on Slack.

[2019-11-16 14:32] matkoch commented on #339
Can you please check if it's fixed?

[2019-11-16 14:32] #339 closed, assigned to nobody

[2019-11-16 14:32] #338 closed, assigned to nobody

[2019-11-16 18:38] johanclasson commented on #339
Yes! Publish works now!

[2019-11-18 07:52] johanclasson opened #341 "AzurePipelines PublishTestResults joins with comma and space"
Just before 0.23.0, the `resultFiles` parameter of PublishTestResults became joined by comma and space (`, `) instead of just comma (`,`).

https://github.com/nuke-build/nuke/blob/5c807b099e9ba7be2c561247e0808314cc10a7e0/source/Nuke.Common/CI/AzurePipelines/AzurePipelines.cs#L170

For me, running a build on a Windows2019 hosted agent failed when it tried to do:
[code]

## Workaround

[code]

[2019-11-18 07:53] johanclasson opened #342 "AzurePipelines PublishCodeCoverage as codeCoverageTool misspelled"
When i try to use PublishCodeCoverage (from the development branch) i get:

[code]

To fix this, `"coverageTool"` below needs to replaced with `"codeCoverageTool"`.

https://github.com/nuke-build/nuke/blob/af3b18025f187f9ee9b5988c0fb2cff2643ca303/source/Nuke.Common/CI/AzurePipelines/AzurePipelines.cs#L148-L154

Also, the `additionalCodeCoverageFiles` parameter of PublishCodeCoverage needs to be jo

[2019-11-18 11:05] #341 closed, assigned to nobody

[2019-11-18 11:05] #342 closed, assigned to nobody

[2019-11-18 11:06] matkoch commented on #341
Thanks for your contribution! 😄🎉

I fixed both issues on develop.

[2019-11-18 14:42] robsonj opened #343 "MSBuildTasks.MSBuild fails on Teamcity"
In Nuke.Common 0.23.x, the teamcity properties were changed in the nuke infrastructure to have a dot notation instead of underscore, so teamcity property names which are used by nuke.common went from...

TEAMCITY_DOTNET_MSBUILD_EXTENSIONS4_0

to

teamcity.dotnet.msbuild.extensions4.0

This is a good change, the names now reflect what you see in teamcity, however...

The property above in particula

[2019-11-18 14:44] #343 closed, assigned to nobody

[2019-11-18 14:45] robsonj commented on #343
Closed?

[2019-11-18 14:46] matkoch commented on #343
v0.24.0

[2019-11-18 14:48] robsonj commented on #343
Ok, the change is so minor, no way it can be merged to 0.23.x so we can upgrade from 0.22.x ?

[2019-11-18 14:49] robsonj commented on #343
I don't see anything in 0.24.0 that covers this. this is using msbuild.exe, not dotnet msbuild

[2019-11-18 14:51] matkoch commented on #343
Take a second look

[2019-11-18 14:52] robsonj commented on #343
Ok, the change is so minor, no way it can be merged to 0.23.x so we can upgrade from 0.22.x ?

[2019-11-18 14:53] matkoch commented on #343
Please wait for the next release.

[2019-11-18 14:55] robsonj commented on #343
Is there an ETA on 0.24.0 please? trying to decide if we need to fork

[2019-11-18 14:56] matkoch commented on #343
No

[2019-11-19 00:43] matkoch commented on #332
I will close this issue for now but will await your contact!

[2019-11-19 00:43] #332 closed, assigned to matkoch

[2019-11-19 00:43] #209 closed, assigned to matkoch

[2019-11-20 12:11] mortengjesing opened #345 "Assertion on PathExecutable should optional"
### Description
Would like a way to manually check PathExecutable in code. At the moment this code
[code]
TThrows this error `Assertion failed: Could not find 'chmod' via 'C:\Windows\System32\where.exe'.` it should be possible to do a null check in build code.

Something like this
[code]

[2019-11-20 21:24] MichaelSL opened #346 "TeamCity env variables parser error"
### Description
Build is failing on Team City when trying to parse env variables. I believe this is because I have several `=` in the variable

### Steps to reproduce
I have several variables with `=` in the name in TC:

[code]

### Relevant log output

[code]

### How to fix?
The easy workaround for me might be just changing `var index = line.IndexOf(value: '=');` to `LastIndexOf` in `TeamCity` c

[2019-11-21 22:26] matkoch commented on #346
I don't really understand why you would use the equals sign inside environment variable keys?!

[2019-11-24 18:10] JoshClose opened #348 "launchSettings.json is included in NukeSpecificationFiles"
I set up a parameter for `--project` so I could easly specify which project to build.

[code]

[code]

The first build works, and all subsequent builds give an error.

[code]

There is a workaround by either commenting out
[code]
from the `_build.csproj` file, or by adding `launchSettings.json` to the `Exclude`.

[2019-11-25 12:53] johanclasson opened #349 "Cannot set TestCaseFilter with the operators != or ~"
### Description

Since the test case filter is set through supplying a dictionary of `testCaseFilterKey` and `testCaseFilterValue`-properties, and that the operator is fixed to `=`, I cannot use the other operators `!=` and `~`. This makes it hard to use filters such as for example `Category!=Integration`.

Since I have lots of in-memory tests and only a few integration-tests I think it is easier

[2019-11-25 14:49] AutumnEvans418 opened #350 "build.ps1 not installing .net core 3.0.100"
### Description
The build script does not install the .net core version.
### Steps to reproduce

1. Add a global.json with sdk 3.0.100
[code]
2. Run the build script on a machine that does not have .net core 3.0.100
[code]

### Relevant log output

[code]

### What I have tried

Changing these lines sometimes fixes the issue,
[code]

### Other Issues
I get other issues as well.  Even though I inst

[2019-11-25 15:47] matkoch commented on #350
For reference: https://github.com/dotnet/sdk/issues/2334

On Mon 25. Nov 2019 at 16:49, Chris Evans <notifications@github.com> wrote:

[2019-11-25 15:50] matkoch commented on #350
I’m currently looking at this myself. You can either help finding an actual solution, or you just install the SDK unconditionally.

[2019-11-25 16:27] AutumnEvans418 commented on #350
I changed the following and it seemed to help me get a little further:
Now when it installs, dotnet is added to the path variable.  However, now I'm getting errors about MSBuild not being the correct version.
[code]

### MsBuild errors

[code]

Now looking for a way to install the corresponding MSBuild version

[2019-11-25 19:50] razenpok opened #351 "Prettify configuration name in TeamCity"
### Description

It would be cool if I could have "Cook Asset Bundles" as a TeamCity configuration name instead of "CookAssetBundles" for `Target CookAssetBundles`

![image](https://user-images.githubusercontent.com/8434406/69572772-e43ee800-0fd5-11ea-8c34-6004fc186b29.png)

[2019-11-26 06:53] matkoch commented on #349
I’ll change it to `List<string>`. Btw, there us also `SetArgumentConfigurator`.

[2019-11-26 06:53] #349 closed, assigned to matkoch

[2019-11-26 06:55] matkoch commented on #350
Not related to nuke. There’s an MSBuildTools package to install somewhere. Or you switch to using `dotnet msbuild`.

[2019-11-26 06:57] matkoch commented on #351
You can achieve that by inheriting from the TeamCity attribute and overriding the method to create build types.

[2019-11-26 06:57] #351 closed, assigned to matkoch

[2019-11-26 08:03] matkoch commented on #350
Btw, please star the project 😉

[2019-11-26 12:02] AutumnEvans418 commented on #350
@matkoch thanks i'll try the dotnet msbuild!

[2019-11-26 12:35] razenpok opened #353 "Configurable Unity version"
### Description

Ok, so I've set up automated builds which involve Unity, works really well so far. Really loving the generation of TeamCity configs based on targets.

Unity has a Unity Hub application which is like a JetBrains Toolbox but which allows side-by-side installation of multiple Unity versions.
https://unity3d.com/get-unity/download

Hub path on my machine (Win 10 x64) looks like this:

[2019-12-05 08:33] totollygeek commented on #345
This by the way, I also had to struggle with. Since I use the same Nuke build on a couple of build agents. Only on one of them I use `docker-compose` as a tool. Because of that, it fails on the others, since the tools is not needed. But even if it is not accessed, it tries to load it on startup. So the question is. Do we need it to be `AllowNull` or do we just need to initialize it in a lazy manne

[2019-12-05 17:11] pslotvinski opened #355 "Type of GitVersionSettings.UpdateAssemblyInfoFileName is incorrectly defined as Nullable<bool> while string is expected"
### Description
Here is how GitVersion defines the _"/updateassemblyinfofilename"_ command line option:
[code]
### Steps to reproduce
[GitVersion.Generated.cs](https://github.com/nuke-build/nuke/blob/develop/source/Nuke.Common/Tools/GitVersion/GitVersion.Generated.cs) defines the corresponding property as follows:
[code]
This makes _UpdateAssemblyInfoFileName_ property (and corresponding _SetUpdat

[2019-12-06 11:01] matkoch commented on #355
PR please

[2019-12-06 21:32] MichaelSL commented on #346
Unfortunately I don't control TeamCity server configuration. This params are set on a root project level for all build agents.

Do you think it is safe to use last value found in config when reading TC params? Like overwrite the value if the key is already present in dictionary?

[2019-12-12 08:35] gianpaolof opened #356 "broken link on contributors list"
hi
if you click on the contributors picture, the link does not exist:

https://github.com/nuke-build/nuke/blob/develop/CONTRIBUTORS.md

[2019-12-12 16:49] matkoch commented on #356
Thanks!

[2019-12-12 16:49] #356 closed, assigned to matkoch

[2019-12-12 16:54] ymalich opened #357 "GetProperty<T>(..) throws an exception if CoreSdk 3.1.100 is installed"
The extention method ProjectExtensions.GetProperty<T>(this Project project, String propertyName) throws the Exception "The expression ""..\GlobalAssemblyInfo.cs".GetPathsOfAllDirectoriesAbove()" cannot be evaluated", by opening an old format project file contains the linked item.

[code]
The exception is being thrown only if the core sdk 3.1.100 is installed.
If only core sdk 3.0.100 is installed

[2019-12-12 21:25] JoshClose opened #358 "GetTargetFrameworks throws exception in .NET Core 3.1.0"
I get this exception when running `nuke Publish --configuration Release` after upgrading to .NET Core 3.1.0

[code]

Here a project that reproduces the issue. https://github.com/JoshClose/NukeBuildIssueWithCore31

Running `dotnet publish` directly from the command line works fine.

[2019-12-16 17:34] matkoch opened #360 "AppVeyor Windows agent doesn't show error for exceeded number of allowed messages"
### Description

https://ci.appveyor.com/project/matkoch/nuke/builds/29085556

<img width="817" alt="image" src="https://user-images.githubusercontent.com/5005566/70929100-9b0d1180-2032-11ea-9f92-d418138fc6a4.png">
<img width="817" alt="image" src="https://user-images.githubusercontent.com/5005566/70929104-9cd6d500-2032-11ea-91e6-88d51a7d7cb6.png">

[2019-12-16 22:16] matkoch commented on #358
#357

[2019-12-16 22:16] #358 closed, assigned to matkoch

[2019-12-16 22:18] matkoch commented on #357
You can fix this yourself by adding overwriting `Microsoft.Build` package versions. Just explicitly reference them in your build.

See https://github.com/nuke-build/nuke/commit/fbf101546b47cff54d6e5fbf4a7a8c34b10f248b

[2019-12-16 22:18] #357 closed, assigned to matkoch

[2019-12-17 10:26] jameswoodley opened #362 "Pack Step doesn't use correct GitVersion"
### Description
When using the DotNetPack inbuilt function the property is output with a version, but the Nuget package created has a differing version

### Steps to reproduce

[code]

Produces:
![image](https://user-images.githubusercontent.com/52610563/70987376-a9e9d780-20b7-11ea-9406-b68f2cf5e21e.png)

As you can see, Version should be 0.1.3, but is 1.0.0

[2019-12-17 11:30] jameswoodley commented on #362
So heads up, adding the "PackageVersion" property seems to have resolved it:

[code]

I wonder if we should add a `.SetPackageVersion()` method?

[2019-12-17 12:16] matkoch commented on #362
Regarding your first post, this is a user-code issue. `DotNetPack` only allows you to manipulate the actual arguments for invocation. Nothing more. As a side-note, the same invocation is used in our own builds, and it works.

Regarding `PackageVersion`, you're welcome to create a PR.

[2019-12-17 12:16] #362 closed, assigned to matkoch

[2019-12-17 12:39] jameswoodley commented on #362
Apologies, when you say it only allows you to manipulate the actual arguments for invocation, what do you mean by this? I was, perhaps naively, under the impression that if I set the version using `SetVersion` it would give me that version in my output package?

[2019-12-17 14:56] matkoch commented on #362
Constructing an invocation has no guarantee that it is actually meaningful or will work. The idea is only to provide a fluent way to construct the invocation with all known arguments according to http://www.nuke.build/docs/authoring-builds/cli-tools.html

<blockquote><img src="../../favicons/favicon.ico" width="48" align="right"><div><strong><a href="http://www.nuke.build/docs/authoring-builds/cli

[2019-12-17 15:01] razenpok opened #363 "Set RootDirectory as default ProjectPath in Unity task"
### Description

When no `-projectPath` is supplied, Unity builds last opened/built project. This is an expected behavior and works fine for a single project, but it can catch people off-guard with multi-project CI setups (like it was in my case). I'm not sure if this is an idiomatic way for this library, but I think defaulting `ProjectPath` to `RootDirectory` can help newcomers avoid this pitfall

[2019-12-17 15:05] matkoch commented on #363
We decided a while ago that there are no implicit default settings for command line tool invocations. However, I’m open for showing a hint or add code inspections.

Is there a particular error output from Unity? Are you using ReSharper or Rider? Under what circumstances is setting a different directory expected?

[2019-12-17 16:34] #355 closed, assigned to matkoch

[2019-12-17 18:05] razenpok commented on #363
No error. Nuke starts correctly in an initial directory and invokes Unity, and then Unity starts doing its stuff in a different directory. I can provide a sample of logs if it can help.

Rider.

I'm using TeamCity, and the build pipeline worked fine until I've created a second Unity project. This project uses a different VCS Root, so TC naturally checkouts its working copy to a different directory

[2019-12-17 18:18] razenpok commented on #363
More about that: Unity defines a project as a folder which has this structure

[code]

Where `Assets` and `ProjectSettings` are directories.

Directory other than `RootDirectory` is expected when you have some non-"Unity project in a root of a repo" scenario. For example, having multiple Unity projects in a single repo, or if structure of a repo looks like this:

[code]

[2019-12-17 19:12] matkoch commented on #363
No error? What about exit code?

On Tue 17. Dec 2019 at 19:18, Andrei Andreev <notifications@github.com>
wrote:

[2019-12-17 22:47] matkoch commented on #346
Sorry, but there's no way we can fix this. The pattern is `[key]=[value]`. There are no spaces or anything else that we could rely on. And again, I'd rather expect an additional `=` in `value` than in `key`.

[2019-12-18 05:14] razenpok commented on #363
Exit code 0. Really, this is not an exceptional behavior, Unity just builds a different project from one that I expected it to.

[2019-12-19 19:32] totollygeek opened #364 "Nuke logo is offensive to me"
The logo looks offensive and asking me why is also offensive! 😏

[2019-12-19 20:16] GeorgDangl commented on #364
No offense intended, but why is it offensive? 😊

[2019-12-20 08:04] totollygeek commented on #364
It is my human right to not answer offensive questions and since I identify myself as a person, that does not give answers, you are offending me even more by asking me any questions at all 😁

[2019-12-29 03:22] Thealexbarney opened #365 "Nuke doesn't work with GitVersion 5.1.3"
### Description
Nuke 0.23.4 fails when trying to use GitVersion 5.1.3. Nuke specifies framework netcoreapp3.0 when launching the tool, but GitVersion uses netcoreapp3.1.

### Steps to reproduce

- Add GitVersionAttribute to a field in the Build class.
- Run build
### Relevant log output

[code]

[2019-12-29 04:13] Thealexbarney opened #366 "GitRepositoryAttribute and GitVersionAttribute fail the build if they produce an error"
Since bac69547, if an error occurs in GitRepositoryAttribute or GitVersionAttribute, the entire build fails. Before that the fields were left as null.

Previously the build script could detect something like the lack a `.git` directory by checking if GitRepository/GitVersion fields were null and react accordingly. Since that change, you can't have class-wide GitRepository and GitVersion instances

[2019-12-29 09:48] matkoch commented on #366
See #345

[2019-12-29 09:48] #366 closed, assigned to matkoch

[2019-12-29 09:53] matkoch commented on #365
Relevant log output should include versions and stacktraces.

[2019-12-29 22:50] robertmircea opened #367 "Error parsing GitVersion output on Teamcity Linux agent when running task"
### Description

`Error parsing Infinity value. Path '', line 1, position 1` while parsing gitversion's output when running nuke task on Teamcity Linux agent. See stacktrace below.

### Steps to reproduce

1. Building on Teamcity with .teamcity Kotlin project generated by Nuke
[code]

Running the following task:
[code]

2. Using GitVersion 5.1.1 and latest pre-release Nuke 0.24.0-alpha0193

Excerp

[2019-12-29 23:01] robertmircea opened #368 "Allow to specify TeamCity authentication method"
### Description

When generating Teamcity Kotlin project, allow to specify which type of authentication to use for connecting to VCS repository. I use private repositories via ssh or https and most of the time, the authentication mechanism must be specified in `.teamcity/settings.kts` project.

Something like this should be generated for ssh key authentication:

[code]
although there are 5 mechani

[2019-12-29 23:07] Thealexbarney commented on #365
Updated with more details

[2019-12-29 23:19] #367 closed, assigned to matkoch

[2019-12-29 23:19] matkoch commented on #367
@robertmircea starring is required ;)

[2019-12-29 23:22] matkoch commented on #367
See https://github.com/GitTools/GitVersion/issues/1982

[2019-12-30 09:51] robertmircea commented on #367
Which is the conclusion? Is it a bug and it will be fixed in 0.24.0? Sorry but is not clear for me from Gitversion#1982

[2019-12-30 11:52] matkoch commented on #367
We can’t fix it, just provide a better error message.

On Mon 30. Dec 2019 at 10:51, Robert Mircea <notifications@github.com>
wrote:

[2020-01-02 08:06] dennisdoomen commented on #365
I can confirm this as well for Nuke 0.23.4 and GitVersion.Tool 5.1.3.

[2020-01-03 13:39] krolol opened #370 "Add method to Jenkins class to get custom environment variable by "name" parameter"
It is will very useful to get not only standard Jenkins environment variables

[2020-01-03 13:39] krolol commented on #370
@matkoch, if you approve this feature, I can prepare a pull request

[2020-01-03 15:11] arodus commented on #370
Why creating a dedicated function and not just using `EnvironmentInfo.Variable` or similar?
http://www.nuke.build/api/Nuke.Common/Nuke.Common.EnvironmentInfo.html#Nuke_Common_EnvironmentInfo_Variable__1_System_String_

<blockquote><img src="../../favicons/favicon.ico" width="48" align="right"><div><strong><a href="http://www.nuke.build/api/Nuke.Common/Nuke.Common.EnvironmentInfo.html#Nuke_Common_E

[2020-01-03 17:04] #370 closed, assigned to matkoch

[2020-01-04 18:13] #353 closed, assigned to matkoch

[2020-01-04 18:25] DemoBytom opened #371 "Output from processes doesn't handle non standard characters (UTF-8)"
### Description

Running GIT commands (and most likely any that are run through `Process.Start(startInfo);`) on Windows doesn't handle non standard characters in the output.
For example returns `Micha┼é` instead `Michał`

Tested using cloned Nuke repository

### Steps to reproduce

1. Create dummy commit in repository with author set to `Michał` and email set to `email@email.com`
![image](https://

[2020-01-04 18:25] #363 closed, assigned to matkoch

[2020-01-04 18:28] matkoch commented on #371
Done. Thanks for raising this.

[2020-01-05 19:52] matkoch commented on #365
@BlowaXD this is a completely different error?

[2020-01-05 19:53] BlowaXD commented on #365
I don't think so, it's also linked to GitVersion 5.1.3 on .NET core 3.1 with Nuke 0.23.4

[2020-01-05 19:54] matkoch commented on #365
@BlowaXD and the error is a different one.

[2020-01-05 19:55] BlowaXD commented on #365
You want me to create a special issue for that ? I thought It would be better to regroup it with issue linked to GitVersion, .net core 3.1 & nuke 0.23.4

[2020-01-05 19:57] matkoch commented on #365
If you would search for the specific exception message, you’d have found https://github.com/nuke-build/nuke/issues/367, which will be resolved with 0.24.0

[2020-01-05 19:58] BlowaXD commented on #365
my bad. :(

[2020-01-06 11:16] matkoch commented on #368
You can change this from the TeamCity UI, which will then create a patch file.

[2020-01-06 11:16] #368 closed, assigned to matkoch

[2020-01-06 11:22] matkoch commented on #365
Please vote everyone: https://github.com/GitTools/GitVersion/issues/2024

[2020-01-06 13:42] matkoch commented on #368
Please vote for https://youtrack.jetbrains.com/issue/TW-63918

<blockquote><div>YouTrack</div><div><strong><a href="https://youtrack.jetbrains.com/issue/TW-63918">teamcity.build.branch parameter is missing when using DslContext.settingsRoot : TW-63918</a></strong></div><div>I've tried to replace a custom (yet duplicated) VcsRoot definition in "settings.kts" by using "DslContext.settingsRoot". This

[2020-01-07 00:36] schappel opened #372 "java.util.NoSuchElementException raised when attempting to run through Rider"
Fresh install of NUKE Support 2019.3.0 in Rider 2019.3.1.  When I attempt to execute a target I get the following error:
[code]

[2020-01-07 01:15] matkoch commented on #372
I need a repro project and would like to ask you to star the project.

[2020-01-07 03:32] schappel commented on #372
[https://github.com/schappel/NukeBuildIssue] Simple repo project

[2020-01-07 09:18] matkoch commented on #372
please try with the sdk-based project format

On Tue 7. Jan 2020 at 04:32, Scott Chappel <notifications@github.com> wrote:

[2020-01-07 18:04] metalfork opened #373 "Teamcity implementation tries to add existing Project configuration parameter"
### Description
When running a nuke target nuke's Teamcity implementation attempts to `Add` and existing configuration parameter that already has been defined at the Teamcity Project level as a parameter and therefore exists. This implementation just attempts to Add the key instead of trying to add and then updating value if key already exists
https://github.com/nuke-build/nuke/blob/3a287386468678

[2020-01-07 19:03] matkoch commented on #373
Can't reproduce.

[2020-01-07 19:03] #373 closed, assigned to matkoch

[2020-01-07 20:22] metalfork commented on #373
Forgot to mention `environment` is set to `readOnly='false'` as well.

You should be able to reproduce by setting a build `Configuration Parameter` for `environment`

We can agree that if the `key` exists then the Dictionary<TKey,TValue>.Add(TKey, TValue) Method will throw an `ArgumentException`. [ref](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.dictionary-2.add?view=net

[2020-01-08 11:19] matkoch commented on #373
Still can’t reproduce: https://teamcity.jetbrains.com/buildConfiguration/matkoch_Nuke_Compile/2712490?buildTab=buildParameters

<blockquote></blockquote>

[2020-01-08 20:33] matkoch commented on #371
Seems this is not as easy. Setting the encoding breaks output on TeamCity and AppVeyor for me. So I will revert the change for now.

[2020-01-08 23:11] matkoch commented on #371
https://help.appveyor.com/discussions/problems/25861-encoding

<blockquote><div><strong><a href="https://help.appveyor.com/discussions/problems/25861-encoding">Encoding / Problems / Discussion Area - AppVeyor Support</a></strong></div></blockquote>

[2020-01-08 23:14] #320 closed, assigned to matkoch

[2020-01-09 13:13] #328 closed, assigned to matkoch

[2020-01-10 02:05] matkoch opened #374 "InspectCode can't download plugins"
Download URL has changed. Now it's `http://resharper-plugins.jetbrains.com/dotnet/api/v2/Packages(Id='ReSharper.InternalsVisibleTo',Version='2019.1.0')/Download`

[2020-01-10 18:23] #371 closed, assigned to matkoch

[2020-01-12 10:20] #374 closed, assigned to matkoch

[2020-01-12 10:44] matkoch commented on #337
Closing due to inactivity.

[2020-01-12 10:47] #259 closed, assigned to matkoch

[2020-01-12 10:55] #132 closed, assigned to matkoch

[2020-01-12 10:55] #125 closed, assigned to matkoch

[2020-01-12 10:59] #216 closed, assigned to matkoch

[2020-01-12 12:01] Elufimov commented on #337
@matkoch This is still relevant to at least to me. How can I help? Two days ago I successfully (with tests run) compiled this repository as multi target of netcoreapp2.1;netcoreapp3.0;net472 without any code changes. I did not try results under limiting environment though (target 2.1 with global 2.1 and target 3.0 with global 3.0 and target 3.1 with global 3.1).

[2020-01-16 05:12] MichaelSL commented on #346
According to this (maybe outdated) article, in general, Windows ENV variable names shouldn't contain equal sign: https://docs.microsoft.com/en-us/windows/win32/procthread/environment-variables?redirectedfrom=MSDN

From the other hand, Linux systems threat first equals sign as a variable name separator.

[Similar issue](https://github.com/moby/moby/issues/26178) was fixed in Moby repo complying wit

[2020-01-16 12:50] metalfork commented on #373
@matkoch how do I see your configuration parameters for the build definition used by Compile in your tests?

[2020-01-16 12:56] metalfork commented on #373
I see this change with the parameter as `readOnly='true'`. https://github.com/nuke-build/nuke/commit/634b61207329abb9117ee7a2fa8540475ccc2b9a

I am inheriting this configuration parameter during my tests? Is that the possible cause?

Based on the nuke implementation we can agree that if the key exists then the Dictionary<TKey,TValue>.Add(TKey, TValue) Method will throw an ArgumentException? If so,

[2020-01-16 22:13] t081as opened #376 "_build.csproj: links to GitLab CI and Atlassian Bamboo yaml specifications"
### Description
The generated *_build.csproj* supports showing links to a great variety of build specifications in yaml format. The following ci systems are not supported yet:

- Atlassian Bamboo
- GitLab CI

I've prepared pull request #375 to add the links.

### Alternatives

[2020-01-17 09:51] #376 closed, assigned to matkoch, t081as

[2020-01-18 14:14] vincevriend opened #377 "SonarScannerTasks with dotnet-sonarscanner 4.8.0 fails with "Package executable ... requires a framework" error"
# Error when referencing dotnet-sonarscanner 4.8.0

[code]
Nuke will fail with an error about "Package executable ... requires a framework".
[code]

# Success when referencing dotnet-sonarscanner 4.7.1
[code]
The following log shows the desired behaviour. Because i made a minimal reproduction repo sonar fails with an error but that's okay because the error is actually from the sonarscanner tool it

[2020-01-20 18:48] MichaelSL commented on #346
As this variables are used by specific Windows process (cmd.exe) we may just exclude them from the env variables list. I'll work on PR for this.

[2020-01-22 14:47] cmenzi opened #379 "Support of parameters with underscores"
### Description

A member `PackagesApiKey` attributed with `[Parameter]` should also take environment variables in the format `PACKAGES_API_KEY` into account.

#### Example

[code]

When specifying this the following should be possible:

* Environment Variables
  * `PACKAGES_API_KEY=abc`
  * `PACKAGESAPIKEY=abc`
  * `packagesapikey=abc`
  * `PackagesApiKey=abc`
* Command-Line-Args
  * `--packages-

[2020-01-23 21:03] cmenzi opened #380 "Allow multiple VerbosityMappingAttribute on class level"
### Description

Currently, it's not possible to add multiple `VerbosityMappingAttribute` on a class.

### Steps to reproduce

Add multiple `VerbosityMappingAttribute` on the `Build` class.

[code]

### Relevant log output

[code]

[2020-01-24 12:06] Inok opened #381 "TeamCity.ImportData() fails when DotCover is not available"
### Description

Nuke requires DotCover to be available for every call to 'Teamcity.ImportData()', even if DotCover isn't used. I guess, the reason is that 'DotCoverTasks.DotCoverPath' executes on every call to the ImportData, even if 'tool' argument is not of 'TeamCityImportTool.dotcover' type.
https://github.com/nuke-build/nuke/blob/a5f449888cc7d2debd81f5a7c120aeaca651101a/source/Nuke.Common/CI/

[2020-01-24 12:34] #360 closed, assigned to matkoch

[2020-01-24 15:28] MichaelSL opened #382 "Tool warning is treated as build problem and causes build to fail"
### Description

After updating nukebuild from `0.23.4` to `0.23.6` our Docker build started to fail.
It happens because Docker throws a warning when using `docker login` with a password from command line. It was reported as a warning before but didn't cause build to fail.

### Steps to reproduce

0. Use Nuke `0.23.6`.
1. Create a Team City build configuration
2. Create a build Target which calls

[2020-01-25 23:01] #381 closed, assigned to matkoch

[2020-01-25 23:10] matkoch commented on #382
I worked on better CI system integration for warning and error messages. The current implementation is going to remain. The real issue here is that Docker writes warnings on the error stream, so I will close this issue. However, I would accept a PR that implements a custom Docker logger (search for `DotNetTasks.CustomLogger`), that could fix the issue.

[2020-01-25 23:10] #382 closed, assigned to matkoch

[2020-01-25 23:12] matkoch commented on #380
This is by design. You can create derived attributes and add them to the build class. I did that so that the build definition is not overcrowded with logging mappings.

[2020-01-25 23:12] #380 closed, assigned to matkoch

[2020-01-25 23:13] matkoch commented on #380
Okay, the docs don't reflect that. I rather change the attribute usage instead of documentation. You win 👏

[2020-01-26 16:52] #372 closed, assigned to matkoch

[2020-01-26 21:06] matkoch commented on #350
I will close this. The particular issue has been fixed. If anything else pops up, please let me know. Thanks @chrisevans9629 !

[2020-01-26 21:06] #350 closed, assigned to matkoch

[2020-01-26 23:32] matkoch commented on #379
Direct match still has precendence.

[2020-01-26 23:32] #379 closed, assigned to matkoch

[2020-01-26 23:35] #334 closed, assigned to alphaleonis

[2020-01-28 15:21] razenpok opened #384 "Add ShortSha to GitVersion"
### Description

`ShortSha` was added to GitVersion output a couple of years ago: https://github.com/GitTools/GitVersion/commit/36c36f5f1f4a156fb47a2ebd6066f1dca4a41826

It would be nice to have it in `GitVersion` class.

[2020-01-28 23:49] matkoch commented on #384
Please submit a PR.

[2020-01-29 06:21] MichaelSL commented on #346
@matkoch so we can use the same regex that TC uses for splitting the params instead of current split by `=`.

Change:
`var index = line.IndexOf(value: '=');`
to
[code]

If you agree with the approach, I will submit a PR.

I checked on my broken build agent vars: works as expected.

[2020-01-30 09:47] razenpok opened #385 "Multiline TeamCity branch filter"
### Description

According to [TeamCity docs](https://www.jetbrains.com/help/teamcity/branch-filter.html#BranchFilter-BranchFilterFormat)

But according to [TeamCityVcsTrigger source code](https://github.com/nuke-build/nuke/blob/develop/source/Nuke.Common/CI/TeamCity/Configuration/TeamCityVcsTrigger.cs)

[code]

it's only possible to pass a single line.

### Alternatives

As far as I'm concerned,

[2020-01-30 10:06] razenpok opened #386 "TeamCity build configuration branch filter"
### Description

TeamCity build configurations have [branch filters](https://teamcity.jetbrains.com/app/dsl-documentation/jetbrains.build-server.configs.kotlin.v2019_2/-vcs-settings/branch-filter.html) (not to confuse with vcs trigger branch filters) which are not exposed via Nuke. These filters make TeamCity UI hide irrelevant branches in build configuration overview page which is a nice UX impro

[2020-01-30 10:25] matkoch commented on #386
VcsRoots are not specified by NUKE starting with 0.24

[2020-01-30 10:25] #386 closed, assigned to matkoch

[2020-01-30 10:43] razenpok commented on #386
What was the reason for ditching VcsRoots?

[2020-01-30 10:45] razenpok commented on #386
And btw, this branch filter is not for a concrete VcsRoot, it is applied to a whole configuration.

[2020-01-30 12:03] matkoch commented on #346
I would expect another `StringExtensions` method called `SplitRegex`, to make it more general. Otherwise, yes I'm fine.

[2020-01-31 14:20] matkoch commented on #386
VcsRoots have so many options that it makes no sense to repeat logic inside the C# implementation. They can be reused from where they were originally defined.

[2020-01-31 15:36] Rurouni opened #387 "OutputSink is not very extendable"
### Description
When upgrading to new version of Nuke I've realized that IOutputSink changed to abstract class OutputSink. Before we had adapter that was implementing IOutputSink and overriding WriteError to write to stderr channel but otherwise delegating it straight into original instance of IOutputSink created by the framework. IOutputSink as interface was allowing extending original behaviour

[2020-02-02 11:32] razenpok commented on #386
Uh, I'm not that familiar with Nuke. What do you mean by "They can be reused from where they were originally defined."?

[2020-02-02 13:40] matkoch commented on #386
You define VcsRoots in the TeamCity UI. Not in the C# build implementation.

[2020-02-02 13:48] razenpok commented on #386
Ok, got it. The thing is, the options I'm talking about are _per-configuration_, i.e. I'm still required to go through each build configuration and set this branch filter individually. VcsRoots are not involved in this process.

[2020-02-02 14:24] matkoch commented on #386
In that case, you can simply change the settings from the UI.

[2020-02-02 14:51] razenpok commented on #386
Yep, we do that already. It's just weird that Nuke has `cleanCheckout` and `showDependenciesChanges` from `VcsSettings` and not `branchFilter`.

[2020-02-02 15:58] razenpok opened #388 "Use .EnableNoFetch() in GitVersionAttribute for SSH repositories"
### Description

As far as I can see, [GitVersion doesn't support SSH](https://github.com/GitTools/GitVersion/issues/38#issuecomment-415711401) because [LibGit2Sharp doesn't have a publicly available version which supports it](https://github.com/libgit2/libgit2sharp/issues/1422). Given that by default GitVersion does a fetch on invocation, using `GitVersionAttribute` in conjunction with SSH repo w

[2020-02-02 17:21] #388 closed, assigned to matkoch

[2020-02-02 17:21] matkoch commented on #388
I'm adding the property.

[2020-02-02 17:33] razenpok commented on #388
Thanks! What do you think about adding a warning if an attribute is used in an SSH repo when `NoFetch` is not set?

[2020-02-02 18:11] #385 closed, assigned to matkoch

[2020-02-03 08:29] razenpok commented on #388
Ping

[2020-02-03 09:32] razenpok opened #391 "SetHubVersion doesn't work with Unity tool"
### Description

This code doesn't compile since `SetHubVersion` returns `UnityBaseSettings` and not `T : UnityBaseSettings`

[code]

[2020-02-03 18:03] ghost commented on #346
Based on feedback from @matkoch I implemented the PR since we are also now hitting this issue. Would love to get this sorted as it's blocking us currently.

[2020-02-04 08:08] razenpok opened #393 "TeamCityOutputSink Ansi color choice"
### Description

What's the reasoning behind [TeamCityOutputSink](https://github.com/nuke-build/nuke/blob/develop/source/Nuke.Common/CI/TeamCity/TeamCityOutputSink.cs)'s Ansi color choice?

- Warning, Error and Success all use reasonable colors and look good
- Trace uses White color (37m). TeamCity's background is also white
- Information uses Cyan color (36m) which is better than white but still

[2020-02-04 11:39] yang-xiaodong opened #394 "Missing tools from PackageDownload when publishing as global tool"
### Description

GitVersion does not work when packaged as dotnet tools for sharing in a team.
The error message is ` Could not find package 'GitVersion.Tool', or 'GitVersion.CommandLine'`

### Steps to reproduce

1. The tools project named  **MyCommand.csproj**

[code]

2.  **Build.cs** code under the MyCommand.csproj
[code]

3.  Pack the dotnet tools project  MyCommand.csproj  and push to nuget

[2020-02-04 12:46] matkoch commented on #394
Could you please star the project?

[2020-02-04 13:10] yang-xiaodong commented on #394
Sure,   :)
By the way , it  works in visual studio

[2020-02-04 13:16] yang-xiaodong commented on #394
If needed, I can help write a blog and publicity in China .net community website. I have about 2000+ followers of .net fans

[2020-02-04 13:22] matkoch commented on #394
@yang-xiaodong sure, always welcome :)

what do you mean, what works in Visual Studio?

[2020-02-04 13:23] matkoch commented on #391
For now, you can cast the object.

[2020-02-04 13:28] yang-xiaodong commented on #394
Source code in visual studio, click nuke icon and debug can print the version, no error!

[2020-02-04 15:27] marcpiechura opened #395 "Don't warn about active build configuration if it's not part of the solution one wants to build"
### Description
Would be cool if nuke would only log the warning if the build project is part of the .sln that is defined in the .nuke file, or check if the .sln, it is part of, contains any other projects and only if that's the case, log the warning.
The reason is that we can't change anything in the build project without Visual Studio complaining that it wants to create a .sln, which is a bit an

[2020-02-04 15:54] matkoch commented on #395
Mh... why don't you add the build project to your usual solution?

And even in the dedicated solution file, you could remove the build project from the build configurations.

[2020-02-04 15:59] matkoch commented on #394
Yes. That works different than after installing as global tool.

[2020-02-04 19:41] matkoch commented on #394
For now I suggest to switch to `PackageReference` with `ExcludeAssets=all`. That should work, afaik.

[2020-02-05 02:21] yang-xiaodong commented on #394
@matkoch Thanks for your answer, I tried the suggested way you pointed, it doesn't seem to work for me, am I missing something?

[code]

[2020-02-05 07:36] marcpiechura commented on #395
Sorry, you're right. Removing only the build configuration fixes the issue, didn't know that's possible hence why I thought a different solution file would fix the problem ;-)

[2020-02-05 07:36] #395 closed, assigned to matkoch

[2020-02-05 20:54] cmenzi opened #396 "ToolPathResolver does not take dependencies into account"
### Description

I've like to create a [shared nuke nuget](http://www.nuke.build/docs/sharing-builds/fundamentals.html) that have some targets and the neccessary dotnet tools like GitVersion.tools as dependencies.

### Steps to reproduce

1. Create project "A" that creates NuGet with `Nuke.Common` and `GitVersion.Tool` as dependency in the `.nuspec`
1. Pack project "A" -> Push to Package-Feed
1. C

[2020-02-05 21:01] cmenzi commented on #394
Maybe some information on this:

- https://github.com/NuGet/Home/issues/9132#issuecomment-581740452

When you're using `<ExcludeAssets>all</ExcludeAssets>` the references don't get packed into nuget.

I've nearly managed it though `.props` file.  See here: https://github.com/nuke-build/nuke/issues/396

Another option regarding this: https://github.com/NuGet/Home/issues/9132#issuecomment-581740452

[2020-02-06 15:32] MaxEden opened #397 "EnsureCleanDirectory deletes files in symlinked directories"
### Description
I have an output directory that contains some symlinked directories.
When I call EnsureCleanDirectory on top level directory, all the symlinked ones become wiped :)

### Expected
When I call EnsureCleanDirectory on top level directory, all symlinks unlinked, all files removed

I'm not really sure if current behavior is by design, and there are cases where proposed behavior is undes

[2020-02-06 19:59] matkoch commented on #397
I'd say this is by design. You can iterate over the content instead, check whether the folder is symlink, and then delete or skip.

[2020-02-06 20:10] matkoch commented on #396
Would have been great to have a little warning that you're clearing the whole nuget cache.

[2020-02-06 20:15] cmenzi commented on #396
Sorry!! I thought about that. I had caching issue during writing the reproduction.

I hope you have fast internet to fill up again.

[2020-02-07 01:21] #396 closed, assigned to matkoch

[2020-02-07 12:59] wischi-chr opened #398 "Pipeline caching task for azure pipelines"
Up until now I called nuke with a powershell task in an azure pipeline and I'm trying to switch to autogenerated yaml pipeline files (saw the talk at rubicon and didn't know about that feature before).

Is it possible to make use of the azure pipeline mechanism to cache nuget packages? I've a hand full of tasks and each tasks taskes about a minute to start (from the start of the script until the l

[2020-02-07 14:30] matkoch commented on #398
You can also use the pre-installed SDK.

[2020-02-07 14:51] MaxEden commented on #397
Is there currently a way to check if directory is symlink that is platform-independent?

[2020-02-07 14:59] matkoch commented on #397
Not in nuke. Maybe in the BCL.

I hope it's okay if I close the issue for now.

[2020-02-07 14:59] #397 closed, assigned to matkoch

[2020-02-07 15:09] wischi-chr commented on #398
According to the [logs of the most recent nuke azure build](https://dev.azure.com/nuke-build/db5bcee5-db3e-430e-980b-96372b5b7941/_apis/build/builds/718/logs/28) Installing .net core took about 15 seconds, but restoring the nuget packages took over a minute.

[2020-02-07 19:01] ghost commented on #346
Can confirm that after updating to 0.24.1 this issue is now fixed! Thanks for pushing out the hotfix release quickly @matkoch.

[2020-02-07 22:17] MichaelSL commented on #346
Thank you for fixing this one @archonandrewhunt  I just came back and I will update our pipelines on Monday.

[2020-02-10 17:23] MichaelSL commented on #346
Verified on our pipeline. Let's close it!

[2020-02-10 17:23] #346 closed, assigned to MichaelSL, matkoch

[2020-02-11 14:27] chrisdmacrae commented on #365
This can be resolved currently by giving a framework to the attribute:

[code]

[2020-02-13 06:45] mariohines opened #402 "Requirement of 'build.cmd' file GitHubActions AutoGeneration"
### Description
Unable to get configuration generation with `GitHubActions` attribute without a `build.cmd` file, even if it's just a blank file.

### Steps to reproduce
1. Setup a new nuke build project.
2. Add attribute for `GitHubActions`, set the name, image and an InvokedTarget.
3. Run the invoked target.

### Relevant log output
[code]

### Recommendation
Allow setting that value in the attr

[2020-02-13 11:03] matkoch commented on #402
You need to update the global tool and execute `nuke :setup` again.

[2020-02-13 11:03] #402 closed, assigned to matkoch

[2020-02-13 11:42] gsscoder opened #403 "AbsolutePath symbol missing"
I don't know if this is a bug or something linked to my environment. This the error when I try to execute `build.sh`:
[code]
I've added the build project using `nuke :setup` command. The solution is very simple (created only to evaluate this great tool).
![Nuke test solution VSCode Screenshot](https://user-images.githubusercontent.com/1194228/74430668-a5466300-4e5d-11ea-99c3-334954ebf0e8.png)

Thi

[2020-02-13 11:55] matkoch commented on #403
I just tested the setup procedure calling `nuke` twice (first execution is a setup, second will build it). Everything works as expected. Could you point me to a repro?

[2020-02-13 11:58] matkoch commented on #403
Since the default build doesn't include any usage of `AbsolutePath` I suspect you've added that manually. This type is contained in the `Nuke.Common.IO` namespace, so you need a `using` directive for that. Not sure if that's obvious to you, but this is just a console application. So everything works as in any other C# project.

[2020-02-13 15:01] gsscoder commented on #403
Thanks for replying **so fast**, @matkoch. I shared a zip with the solution: https://www.dropbox.com/s/c16obaw2cvnxqx1/nuketest.zip?dl=0.

I confirm you I've **not modified anything** after `nuke :setup`.

If you need anything else, please let me know.

<blockquote><img src="https://www.dropbox.com/static/images/spectrum-icons/generated/content/content-zip-large.png" width="48" align="right"><div>

[2020-02-13 15:45] mariohines opened #404 "Requirement of 'build.cmd' file GitHubActions AutoGeneration with no alternative"
### Description
Unable to get configuration generation with `GitHubActions` attribute without a `build.cmd` file. Workaround to this is using a blank `build.cmd` file but that only works on the `WindowsLatest` image for `GitHubActions`.

### Steps to reproduce
1. Setup a new nuke build project.
2. Add attribute for `GitHubActions`, set the name, image and an InvokedTarget.
3. Ensure that a `build.

[2020-02-13 16:17] matkoch commented on #404
Why?

[2020-02-13 16:20] matkoch commented on #403
Yes, it’s the template that’s out-of-date. But it’s still just a missing using directive.

[2020-02-13 16:20] #403 closed, assigned to matkoch

[2020-02-13 16:24] mariohines commented on #404
This is a bug. I've updated the tool and re-setup the project before I even submitted this as an issue originally. I pointed to the code as well this time in hopes that it will at least get looked at. As this is...it doesn't work for anything other than windows images out-of-the-box.

[2020-02-13 16:29] matkoch commented on #404
Funnily it works for nuke itself. Besides, I have no idea why you’re talking about creating an empty build.cmd file. That’s why I don’t look at it. Because the latest global tool creates one.

[2020-02-13 16:30] matkoch commented on #404
Also if you think an issue was closed unjustified, please din’t create a new one with almost the same content. Leave another comment and ask for reopening.

[2020-02-13 16:31] mariohines commented on #404
Thanks. I'll do that next time. But it didn't create the file in the latest tool. Which is why I still had the error.

[2020-02-13 16:32] mariohines commented on #404
Are you doing just `nuke` in the terminal/CL?

[2020-02-13 16:33] matkoch commented on #404
I’m sure it will create it. In the same folder as you call `nuke :setup`.

[2020-02-13 16:37] mariohines commented on #404
Apologies. I'm sure I did it properly, but obviously not. I'll test again with other than the Windows images....to see if it will work in GitHubActions. Like using Obuntu or Mac.

[2020-02-13 16:37] #404 closed, assigned to matkoch

[2020-02-14 05:10] gsscoder commented on #403
OK, thank you for support.

[2020-02-15 17:24] #391 closed, assigned to matkoch

[2020-02-15 18:16] #377 closed, assigned to nobody

[2020-02-15 18:19] #384 closed, assigned to matkoch

[2020-02-17 04:17] macsux opened #407 "ProcessException only captures stderrout when exit code is non zero"
### Description
When tool runs and exists with non zero exception, PrcoessException is raised. However, it only captures STDERROUT (if it's present), ignoring rest of STDOUT. IProcess is also internal making it impossible to extract any relevant STDOUT messages. This mainly shows up in `dotnet` tool were actual error details will be printed to STDOUT instead of STDERROUT.

https://github.com/nuke-

[2020-02-18 16:57] MikeBairdRocks opened #409 "GitHub Actions Trigger "pullrequest" is not a valid event name."
### Description
GitHubActionsTrigger not using EnumValue to generate yaml file.

### Steps to reproduce

1. Attribute in Build.cs:
[code]

### Relevant log output
Generates yaml:
[code]

`on: [pullrequest, push]` should be `on: [pull_request, push] `

[2020-02-18 19:54] matkoch commented on #365
I'm closing this as there is a workaround and I don't want to implement anything else in particular to resolve external issues.

[2020-02-18 19:54] #365 closed, assigned to matkoch

[2020-02-19 17:07] #409 closed, assigned to matkoch

[2020-02-23 06:30] maxkatz6 commented on #364
Perfect label for issues like that 😁

[2020-02-24 07:54] magicmonty opened #412 "Logging in Jenkins"
**Update: Removed the End of task requests, as this is a different feature, which does not belong here ;)**

### Description
On BuildServers (in my case Jenkins) the output of the Nuke build log is quite ugly and hard to parse:

![grafik](https://user-images.githubusercontent.com/315639/75135565-36310000-56e2-11ea-8d91-3f78c3c6cf6c.png)

and

![grafik](https://user-images.githubusercontent.com/315

[2020-02-24 08:28] magicmonty commented on #412
I will provide a PR for this ;)

[2020-02-24 08:39] magicmonty commented on #412
I changed this issue to Logging in Jenkins, because this was in fact two feature requests.

[2020-02-24 11:09] matkoch commented on #412
can you try this please? https://medium.com/pacroy/how-to-fix-jenkins-console-log-encoding-issue-on-windows-a1f4b26e0db4

<blockquote><img src="https://miro.medium.com/max/1200/1*unw_OAKk9mV1EEhiNovhGg.jpeg" width="48" align="right"><div><img src="https://cdn-static-1.medium.com/_/fp/icons/favicon-rebrand-medium.3Y6xpZ-0FSdWDnPM3hSBIA.ico" height="14"> Medium</div><div><strong><a href="https://med

[2020-02-24 13:38] magicmonty commented on #412
Unfortunately this doesn't work for me. I tried both `-Dfile.encoding=UTF8` and `-Dfile.encoding=UTF-8` variants.

[2020-02-24 13:49] tunger opened #414 "Add Octopus.DotNet.Cli package as tool executable"
### Description
Octopus Deploy has a dotnet core tool published as [nuget package](https://www.nuget.org/packages/Octopus.DotNet.Cli/7.1.0). At present there is only OctopusTools listed as `packageId` for Octopus.
https://github.com/nuke-build/nuke/blob/develop/build/specifications/Octopus.json#L12

I tried adding the change myself by adding:
`
  "packageId": "OctopusTools|Octopus.DotNet.Cli",
  "

[2020-02-24 13:54] matkoch commented on #414
Please create a PR similar to [this commit](https://github.com/nuke-build/nuke/commit/7effe95745e7917f01d1db795fc09e194e08e3da). I will close the issue as it's not essential for the library. Awaiting the PR.

[2020-02-24 13:54] #414 closed, assigned to matkoch

[2020-02-24 13:54] magicmonty commented on #412
Now it shows
![grafik](https://user-images.githubusercontent.com/315639/75158026-9b521900-5715-11ea-933c-a3d4cad6bce7.png)

[2020-02-24 17:19] matkoch commented on #412
How are you invoking the build?

[2020-02-24 19:38] magicmonty commented on #412
with the dotnet global tool (`dotnet nuke`) and as Pipeline over a Jenkinsfile

[2020-02-24 19:52] matkoch commented on #412
Try invoking the bash or powershell script. It doesn’t make much sense to install the global tool

[2020-02-25 03:28] Hawxy commented on #337
I really don't see how this is an issue.

Per https://docs.microsoft.com/en-us/dotnet/core/versions/selection The 3.1 SDK can build anything back to .NET Core 1.0. Just install the latest SDK in your environments and everything else will continue to build fine. At my work we have the 3.1 SDK installed on our build machines and use it for everything back to .NET Core 2.0 without any issue or notice

[2020-02-25 04:51] Elufimov commented on #337
@Hawxy Your tone is so uncompromisable...

As far as I can tell, your development pipeline is too careless in term of possible regression. This is how I can see this comment of yours from "different extreme edge-case".

If we are talking about just building a new runtime image than yes, if we consider to run a performance and regressions tests of our applications than no.

And than start helping d

[2020-02-25 06:52] magicmonty commented on #412
Ok nice to know, that worked fine. I think, that resolves it

[2020-02-25 06:52] #412 closed, assigned to matkoch

[2020-02-25 06:52] magicmonty commented on #412
Thanks for the help

[2020-02-25 09:38] BoSorensen opened #416 "Control name of generated yml file for Azure DevOps Pipeline"
### Description

The default name when generating a pipeline YAML file for Azure DevOps is azure-pipelines.yml. But that is the default name for pipelines, so it would be great if it could be modified to something like azure-pipelines.nuke.yml instead.

### Alternatives

I don't really see any alternative.

[2020-02-27 17:27] matkoch commented on #416
What's wrong about the default name?

[2020-02-28 07:22] BoSorensen commented on #416
I would like for the default yml file of a pipeline to use the generated Nuke yml file as a template. That requires another name, such as 'azure-pipelines.nuke.yml'.
This inspiration comes from [this commit](https://github.com/RocketSurgeonsGuild/Nuke/blob/2576bf0c970f4cd2eeb3531e48b337635b06255f/src/Nuke/AzurePipelinesStepsAttribute.cs) where a similar approach is used.

[2020-02-29 01:27] #416 closed, assigned to matkoch

[2020-02-29 04:05] matt-richardson opened #417 "Support for nuget install"
### Description

We're spiking out converting some of our builds from cake to nuke (and loving it!), and one thing we've found missing in nuke is support for nuget install.

I'd like to propose adding support for nuget install. As far as I can tell, this will just require adding the details from [the docs](https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-install) to the [nuge

[2020-02-29 05:50] matkoch commented on #417
@matt-richardson thanks for the kind words. PRs are very welcome. As you've probably seen this is just about adding a new `task` in the specification file. My wish would be to transform the help texts with care and mind situations with formatting. I.e. you should use `<ul>` and `<li>` for `DependencyVersion` for instance, `<c>` for code, `<em>` for emphasized text.

[2020-02-29 05:53] matkoch commented on #417
Testing works either:
- by adding the modified json to your local build project. Recompile, and generated code should be there.
- or by working directly in our solution, execute `nuke regenerate-tool`

[2020-02-29 05:56] matkoch commented on #417
Out of curiosity, what do you mean by _local manually written implementation_ ? Could you share it?

[2020-02-29 19:52] matt-richardson commented on #417
It was a case of reverse engineering our NugetRestore and friends worked, and then tweaking to work for the `nuget install` case we needed.

I've dropped into a gist - https://gist.github.com/matt-richardson/b4dfc84a0d3e1377194d62554d243e7a

<blockquote><img src="https://github.githubassets.com/images/modules/gists/gist-og-image.png" width="48" align="right"><div><img src="https://github.githubass

[2020-03-03 10:56] kvnhck opened #421 "NpmTasks.Npm() outputs warnings as errors"
### Description

### Steps to reproduce

Add a NpmTasks.Npm() call

[code]

### Log output

Warnings are marked as errors. This results in broken builds on CI systems like TeamCity.

[2020-03-03 11:59] ThinkingBIGRon commented on #421
@kvnhck - I have a pull request in to correct this - https://github.com/nuke-build/nuke/pull/419

[2020-03-03 16:26] RemyDuijkeren commented on #337
I also can't upgrade nuke anymore since version 0.22.2. I use NuGet libs in my build that unfortunately require my build project to target .NET 4.6.2 (Dynamics 365). This forces me to solve it in different way, like moving this dependency into a separate console app, which I am trying to prevent.

Limiting Nuke.build only to .NET 4.7.2 and .NET Core 3.0 seems to me very strict. Adding target .NET

[2020-03-03 16:26] #417 closed, assigned to matkoch

[2020-03-03 16:57] #421 closed, assigned to matkoch

[2020-03-03 16:59] matkoch commented on #337
I reduced target framework to `netcoreapp2.1` with 0.24.4

[2020-03-03 16:59] #337 closed, assigned to matkoch

[2020-03-03 17:19] matkoch commented on #337
@remyvd could you star the project?

[2020-03-03 21:30] cmenzi opened #422 "Please update Glob v1.1.5 to remove debug logging"
Could you please update `Glob` dependency to version 1.1.5 to remove the debug or hard coded console.writeline logging.

https://github.com/kthompson/glob/releases/tag/1.1.5
https://github.com/kthompson/glob/commit/711b3293e9923cfcd26c8ab34565573bf1181e05,

Thx

[2020-03-03 21:36] cmenzi commented on #345
There is also an issue when using for example having

[code]
This results in a error on linux. Maybe we can add a condition or I like the idea of @totollygeek doing a lazy evaluation.

[2020-03-04 08:25] krankenbro commented on #394
I had the same problem. The found workaround is to add constructor
[code]

[2020-03-04 10:57] roshek commented on #377
I didn't find the actual fix anywhere so if anybody runs into this, what solved it for me is that I needed to invoke the SonarScanner tasks like this:

`SonarScannerBegin(settings => settings.SetFramework("netcoreapp3.0") /*other settings*/);`

You might also need to update to v0.24.2.

[2020-03-04 12:58] grounzero opened #423 "The handle is invalid."
### Description

Get an error `The handle is invalid.`  when invoking `nuke :setup`

### Steps to reproduce

In the root of a new project I ran ```dotnet tool install Nuke.GlobalTool --global```
then
[code]

then got

[code]

[2020-03-04 22:43] matkoch commented on #423
Please raise a bug at the Colorful Console repo.

[2020-03-04 22:43] #423 closed, assigned to matkoch

[2020-03-04 22:45] matkoch commented on #422
Please create a pr

[2020-03-05 08:13] BoSorensen opened #425 "Support for new dotnet nuget commands"
### Description
The 3.1.200-preview version of the DotNet SDK will have extended support for manipulating NuGet sources and it would be nice to have support for those in Nuke. [The original issue was reported here](https://github.com/NuGet/Home/issues/4126).

The help for the improved **dotnet nuget** command looks like this:

### Alternatives
Use the NuGet.exe executable or manipulate the nuget.c

[2020-03-05 12:16] matkoch commented on #425
Please create a PR.

[2020-03-05 12:16] #425 closed, assigned to matkoch

[2020-03-05 15:05] matkoch commented on #377
The fix is that you can call `SetFramework`. There is no other way of
fixing this.

On Wed 4. Mar 2020 at 11:57, Ákos Szabados <notifications@github.com> wrote:

[2020-03-05 18:30] #422 closed, assigned to matkoch

[2020-03-06 09:49] ghost opened #426 "Can not activate the 'NUKE Support' VS code"
### Description
Error:
Cannot activate the 'NUKE Support' extension because it depends on an unknown 'ms-vscode.csharp' extension .

The C# extension changed their package name from ms-vscode.chsarp to ms-dotnettools.csharp (you can find it in the change-log of version 1.21.13).

### Steps to reproduce
Installed latest extensions on a clean vs-code.

Also, i have tried to change the ".vsixmanifest

[2020-03-06 11:15] totollygeek opened #428 "Add option to run a Tool with elevated privileges"
### Description
I might want to run a CLI tool as administrator. An example for that is to install or use [Chocolatey](https://chocolatey.org/).
This can be easily achieved if we add a flag in the `Tool` delegate and then if set to `true` to add a `Verb` in the `ProcessStartInfo` to start the process with elevation.

If you like the idea, I will go on and prepare a PR for adding it.

### Alternati

[2020-03-06 11:47] matkoch commented on #428
Like the idea. You can go on.

[2020-03-06 11:48] matkoch commented on #426
Care for a PR and fav'ing the project?

[2020-03-06 11:59] ghost commented on #426
Sure, I can do that. I am just not hundred percent about how to solve it :)

[2020-03-06 12:14] matkoch commented on #426
Just updating the reference, no? Actually, a PR already exists. But you could help verifying that it works. I don't use vscode.

https://github.com/nuke-build/vscode/pull/2/files

<blockquote><img src="https://avatars3.githubusercontent.com/u/611219?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https:/

[2020-03-06 12:39] ghost commented on #426
I approved that the PR on the vs code repository is solving the issue.
You can mark this as solved.

[2020-03-06 22:22] steven5clu884 opened #429 "Access to the path 'R:\System Volume Information' is denied."
### Description
I am trying to use nuke to create a decent build system for Visual Studio 2019 project that evolved from Studio 2010 initially.  I am starting with a single sln that incorporates 3 other csproj, and everything compiles in the Studio 2019 on the build machine that I am trying to automate

### Steps to reproduce
See log below.  That is my command window output for the nuke command in

[2020-03-07 01:14] matkoch commented on #429
Sorry, can't reproduce.

[2020-03-07 01:14] #429 closed, assigned to matkoch

[2020-03-09 09:34] #426 closed, assigned to matkoch

[2020-03-09 13:46] BoSorensen commented on #425
After reading the documentation some more there is another workaround.
Start by defining the dotnet executable like this:
[code]

In a target do the following:
[code]
Note that this requires FeedSource and NugetConfig variables to be defined.

[2020-03-09 15:02] matkoch commented on #425
There's also the workaround of providing a PR :)

[2020-03-10 07:39] BoSorensen opened #431 "Ability to generate steps and not jobs in AzurePipelines"
### Description
I have defined a simple build pipeline with just two targets. The main target Restore depends on another target. I have configured the AzurePipelines like this:
[code]
Then i generate the azure-pipelines.yml file like this `nuke --configure-build-server --host AzurePipelines`. The end result is a pipeline with two jobs, where each job is run on its own Agent.

I would like to speci

[2020-03-10 15:53] BoSorensen opened #432 "The Azure Pipeline System.AccessToken secret is not available to scripts"
### Description
When trying to use the predefined variable AccessToken i get an empty variable. This is due to System.AccessToken not being accessible to scripts in Azure Pipelines. See https://daveaglick.com/posts/pushing-packages-from-azure-pipelines-to-azure-artifacts-using-cake for a good explanation of the issue.

However i see no way of generating a yml file where the env: keyword along with

[2020-03-10 16:15] erkinkas commented on #432
Have you tried to select the tick box?

![image](https://user-images.githubusercontent.com/13992901/76333939-48b65680-62ea-11ea-92cd-165ea74e0c9d.png)

[2020-03-10 16:37] BoSorensen commented on #432
I don't have that box anywhere, i think it was for a previous design of Azure DevOps.
The only way to enable System.AccessToken in a script is to add the `env:` block i think.

The option used to be a part of Pipeline settings, see for example https://stackoverflow.com/questions/50741682/vsts-where-has-allow-scripts-to-access-oauth-token-gone. Currently in Azure DevOps pipeline these settings look

[2020-03-11 08:15] arialdomartini opened #433 "nuke :setup generated project fails with 'AbsolutePath' could not be found"
### Description
This is a duplicate of #403 opened by @gsscoder: sorry if I open a new issue, but #403 has been locked.

### Steps to reproduce

1. Update NUKE Global Tool to 0.24.4

[code]
2. Create an empty .NET Core project

3. Generate a sample script with

[code]

4. Run

[code]

The build fails with

[code]

My feeling is NUKE GlobalTool is using an old template.

[2020-03-11 08:55] arialdomartini commented on #433
I noticed that the missing using statement is:

[code]

which is in fact not present in [Build.cs](https://github.com/nuke-build/nuke/blob/aa101837848cc062f03970a50c70fdb6469bdf44/source/Nuke.GlobalTool/templates/Build.cs) @ aa10183784

[2020-03-11 12:58] matkoch commented on #433
Maybe submit a PR? :)

[2020-03-11 13:11] matkoch commented on #428
@totollygeek close this?

[2020-03-11 13:13] totollygeek commented on #428
Not yet, please. Give me a little bit of time to try to figure out a way to do it. If not, I will close it in a few days.

[2020-03-11 13:14] matkoch commented on #431
Just put every other target in `NonEntryTargets`.

[2020-03-11 13:14] #431 closed, assigned to matkoch

[2020-03-11 21:35] BoSorensen opened #434 "The Produces keyword does not generate PublishBuildArtifacts task for Azure Pipeline when target is added to the NonEntryTargets group"
### Description
Adding a target that uses the Produces keyword to the NonEntryTargets group causes the PublishBuildArtifacts task to not be output in the generated yml file.

### Steps to reproduce
Start with a AzurePipelines definition with a Target named Pack that calls the DotNetPack command like this:
[code]

When the Pack target is added to the NonEntryTargets group, then no PublishBuildArtif

[2020-03-12 06:36] arialdomartini commented on #433
Sure, I will!
So, you are confirming the missing `using` is a bug, aren't you?

Sorry for asking, I'm not expert with NUKE's internals: we got mad for about 2 hours a remote colleague and I: she wasn't able to replicate the issue I was having, so I was sure that depended on an old template still around in my installation.

Also, #403 seems to confirm that this wasn't a bug.

[2020-03-12 07:19] arialdomartini commented on #433
Ok, just published #435.

It is still a mystery to me why in #403 @matkoch commented

It seems to suggest that this was *not* a bug, but something depending on the local environment.

Before pushing a PR, I firstly opened an issue as suggested by your Contribution Guideline (at Don't Push Your Pull Requests"). I apologize if I have misunderstood the meaning of

Regarding #435, I wanted to run `nuk

[2020-03-12 14:19] BoSorensen opened #436 "More control over DisplayName for AzurePipelines job"
### Description
Currently the Job name and DisplayName for an AzurePipelines job are identical. It would be nice to have different values set for the two. Perhaps Description could be used as input for DisplayName as it does not seem to be used for anything.

To be backwards compatible, the DisplayName could still work as it is today if Description has not been set for the target.

### Alternative

[2020-03-12 19:00] krankenbro opened #437 "Nuke isn't packing referenced tools with global tool"
### Description
http://www.nuke.build/docs/sharing-builds/global-tools.html

Actually after dotnet pack we have only the tool packed without the referenced packages

### Steps to reproduce

1. add to  csproj:
![image](https://user-images.githubusercontent.com/42555001/76557229-db4e2580-64a3-11ea-823e-d96a30f1cb62.png)

2 dotnet pack

### Relevant log output
![image](https://user-images.githubuserc

[2020-03-12 19:21] cmenzi commented on #437
Yes, I've encountered the same issue. This is the behavior of NuGet. See https://github.com/NuGet/Home/issues/9132#event-3004692576

I've achieved it by repacking the NuGet package after pack.

What I did I created a `.props` where the package references are defined with a `Pack=true` attribute. You can also use your `.csproj`, but I use the `.props` file, because I use share build with NuGet pack

[2020-03-13 11:05] ayfie-frank-gynnild opened #438 "Visual Studio 2019 open while building with Nuke from the command line causes IOException"
### Description
When our solution in Visual Studio 2019 is open, while we build with `build.ps1` from the command line, we always get `The process cannot access the file` issues. This has been observed on all our dev machines.

### Steps to reproduce

1. Open solution in VS2019 (ours has ~140 projects).
2. Build from command line with Nuke using `build.ps1`.
3. Experience this symptom (some parts

[2020-03-13 14:11] erkinkas commented on #387
existing `AzurePipelinesOutputSink` works well enough with `Azure DevOps Services`

<img width="1399" alt="LoggerTest_Build" src="https://user-images.githubusercontent.com/13992901/76627345-bfde2b80-6532-11ea-8cdc-2a628a6ce6e3.png">

but it's not that pretty with `Azure DevOps Server 2019`

<img width="1328" alt="LoggerTest_Release" src="https://user-images.githubusercontent.com/13992901/76627486-

[2020-03-14 10:52] ThinkingBIGRon commented on #436
I see value in this too - in other build environments like TeamCity.

[2020-03-14 17:38] falamarzijahromi opened #439 "Nuke doesn't support DebugType for DotNetPublish and DotNetBuild"
### Description

In many cases for builds and publishes, it's required to have the build results without .pdb files. With dotnet core CLI it's possible to achieve this by entering dotnet publish /p:DebugType=None

### Alternatives

Setting property group condition for different configurations in the project file.

`
<PropertyGroup Condition=" '$(Configuration)' == 'Release' ">
  <DebugType>None</D

[2020-03-14 21:26] matkoch commented on #439
Please create a PR.

[2020-03-14 21:26] #439 closed, assigned to matkoch

[2020-03-14 21:31] #438 closed, assigned to matkoch

[2020-03-16 06:26] lars-nielsen opened #441 "Add Commit to GitRepository"
### Description
Nuke.Common.Git.GitRepository interacts with the local repository and parses the HEAD file.

All that is needed is reading the contents of .git\refs\heads\XXXX and exposing it in a Commit property on the GitRepository type

Edit.
In the event that the HEAD is detached the id will be located in HEAD file

### Alternatives
Use GitVersion - But this approach seems overkill as this is

[2020-03-16 13:04] matkoch commented on #441
Could you provide a PR ?

[2020-03-16 13:11] matkoch commented on #337
@Elufimov was this correctly resolved for your case?

[2020-03-16 21:44] totollygeek commented on #428
Can't seem to find a solution that fits at the moment. Closing issue until enlightenment comes and I figure out something genius 😏

[2020-03-16 21:44] #428 closed, assigned to matkoch, totollygeek

[2020-03-17 06:47] lars-nielsen commented on #441
@matkoch

Yep, i'm finishing up right now. Can you confirm that there is no way to get the current commit from teamcity.

[2020-03-17 06:57] matkoch commented on #441
@lars-nielsen I'm not sure what you mean? The commit sha?

[2020-03-17 07:15] lars-nielsen commented on #441
@matkoch

Yep, if we are doing a CI build we might as well inject it as is done with branch
(GitRepositoryAttribute.GetBranch)

Search for **Build.SourceVersion** @ https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml

So im looking for something equivalent.

[2020-03-17 10:44] paolofulgoni opened #442 "InvalidProjectFileException during package installation in VS2017"
### Description

It's not possible to install the `Nuke.Common` package in a legacy .NET project.

It seems there is an issue with this line:

https://github.com/nuke-build/nuke/blob/aa101837848cc062f03970a50c70fdb6469bdf44/source/Nuke.Common/Nuke.Common.props#L11

### Steps to reproduce

1. Create a standard project in VS2017, targeting .NET Framework 4.8
2. Install the `Nuke.Common` package, ver

[2020-03-17 11:18] matkoch commented on #442
Why legacy project?

[2020-03-17 11:37] paolofulgoni commented on #442
Because the new one doesn't work on VS2017, so I tried the legacy and found this other issue
(I would definitely prefer to use the new project type)

[2020-03-17 11:45] paolofulgoni commented on #442
Sorry, ignore my previous comment, the issue doesn't seem to be related to the project type.

Even with the new project type, using VS2017, I get the following error:
[code]

[2020-03-17 12:50] cmenzi opened #443 "GetPackageExecutable gets slower by big local package cache"
### Description

`PackageExecutable` or any other tool like GitVersion resolved by from NuGet packages, execution gets slower and slower.

### Steps to reproduce

1. Having a huge package cache
1. dotTrace
1. Run `build.ps1`

On a build server it's not a big issue, but locally it becomes cumbersome. Not sure if we can try first directly guess the path and doing detailed resolving as a fallback.

#

[2020-03-17 20:13] macsux opened #444 "EnvironmentInfo.Framework is incorrect"
### Description
EnvironmentInfo.Framework is reporting version that nuke assembly was compiled against, instead, it should be reporting the current framework. Since .NET Core 3.0, this can be retrieved via System.Environment.Version.

### Steps to reproduce

1. Compile build against netcoreapp3.1
2. Start the app, it's reporting as netcoreapp3.0

This issue prevents usage of packages that require

[2020-03-17 23:09] matkoch commented on #436
You can create your own derived attribute and set the display name.

[2020-03-17 23:09] #436 closed, assigned to matkoch

[2020-03-18 12:18] tunger commented on #443
Ah, that's the reason why my builds were getting slower locally. I can confirm the issue.

[2020-03-18 15:22] BoSorensen commented on #432
Would modifying Nuke.Common.CI.AzurePipelines.AzurePipelinesAttribute to support a boolean EnableAccessToken be acceptable ? I'm thinking this is only relevant for AzurePipelines and since a single job is generated, it would be fine to enable this through the AzurePipelines configuration.

[2020-03-20 12:08] ayfie-frank-gynnild commented on #438
Update:
We've identified the reason why this happens. It is due to a Visual Studio Extension named "Wix Toolset Visual Studio 2019 Extension". As soon as we disable it, it works. I'll create a ticket there instead. Sorry for the inconvenience.

[2020-03-21 10:22] lars-nielsen opened #446 "Add ListReleases to OctopusTasks"
### Description
List Releases allows us to calculate what the next release name should be, and give the possibility to check if the version already exists

### Alternatives
Call OctopusTasks.Octopus($"list-releases --outputFormat=json --server={server} --apiKey={apiKey} --project=\"{project}\""); and deserialize the result

If accepted ill supply the pull request

[2020-03-21 22:21] matt-richardson commented on #446
Coincidentally, I’m most of the way through putting together a change to the octopus cli to expose all the information needed to auto generate the specification.
Got something mostly working on the octopus cli side, just hacking around on the nuke side to generate the file.

[2020-03-21 23:28] #433 closed, assigned to matkoch

[2020-03-21 23:43] #442 closed, assigned to matkoch

[2020-03-21 23:43] #437 closed, assigned to matkoch

[2020-03-22 12:30] lars-nielsen commented on #446
That sounds awesome.

what is the timeframe, i think i can create a pr tomorrow.

But if youre done soon then i wont bother

lør. 21. mar. 2020 23.21 skrev Matt Richardson <notifications@github.com>:

[2020-03-22 23:28] matt-richardson commented on #446
I suspect I wont have time to complete it in the next few days (juggling too many things). Let's say "a week".

But I've just re-read your PR and

jumped out at me... I hadn't thought about handling that. I'll keep that in mind.

In terms of backwards compat though, a PR here would lock in the type names etc so that is something to keep in consideration.

[2020-03-24 07:43] krankenbro opened #449 "Exit codes"
### Description
It would be nice to provide ability to return custom exit codes. For example, in some case my global tool returns code 123 and then it would be easy to get this in jenkins pipeline script(def code = bat script: mytool SomeTarget, returnStatus: true) for next processing.
To do this now i found an ugly workaround:
![image](https://user-images.githubusercontent.com/42555001/77400443-d

[2020-03-25 03:05] matkoch commented on #449
`SetExitCode(..)` or `ExitCode = ..` ?

[2020-03-25 06:48] krankenbro commented on #449
@matkoch  for example:
![image](https://user-images.githubusercontent.com/42555001/77509309-2a696280-6e75-11ea-8902-f922ccdddba5.png)
in real app i want to handle 409 from nuget(nuget already exists), 422 from github(github release already exists) and so on

[2020-03-25 09:44] mortengjesing commented on #443
https://github.com/nuke-build/nuke/pull/408 should fix it

[2020-03-25 13:18] matkoch commented on #449
The question was if it should be a method or property. But I think I’ll go
with `EnvironmentInfo.ExitCode`, as that is also settable from outside the
build class.

On Wed 25. Mar 2020 at 07:48, Alexandr Morogov <notifications@github.com>
wrote:

[2020-03-25 20:12] matkoch commented on #443
For now we I'm taking a different approach of just filtering packages by ID. If this is not enough, feel free to reopen or comment again.

[2020-03-25 20:12] #443 closed, assigned to matkoch

[2020-03-25 20:29] #394 closed, assigned to matkoch

[2020-03-25 21:13] matkoch commented on #434
We have a solution, just checking on making it more abstract for all CI environments.

[2020-03-25 21:44] matkoch commented on #393
Now made it dark gray. If that's still not enough, please report back.

[2020-03-25 21:44] #393 closed, assigned to matkoch

[2020-03-25 22:20] matkoch opened #450 "Single node execution on CI environments"
### Description
Sometimes it's not necessary to run targets on different agents. In that case, we just want to execute all related targets (dependencies and triggers), to be executed with the top-level invoked target:

[code]

### Suggestions
[code]

Currently preferring alternative two, as it causes less confusion if `NonEntryTargets` is also applied.

[2020-03-25 22:21] ThinkingBIGRon commented on #450
As mentioned on Twitch, my team is interested in this feature - I am happy to take it on for a PR.

[2020-03-26 08:31] cmenzi opened #451 "Version 0.24.6 breaks build"
### Description

After updating `Nuke.Common` to version `0.24.6` build does not work anymore.

### Steps to reproduce

### Relevant log output

[code]

[2020-03-26 08:54] ayfie-frank-gynnild commented on #451
I experience the same issue here.

[2020-03-26 08:55] paolofulgoni opened #452 "Simplify Platform (AnyCPU, x64, etc) handling"
### Description

There are a lot of "helpers" to handle the Configuration:

* the `Nuke.Common.Configuration` class
* `.SetConfiguration(...)` methods in `MSBuild`, `NuGetPack` etc.
* a predefined `Configuration` property in the build template

But unfortunately there isn't the same to handle the Platform.

### Alternatives

Use the `Nuke.Common.Tools.MSBuild.MSBuildTargetPlatform` class

[2020-03-26 09:31] krankenbro commented on #451
The same issue

[2020-03-26 11:50] fvaillancourt commented on #451
Same issue
The netcore directory only has this file: Nuke.MSBuildTasks.targets
While netfx has many, including Nuke.MSBuildTasks.dll.
Not sure if it should point to it or there are missing files in netcore.

[2020-03-26 13:40] #451 closed, assigned to matkoch

[2020-03-26 13:54] matkoch commented on #451
@snowbirder @fvaillancourt please star the project.

[2020-03-26 14:12] ayfie-frank-gynnild commented on #451
Done :-) Great project!

[2020-03-26 15:11] krankenbro commented on #451
0.24.7 the issue is still actual
![image](https://user-images.githubusercontent.com/42555001/77662704-e1a0cf00-6f84-11ea-86bb-91b156231d71.png)

[2020-03-26 18:19] matkoch commented on #451
@krankenbro it's a different exception message, so no, it's not the same issue. It is described [here](https://github.com/nuke-build/nuke/issues/348) with a known workaround.

As a side note, next time please don't paste just images of stack traces that I can barely read. Having stack traces in text form is important to do efficient analysis.

[2020-03-26 18:21] matkoch commented on #451
Also, GitHub has a search feature :) https://github.com/nuke-build/nuke/issues?q=json+path+name+is%3Aopen

<blockquote><img src="https://avatars1.githubusercontent.com/u/26774874?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/nuke-build/nuke">nuke-build/nuke</a></strong></div><div>The

[2020-03-27 21:49] matkoch commented on #452
https://github.com/nuke-build/nuke/commit/c653e06c4f4399475ca550e0507470325ee169c1

[2020-03-27 21:49] #452 closed, assigned to matkoch

[2020-03-29 18:50] paolofulgoni commented on #452
@matkoch to be honest I didn't expect that code change... but it makes sense!

Anyway, there is still inequality between Configuration and Platform...
What about adding a Platform class to the template?

[2020-03-29 19:56] matkoch commented on #452
This is supposed to be a template to write your own Platform type. I think
platform is much less used than Configuration. I also moved Configuration,
since many want to extend it.

On Sun 29. Mar 2020 at 20:50, Paolo Fulgoni <notifications@github.com>
wrote:

[2020-03-30 18:02] sbakharev commented on #387
Hi guys. Thanks you all for Nuke!

My situation is identical to one described by @Rurouni. I used my own IOutputSink implementation to avoid the problems described by @erkinkas and also at #264 when using a little bit outdated Azure DevOps server. This is important for us because DevOps is the primary place where we inspect build/test errors and garbled output significantly complicates reading pla

[2020-03-31 01:08] sbakharev commented on #387
P.S. Tested Nuke 0.24 with my current version of DevOps (Dev17.M153.5, released about half a year ago). DevOps definitely has made some improvements for colored output, but it's still not perfect.

![screenshot-2020 03 31-03_59_10](https://user-images.githubusercontent.com/31010533/77976184-e65adf80-7304-11ea-98a9-959a0f35f4db.png)

And even though this is most probably not Nuke's fault, an abilit

[2020-03-31 09:19] lars-nielsen commented on #329
@matkoch Looks like this issue can be closed now

[2020-03-31 23:05] matkoch commented on #412
@magicmonty is it fixed only by changing the invocation, or do you still need to define the encoding?

[2020-04-01 08:01] paolofulgoni opened #453 "Remember Task Runner Explorer configuration after Visual Studio restart"
### Description

The [Visual Studio extension for Nuke](https://marketplace.visualstudio.com/items?itemName=nuke.visualstudio) adds the Task Runner Explorer integration, which is very useful.

Unfortunately the configuration applied in this VS window (i.e. the bindings with VS events) are lost after VS restart. It would be much better if the settings are restored after reopening the solution.

I d

[2020-04-01 08:14] paolofulgoni opened #454 "VSCode extension error: command 'nuke.runTarget' not found"
### Description

### Steps to reproduce

1. open the build project folder in VS Code
2. press F1 and run the `Nuke: Run target` action
3. error: "command 'nuke.runTarget' not found"

![image](https://user-images.githubusercontent.com/5703017/78114408-8433d480-7401-11ea-88e7-9e08253c399e.png)

![image](https://user-images.githubusercontent.com/5703017/78114140-1687a880-7401-11ea-8284-e02f0c0e4bd4.p

[2020-04-01 08:21] ghost commented on #454
It will be easier to help if the screen shot would show if you are opened on the correct sln.
I susspect the vs code is not opened on the _build.csproj correctly.

[2020-04-01 08:26] ghost commented on #454
Another option would be to go in the vs code settings->Nuke and change the path.

[2020-04-01 08:38] paolofulgoni commented on #454
@ohgrad in my case, the build project is not part of any solution.
I've just opened the folder containing the build project (right click on the folder - open with code)
I can build/debug the project, so I think it's opened the right way.

[2020-04-01 08:44] paolofulgoni commented on #454
I've just tried to change the **Nuke: Build project pattern** setting from `*build/*build*.csproj` to `*build*.csproj`, but nothing changed.

[2020-04-01 09:24] ghost commented on #454
did you try to re-run the OmniSharp after changing the path ? or "reload window" ?

[2020-04-01 10:18] paolofulgoni commented on #454
I restarted VS code

[2020-04-01 10:30] ghost commented on #454
Im sorry but i cant reproduce it.
can you send the OmniSharp log after finishing to load the project?

[2020-04-01 12:03] paolofulgoni commented on #454
Sure! Here it is:

[code]

[2020-04-01 12:30] ghost commented on #454
so if your project root is "vis-ftvision" (also the .nuke file should be there) then the default path in the nuke extention settings should work just fine.
try to make a clean dummy project and do a new nuke setup on it and see if the extention reproduce this problem for you.

[2020-04-01 14:56] paolofulgoni commented on #454
OK, I'll try to make an ad-hoc public repo to reproduce the issue and then link it here

[2020-04-01 18:09] bitbonk opened #455 "Add a .nuke folder"
### Description

I just started playing with nuke and I noticed that once I build and run `_build.csproj`, some files are beeing generated inside a `.tmp` folder (e.g. `build-attempt.log`, `shell-completion.yml`). If I understand it correctly, the whole `.tmp` folder can completely added to `.gitignore`. Nothing in there ever needs to be added to source control.

Additionally there is the `.nuke`

[2020-04-01 19:41] matkoch commented on #453
Just FYI, I don't plan to work on that even in the far future. If you want to work on that yourself, the repo is at https://github.com/nuke-build/visualstudio.

<blockquote><img src="https://avatars1.githubusercontent.com/u/26774874?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://github.

[2020-04-01 23:14] matkoch opened #457 "Support netcoreapp3.x in global tool"

[2020-04-01 23:27] ThinkingBIGRon commented on #455
I support this - opens up some flexibility around other features in the future.

[2020-04-02 06:18] paolofulgoni commented on #453
You want me to use Rider, right? 😂 just kidding

[2020-04-02 06:34] paolofulgoni commented on #455
This looks a very good idea to me.

However, I personally don't like having multiple `.gitignore` files.
What about adding a new `.gitignore` template for Nuke?
For example, Gradle has one: https://github.com/github/gitignore/blob/master/Gradle.gitignore
And Cake has its own in this other repo: https://github.com/toptal/gitignore/blob/master/templates/Cake.gitignore

<blockquote><img src="https://

[2020-04-02 08:11] bitbonk commented on #455
The advantage of a separate `.gitignore` is that it just works. Users would not have to think about it at all (other than committing it).

If there is no separate `.gitignore` that is autogenerated by nuke, users will have to hunt for and then add the right settings themsefles. Also you‘d probably want to get the nuke stuff into the templates of of the various IDEs. (e.g. [Visual Studio](https://g

[2020-04-02 10:49] VolkmarR opened #458 "Allow abbreviation of target"
### Description

When starting Nuke from the command line, it is required to specify the full name of the target. If would be nice, if I could specify only the start of the target, as long it identifies one unique target.

#### Example

The available targets are: clean, restore, compile.
| command line | executes target |
|---|---|
| nuke r | nuke restore |
| nuke c | invalid target, because not u

[2020-04-02 11:44] #458 closed, assigned to matkoch

[2020-04-02 11:44] matkoch commented on #458
There is shell completion exactly for that matter.

[2020-04-02 12:15] VolkmarR commented on #458
The benefit of adding this to nuke itself would be, that it would be working in any shell. But registering  the shell completion is certainly an alternative. In any case, I could make a PR, if you see it beneficial to add this feature.

[2020-04-02 12:23] matkoch commented on #453
Certainly not a bad idea :>

[2020-04-02 19:49] matkoch opened #459 "Warn when GitVersion is used with SSH endpoint"
When GitVersion is used with an SSH endpoint, we could warn about that and suggest to set `NoFetch = true`. For that to work, `GitRepository` must carry information whether it was parsed from SSH or HTTPS endpoint.

Originally suggested in #388

https://github.com/nuke-build/nuke/blob/b837ba757ec9aa56ada619f7b3602cd95bc529f9/source/Nuke.Common/Tools/GitVersion/GitVersionAttribute.cs#L31-L55

[2020-04-02 19:59] ghost opened #460 "Process should not be killed automatically upon time out"
Why dont we let the user trigger "Kill" himself? is it a must to always shut down a process if it just exceeded the amount of time out?

[code]
Fixing this code block will allow better end user control on timed out process.
This is very useful for integration tests.

[2020-04-02 23:56] matkoch commented on #458
Sorry, but I don’t think it’s worth it.

[2020-04-03 09:56] ayfie-frank-gynnild opened #462 "build.ps1 - Unable to download the .NET Core because of TLS issues"
### Description
Tried to run the build.ps1 inside Docker for Windows, but unable to download the .NET Core from Microsoft due to SSL issues.

### Fix
Added this line:
[code]
before d/l in the `build.ps1` file.

### Steps to reproduce

Needs a context, like build.ps1 etc.

Dockerfile
[code]
When running this Dockerfile, it fails with it can't download.

### Relevant log output

Running build.ps1 fr

[2020-04-03 12:03] matkoch commented on #462
Should that be done in any case?

[2020-04-03 12:42] ayfie-frank-gynnild commented on #462
Good question. I think maybe a fallback strategy could work if the default security protocols fails.
But before doing anything, it would be good to know the exact root cause first, as we currently have a workaround.

# PowerShell
[code]

# Output
[code]

[2020-04-04 08:17] jussimattila opened #463 "Easier configuration of CI file output directory and name"
### Description
Files generated by CI attributes (e.g. `AzurePipelinesAttribute`) are written into project root. Since the properties controlling output file folder and name are private, they cannot be modified by a deriving class:
[code]
It is possible to change the output file folder and name by deriving the attribute class and overriding its `GeneratedFiles` property and `CreateWriter()` method

[2020-04-04 08:18] jussimattila commented on #463
Issue submitted based on this Slack thread: https://nukebuildnet.slack.com/archives/C9Q99MFU0/p1585906090420700

<blockquote><img src="https://a.slack-edge.com/80588/marketing/img/meta/favicon-32.png" width="48" align="right"><div><strong><a href="https://nukebuildnet.slack.com/archives/C9Q99MFU0/p1585906090420700">Slack</a></strong></div></blockquote>

[2020-04-05 14:25] sm-g opened #465 "Non-english chars displayed as '?' in console output"
### Steps to reproduce

1. Run nuke build script with msbuild step from powershell on Win10-machine with non-English locale (Russian in my case)

### Relevant log output

nuke 0.22.1 is fine:

[code]

nuke 0.24.7 prints `?` to output:
[code]

[2020-04-05 17:17] matkoch commented on #465
Sorry, can't reproduce.

[2020-04-05 17:17] #465 closed, assigned to matkoch

[2020-04-05 20:31] ghost commented on #462
https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls

**As you can see from your docker file the Runtime Environment is 4.8.
Please look on the following changes:
From 4.6 the default security protocol changed to TLS.**

https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/runtime/4.0-4.8

**So now that we know the core of the issue, I think a fallback system is g

[2020-04-06 06:32] sm-g commented on #465
I have updated globaltool, but that did not solve the issue:
[code]

And even when run via build.ps1 I have the same output, for both cmd and powershell.

Msbuild step is:

[code]

Maybe msbuild should be installed from localized installer to reproduce this?
Do you really change nothing about encoding between 0.22 and 0.24?

[2020-04-06 07:42] ayfie-frank-gynnild commented on #462
Thanks for shedding more light on it @ohgrad, a fallback mechanism to TLS 1.2 - so that it behaves and works on more OS - seems to be a good approach. The rest of the versions are deprecated: https://www.ssl2buy.com/wiki/ssl-vs-tls

<blockquote><img src="https://www.ssl2buy.com/wiki/wp-content/uploads/2018/10/ssl2buy-ssl-certificate-security.jpg" width="48" align="right"><div><img src="https://www

[2020-04-06 08:18] sm-g opened #467 "Dotnet installation began when global.json has not latest version"
global.json:

[code]

`dotnet --version`'s output (`3.1.201` in my case) used in build.ps1 to decide whether to download and install dotnet.exe.

But 3.1.101 already installed (checking via `dotnet --info`:
[code]

[2020-04-06 13:58] sm-g commented on #465
@matkoch

I clone this repo, run `nuke compile` on it and get the same issue:

[code]

Then I comment `Encoding.UTF8` lines at https://github.com/nuke-build/nuke/blob/develop/source/Nuke.Common/Tooling/ProcessTasks.cs#L125 and run `nuke compile` again:

[code]

<blockquote><img src="https://avatars1.githubusercontent.com/u/26774874?s=400&v=4" width="48" align="right"><div><img src="https://github.

[2020-04-06 14:06] sm-g commented on #465
from https://stackoverflow.com/a/16803846/3009578

adding
[code]
to SystemColorOutputSink ctor solves the issue.

Please, add this fix in the next release.

<blockquote><img src="https://cdn.sstatic.net/Sites/stackoverflow/img/apple-touch-icon@2.png?v=73d79a89bded" width="48" align="right"><div>Stack Overflow</div><div><strong><a href="https://stackoverflow.com/questions/16803748/how-to-decode-cmd

[2020-04-06 18:46] robsonj commented on #348
I believe I am experiencing the same issue, the workaround does not seem to help my situation. Hopefully of help, here is the stack trace...
[code]

[2020-04-07 14:12] dmealo commented on #453
I just would like to add a vote for supporting the large community of Enterprise developers using Visual Studio.  Also, would PRs to that repo be merged, or is that a dead end?

Our team was considering switching to this tool from Cake, but this topic makes things look like this tool might be heading in the same direction of not supporting common developer workflows in the long run.

[2020-04-07 15:44] matkoch commented on #453
Think I’m gonna need a few days to let that sink.

[2020-04-07 20:50] paolofulgoni commented on #455
I agree, but on the other hand having a single `.gitignore` has one advantage too, that's *simplicity*. In fact, a single list of ignore pattern is easier to understand. Also the `.gitignore` in the root folder is well known and visibile, while a second `.gitignore` in a subfolder is somehow hidden and unexpected.

Moreover, tools like [gitignore.io](https://gitignore.io) make the creation of the

[2020-04-07 21:10] paolofulgoni commented on #454
Here it is: https://github.com/paolofulgoni/nuke-issue-454
Hopefully you can now reproduce the issue

<blockquote><img src="https://avatars3.githubusercontent.com/u/5703017?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://github.com/paolofulgoni/nuke-issue-454">paolofulgoni/nuke-issue-454

[2020-04-08 09:38] yang-xiaodong opened #468 "0.24.7 is compatible with Nuke.Docker 0.4.0 ?"
Hello,

My build works well at version `0.24.4` , but when I upgrade to `0.24.7` it can't build normally, please investigate if this is a bug?  Thanks

Error Log: `Couldn't load metadata file 'docker-config.json'.`

[code]

[2020-04-08 09:58] arodus commented on #468
The `Nuke.Docker` package is obsolete and was moved to `Nuke.Common` due to frequent api changes as nuke is still in beta.
That way it's easier to maintain compatibility with updated nuke versions.

[2020-04-08 11:56] maartenba commented on #462
Not sure if related, but https://github.com/dotnet/sdk/issues/11172

[2020-04-08 12:07] #462 closed, assigned to matkoch

[2020-04-08 12:08] matkoch commented on #468
Dup of #348

[2020-04-08 12:08] #468 closed, assigned to matkoch

[2020-04-08 12:09] matkoch commented on #467
Could you provide a repro?

[2020-04-08 12:54] matkoch commented on #453
@DavidMtbg how about you sponsor the project to make your company issues our priority? It's beyond my comprehension that THIS WORKFLOW is worth making shady assumptions about what direction we're taking.

[2020-04-08 13:00] totollygeek commented on #453
I, myself, am an "enterprise developer" (since I have enterprise license for Visual Studio) and as such, I consider helping out open-source projects as Nuke, by submitting pull requests and help out the community, whose resources I am using on a daily basis.
An "enterprise developer" is not a title to brag about **IF** you consider that you should be given support for non-profit, open-source, **FR

[2020-04-08 13:26] paolofulgoni commented on #453
@DavidMtbg do you confirm that you can reproduce the issue on your side?
If so, is you or your team willing to fix it?

[2020-04-08 14:22] dmealo commented on #453
I am sorry if my message came across the wrong way - it was certainly not my intention.  I only wanted to get to the root of why the feature had value to it's users - because Visual Studio is possibly used by many.  But I am just learning about this tool, so perhaps that is not the case.  I definitely wasn't trying to brag about being an enterprise developer.  I actually work for a consulting firm

[2020-04-08 15:33] ghost commented on #453
@DavidMtbg sponsoring this project sounds as a good future collaboration bridge. Especially when as a consultant this tool means profit.
Stay in touch mate 👊

[2020-04-08 16:51] matkoch commented on #453
@DavidMtbg I still struggle to see the pain this particular issue is causing. Just enable the checkboxes. How many times do you have to restart VS?

[2020-04-09 06:01] sm-g commented on #467
I cannot give code, it depends on installed SDKs on your machine.
For repro you need to set `"version": "3.1.101",` to some other version (or update dotnet to the latest version)

[2020-04-10 14:19] #274 closed, assigned to matkoch

[2020-04-10 14:21] #463 closed, assigned to matkoch

[2020-04-10 14:21] #457 closed, assigned to matkoch

[2020-04-10 14:26] matkoch commented on #454
Everything runs fine for me

[2020-04-10 21:18] paolofulgoni commented on #454
I found it depends on how you open the project on VS Code.

If I open the root folder of the project, i.e. the `nuke-issue-454`, then everything works fine.

If I open the `build` subfolder on VS Code, then I get the _"command 'nuke.runTarget' not found"_ error.

Even changing this Nuke extension settings doesn't solve the problem:
`"nuke.buildProjectPattern": "*build*.csproj"`

I guess that the l

[2020-04-10 21:23] matkoch opened #470 "StackOverflowException in CI generation"

[2020-04-10 21:31] paolofulgoni opened #471 "Improve how VS Code extension finds the Nuke build project"
### Description

The VS Code extension finds the Nuke build project based on a glob pattern, stored in the `nuke.buildProjectPattern` setting. This works fine in most of the use cases.

Nevertheless there may be some cases in which you must change this setting, such as:
* you want to open the build project folder in VS Code, not the root folder
* your build project has a non-standard name

An alte

[2020-04-10 21:43] matkoch commented on #471
Why don't you just change the glob pattern?

[2020-04-10 21:50] arodus commented on #471
I agree.

The extension just gets enabled when the `.nuke` file is available in the workspace (https://github.com/nuke-build/vscode/blob/master/package.json#L143-L145).

To change that the extension would have to be enabled as soon as a csharp project is loaded which is quite some overhead, especially if you're doing a recursive search looking for the build project which may not exist at all.

<bl

[2020-04-11 10:10] paolofulgoni commented on #471
I didn't know about the need of a `.nuke` file in the workspace. I understand it makes much sense.

So I'm closing this issue, thanks for the clarification

[2020-04-11 10:10] #471 closed, assigned to matkoch

[2020-04-11 10:12] paolofulgoni commented on #454
As @arodus  said here https://github.com/nuke-build/nuke/issues/471#issuecomment-612233469 the VS Code extension looks for a `.nuke` file, that's why it doesn't work if you open just the build project folder as workspace.

So I'm closing this issue given that by design you must open the root folder

[2020-04-11 10:12] #454 closed, assigned to matkoch

[2020-04-13 08:42] sm-g commented on #465
found the way to show repro:

1. create csproj
[code]

2. and nuke script with

[code]

3. open powershell.exe in windows10 (I have 5.1 version of powershell) and run repro target.

output:

[code]

I also found that powershell in VS Code handles output as expected:

[code]

[2020-04-13 14:50] VictorioBerra opened #474 "Brand new NUKE generation results in compiler warning `Solution MyApp.sln has an active build configuration for _build.csproj.` after openeing SLN in VS."
### Description

If you generate a nuke build using `nuke :setup` and then you open the SLN in VS. From that point on you will always receive the following error:

`Solution MyApp.sln has an active build configuration for MyApp\build\_build.csproj.`

### Steps to reproduce

1. `dotnet new sln --name NukeIssue`
2. `dotnet new mvc --name NukeIssue.Web`
3. `dotnet sln .\NukeIssue.sln add .\NukeIssue.

[2020-04-13 18:40] matkoch commented on #474
That's more or less impossible. Solution modifications are done manually, and we don't add build configurations for the newly created build project.

[2020-04-13 18:45] matkoch commented on #467
I'm sorry, but this works as expected on multiple CI agents. So I'm gonna need a repro on a CI server at least. Meanwhile closing. Feel free to add more information.

[2020-04-13 18:45] #467 closed, assigned to matkoch

[2020-04-13 21:29] VictorioBerra commented on #474
@matkoch That's fine. But I think maybe a mention of this on the docs, or even better if it could be auto detected by NUKE and the user could be informed of that problem and the fix would be very helpful.

Again this warning will probably pop up for a lot of people.

[2020-04-13 22:09] matkoch commented on #474
I’m confused. We are actively checking that? That’s why there is the warning. Additionally, this usually only appears when you’re not properly proceeding with the setup. More or less user error to me.

[2020-04-13 22:12] matkoch commented on #474
Btw, this is not a compiler warning.

[2020-04-13 22:12] VictorioBerra commented on #474
Can you please advise given the steps I show above to reproduce, what should I have done different to avoid the error?

It seems to me that if I follow the default nuke :setup, and I open my SLN the build config will be added no matter what I do.

[2020-04-13 22:13] VictorioBerra commented on #474
Most people are not in the habit of editing SLN files manually. So maybe the warning could point to a doc page with more helpful information?

[2020-04-13 22:45] matkoch commented on #474
I simply can't reproduce the issue you're describing.

[2020-04-13 22:48] matkoch commented on #474
Here's what the setup is changing: https://github.com/nuke-build/nuke/blob/develop/source/Nuke.GlobalTool/Program.Setup.cs#L402-L403

<blockquote><img src="https://avatars1.githubusercontent.com/u/26774874?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://github.com/nuke-build/nuke">nuke-b

[2020-04-13 23:13] VictorioBerra commented on #474
That is really odd. I am on Microsoft Visual Studio Community 2019
Version 16.5.1

You?

Make sure when you open the sln you click file -> save all this will save the SLN that was modified by VS. And dont open the SLN until after you ran nuke setup.

[2020-04-13 23:14] VictorioBerra commented on #474
This is very helpful thank you. So whats the downside of having this active config anyway? What problems could it cause?

<blockquote><img src="https://avatars1.githubusercontent.com/u/26774874?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://github.com/nuke-build/nuke">nuke-build/nuke</a

[2020-04-13 23:18] matkoch commented on #474
I have the latest version and did everything as you described. If build configurations are added  for an unknown reason when saving a solution file, that would anyways be a bug outside of this project.

What do you think would happen if you try to build the solution the build project is added to?

[2020-04-14 14:58] Simusharp opened #475 "Wix Installer"
### Description
Thanks for this great project. I wonder if you have any plan to add [Wix installer](www.wixtoolset.org).  I will be happy to provide a PR. However, I saw that Wix was mentioned in #259 Also, there was a PR for Wix in the old "common tool" repo. So, I guess my question, are you interested in adding Wix or not?

Thanks,

[2020-04-15 01:25] matt-richardson commented on #475
Are you looking at adding support for something like [cakes support for WiXHeat](https://cakebuild.net/api/Cake.Common.Tools.WiX/WiXAliases/AF4E4C0F)? I could use definitely use something like that.

[2020-04-15 11:24] jozsefcsontos opened #476 "Ambiguous call in generated Build.cs using Visual Studio 2017"
### Description
I would like to build a .NET 4.6.2 specific app with Nuke 0.24.6 and Visual Studio 2017 (15.9.21), but got error messages after downgrading the TargetFramework to netcoreapp2.1 in _build.csproj.

### Relevant log output
1>Build.cs(42,18,42,32): error CS0121: The call is ambiguous between the following methods or properties: 'DotNetTestSettingsExtensions.SetProjectFile<T>(T, string)

[2020-04-15 12:55] matkoch commented on #476
Seems to be a bug in VS2017.

[2020-04-15 12:55] #476 closed, assigned to matkoch

[2020-04-15 19:34] Simusharp commented on #475
@matt-richardson, yes, I think it will be helpful. Let's wait for @matkoch 's opinion; maybe he still has the wix PR from old repo.

[2020-04-16 00:55] ghost opened #477 "Expose ExitCode from ProcessException"
### Description
The ProcessException class should expose a property (ExitCode) with the exit code from the tool. Some tools return exit code other than 0 which is not considered an error. This will allow the opportunity to interrogate the exit code and act accordingly. An example is robocopy. An exit code <= 8 is not considered an error.

### Alternatives
Specify which return codes to consider an

[2020-04-16 10:36] VolkmarR opened #479 "Folders boot and config missing in Visual Studio 2019 (16.5.4) with version 0.24.8"
### Description

After upgrading from version 0.24.7 to 0.24.8, the folders *boot* and *config* disappear in the solution explorer.

### Steps to reproduce

1. Create new solution.
2. Add a nuke build project using version 0.24.7
3. Open the solution in Visual Studio 2019. The _build project contains the folders *boot* and *config*
4. Upgrade to nuke 0.24.8. The folders *boot* and *config* disappe

[2020-04-16 11:15] VolkmarR commented on #479
I've created a test solution to reproduce the problem, that contains the steps 1, 2 and 3.
https://github.com/VolkmarR/TestMissingFolders

<blockquote><img src="https://avatars1.githubusercontent.com/u/9860916?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://github.com/VolkmarR/TestMissin

[2020-04-16 16:38] #479 closed, assigned to matkoch

[2020-04-16 16:40] matkoch commented on #475
The PR from @jonsth131 is still available at https://github.com/matkoch/common/pull/15

Adding support for WiX requires a bit of work for the code generation part, since multiple executables exist in the same package.

[2020-04-17 14:35] jnyrup opened #480 "Nuke.MSBuildTasks.CodeGenerationTask fails when upgrading to 0.24.9"
### Description
I tried upgrading Fluent Assertions from 0.24.7 to 0.24.9, but Visual Studio gives me the error below.
I tried upgrading to 0.24.8 first, and that didn't gave any errors.

### Steps to reproduce
1. git clone https://github.com/fluentassertions/fluentassertions.git
2. Checkout develop
3. Change `Build/_build.csproj` to use 0.24.9 instead of 0.24.7
4. Open `FluentAssertions.sln` in V

[2020-04-17 17:02] matkoch commented on #480
@jnyrup I just tried and don't see any issues when just running `nuke` as a command. Is it only in VisualStudio ?

[2020-04-17 17:19] jnyrup commented on #480
Is that running `build.ps1`?
That runs fine.

Tried deleting the .vs folder and running `devenv /SafeMode` to see if it might be some cached stuff, but it didn't change the outcome.

So right now, I've been only been able to trigger it from Visual Studio Professional 16.5.4.
I also have a Visual Studio 16.6 preview installation where it also fails.

[2020-04-17 17:56] jnyrup commented on #480
I can reproduce it outside Visual Studio, using

[code]

[2020-04-18 09:32] mbaumanndev opened #481 "Update GitHub Actions to use checkout v2"
I added Nuke to a project using GitHub Actions that used a handwritten yml.

In that script, I used  `actions/checkout@v2`, Nuke generate a script with `actions/checkout@v1`.

Is it possible to make the upgrade without editing the generated yml file ?

[2020-04-18 09:39] mbaumanndev opened #482 "Add support for dotnet-version in GitHub Actions"
In GitHub Actions we can specify a SDK version to use when executing the action.

Is it possible to generate the proper yml section for the `setup-dotnet` according to what's in the `global.json` or specified manually in the `GitHubActionsAttribute` ?

[code]

[2020-04-18 10:01] matkoch commented on #482
This is already taken care of through the bootstrapping files.

[2020-04-18 10:01] #482 closed, assigned to matkoch

[2020-04-19 07:45] artemutin commented on #465
I can confirm the same issue on a machine with localized (Russian) msbuild. Proposed [fix](https://github.com/nuke-build/nuke/pull/473) with setting [Console]::OutputEncoding in build.ps1 helps when running build through build.ps1, but doesn't help when running build through global tool or debugging build project in Rider.

[2020-04-21 03:37] yang-xiaodong opened #483 "Chinese language linux OS commands are output / as unicode"
### Description

OS: Ubuntu 16.04

[code]

[code]
### Relevant log output

[code]

[2020-04-21 16:30] sm-g opened #484 "Cannot use EF6.exe nuget tool"
I add
[code]
with
[code]
but `GetPackageExecutable` fails, because [packageExecutablePaths](https://github.com/nuke-build/nuke/blob/0cb1fa42e3b635560926b7380514ecc36a1b5e0e/source/Nuke.Common/Tooling/ToolPathResolver.cs#L61) contains 4 paths in case of this nuget package:

- tools\net45\any\ef6.exe
- tools\net45\win-x86\ef6.exe
- tools\net40\any\ef6.exe
- tools\net40\win-x86\ef6.exe

and so
[code]

[2020-04-21 17:12] sm-g opened #485 "Msbuild cound not be found when installed in non-default location"
1. Install VisualStudio not in Program Files
2. Use `Msbuild()` task in nuke script.

task failed with `Assertion failed: Could not find a suitable MSBuild instance.`, because MSBuildToolPathResolver [looks at SpecialFolders.ProgramFilesX86](https://github.com/nuke-build/nuke/blob/0cb1fa42e3b635560926b7380514ecc36a1b5e0e/source/Nuke.Common/Tools/MSBuild/MSBuildToolPathResolver.cs#L68)

[2020-04-21 20:41] Ted-TW commented on #485
I ran into this issue as well, I was able to fix it by using `MSBuild(s => s.SetToolPath(Path / To / Msbuild).`

[2020-04-21 22:20] sm-g commented on #485
@Ted-TW I know that this could help, in my case we check env variable "msbuild" before setting path, so developers with non standart path could set it on their machines.

I also could use vswhere task of nuke and build path manually for everybody.

[2020-04-21 22:37] #485 closed, assigned to matkoch

[2020-04-22 19:08] #474 closed, assigned to matkoch

[2020-04-22 20:46] ghost commented on #451
I link here same issue #480 (blocked issue).
We should open this or the other one again. since this issue still exists in version 0.24.9.
The current issue is that the path is broken and contains `\\` before the .dll file name.

[2020-04-22 21:48] matkoch commented on #481
Not sure what you mean?

[2020-04-22 21:48] matkoch commented on #477
Tracked in #326

[2020-04-22 21:48] #477 closed, assigned to matkoch

[2020-04-22 21:50] matkoch commented on #453
So who would look at that?

[2020-04-23 00:21] #484 closed, assigned to matkoch

[2020-04-23 00:43] matkoch commented on #444
How does this prevent from using packages for 3.1 ?

[2020-04-23 07:59] sm-g commented on #484
@ohgrad you asked me to create this issue. Maybe you could add _a bit_ more info why it is closed?

[2020-04-23 08:07] sm-g opened #487 "Add ability to set multiply Properties at once"
As user of `SetProperties`-extension method I expect that it works like `SetProperty`, but for many of them at once. But instead it also resets all already set properties. So this does not work as expected:

[code]

but this works:

[code]

If somebody will want to clear all properties before settings bunch of new ones, it is possible with calling `ClearProperties` as first.

[2020-04-23 09:26] ghost commented on #484
Unfortunately I don't have all the information to answer your doubt.

[2020-04-23 10:27] #487 closed, assigned to matkoch

[2020-04-23 16:20] martin211 opened #488 "GetPackageExecutable return wrong data for SonarQube"
### Description

Install msbuild.sonarqube.runner.tool package and create a SonarQube step at build file.
Try to run it and you will see that nuke checks only two frameworks instead three.
The problem is [here](https://github.com/nuke-build/nuke/blob/13cbedec0855402a138ff9c5db28d9f05220af8b/source/Nuke.Common/Tooling/ToolPathResolver.cs#L45). Nuke returns executable paths only for first packageExe

[2020-04-23 22:00] #348 closed, assigned to matkoch

[2020-04-23 22:00] #480 closed, assigned to matkoch

[2020-04-24 10:35] Marat-Gumerov opened #489 "Rider plugin: Build targets are not available outside of _build project"
### Description
When I hit "Execute NUKE build" in Build.cs, or in any .cs file inside _build.csproj, where all targets declarated, I can see a list of targets and execute them.
But when I hit "Execute NUKE build" in any other project inside my solution, it says "There are no items to show in this menu".

I use Rider 2020.1.0 on Windows 10, my application is written using .NET Core SDK 2.1.804, _b

[2020-04-24 10:57] matkoch commented on #489
Could you provide a repro project?

[2020-04-24 11:21] Marat-Gumerov commented on #489
This one reproduces problem on my pc:

https://github.com/Marat-Gumerov/nuke-bug-repro-489

<blockquote><img src="https://avatars1.githubusercontent.com/u/56924662?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://github.com/Marat-Gumerov/nuke-bug-repro-489">Marat-Gumerov/nuke-bug-repro-48

[2020-04-24 11:40] Bomret commented on #481
I think what @mbaumanndev is referring to might be that if you add the `GithubActionsAttribute` on your Build class to auto-generate a Github Actions yaml, that one uses a `actions/checkout@v1` instead of the newer `v2`. Might be a good candidate for up-for-grabs.

[2020-04-24 15:57] Marat-Gumerov commented on #489
If I add `<PackageReference Include="Nuke.Common" Version="0.24.10" />` to nukebug.csproj - everything works

[2020-04-24 15:59] Marat-Gumerov commented on #489
I debugged plugin using dnSpy, looks like problem is in this line of code:
https://github.com/nuke-build/resharper/blob/master/src/dotnet/ReSharper.Nuke/Extensions.cs#L92

<blockquote><img src="https://avatars1.githubusercontent.com/u/26774874?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="http

[2020-04-24 16:07] Marat-Gumerov commented on #489
https://github.com/nuke-build/resharper/blob/master/src/dotnet/ReSharper.Nuke/Extensions.cs#L90 - here, targetDeclaredType does not contain assembly when I call from project without reference to Nuke.Common. And assembly is Nuke.Common when I call from Build.cs
I think that is the difference

<blockquote><img src="https://avatars1.githubusercontent.com/u/26774874?s=400&v=4" width="48" align="right

[2020-04-25 22:14] matkoch commented on #489
@Marat-Gumerov thanks for investigating. I thought about something like that, but knowing where it is exactly helps a lot. I will take a look asap, but could take a while.

[2020-04-26 07:20] RemyDuijkeren commented on #455
On the first commit after adding NUKE, the folder will pop-up to be committed. This is normally the time developers will review what needs to be in `.gitignore`. I think the convention is that folders starting with a dot (.) are usually user-specific folders, like: .git, .vs, .vscode, .tmp, .cr, etc. I think a lot of developers will assume this, and therefor automatically set the .nuke or .tmp fol

[2020-04-26 11:10] matkoch commented on #455
It works VCS agnostic. So some kind of marker is necessary. Also these are
only negative examples, for Rider for instance, content of the `.idea`
folder _is_ commited to source control.

On Sun 26. Apr 2020 at 09:20, Rémy van Duijkeren <notifications@github.com>
wrote:

[2020-04-26 21:45] matkoch commented on #450
@ThinkingBIGRon any progress?

[2020-04-27 19:42] matkoch commented on #489
I think I’ve fixed it. I will release a new version very shortly.

[2020-04-27 19:42] #489 closed, assigned to matkoch

[2020-04-28 20:11] VolkmarR opened #492 "Assertion "could not find root directory for ..." for solutions without .git directory"
### Description

When switching from version 0.24.5 to 0.24.10, I get an assertion for projects, that are don't use git (i.e. have no .git folder)

### Steps to reproduce

1. Create a new folder
2. Add a nuke script
3. Run nuke --help
4. The assertion "Assertion failed: Could not find root directory for '[...]'" will be shown

or

3. Switch to the build folder
4. Run dotnet build
4. The assertion

[2020-04-29 10:04] madhusameena opened #493 "Issues while installing Resharper plugin"
Getting installation errors while installing Resharper plugin
please find the logs
[InstallLog_2020-04-28T10-52-00.txt](https://github.com/nuke-build/nuke/files/4551008/InstallLog_2020-04-28T10-52-00.txt)
[Kafurap.txt](https://github.com/nuke-build/nuke/files/4551010/Kafurap.txt)

Also raised issue in R# - They asked me to raise here
https://resharper-support.jetbrains.com/hc/en-us/requests/262811

[2020-04-29 17:02] Alexcei88 opened #494 "GetMSBuildProject() is failed for new csproj files"
### Description

[According documentation](https://nuke.build/docs/authoring-builds/solutions-and-projects.html),
we can get details information about project from solution using by

[code]

### Steps to reproduce

If I try to execute above code for project which has a new csproj format I catch the exception

[code]

If my project has an old csproj format I don't have any problem.

[2020-04-29 20:10] mortengjesing opened #495 "Not able to create a NuGet package referencing Nuke.Common"
If you create a project and add Nuke.Common as a NuGet reference `dotnet pack` does not output any package as property `IsPackable` is set to `false` by this [line](https://github.com/nuke-build/nuke/blob/f6f9f21d09844acfa368934811f4771cc65eef8f/source/Nuke.Common/Nuke.Common.targets#L12)

Think it is due to new placement of Nuke.Common.targets [here](https://github.com/nuke-build/nuke/blob/881c15

[2020-04-29 20:18] matkoch commented on #494
What target framework is the project?

[2020-04-29 20:25] Alexcei88 commented on #494
The target framework is net48.

I am providing my csproj for example

[code]

The nuke project is targeted on net48 as well.

[2020-04-29 22:28] matkoch commented on #494
Please try to load the project with just `Microsoft.Build`. I suppose this is an issue with their packages.

[2020-04-29 22:29] matkoch commented on #494
Also please star the project ;)

[2020-04-29 23:39] matkoch commented on #493
Released 2020.1.1

[2020-04-29 23:39] #493 closed, assigned to matkoch

[2020-04-30 11:11] jozsefcsontos opened #496 "Ambiguous calls in different namespaces"
### Description
When using Nuke 0.24.8, Build.cs has errors when both MSBuild and NuGet namespaces are being used.

### Steps to reproduce
[code]

### Relevant log output
[code]

[2020-04-30 11:19] matkoch commented on #496
@jozsefcsontos ?

[2020-04-30 11:20] matkoch commented on #496
https://github.com/nuke-build/nuke/issues/476

[2020-04-30 11:20] #496 closed, assigned to matkoch

[2020-04-30 13:42] cmenzi opened #497 "DotNetPackSettings fails on some properties with "," or multiple values"
When adding more than one Authors to a `DotNetPackSettings` via `SetAuthors()` then invocation fails.

1. Description with ","

[code]

2. Multiple Authors

[code]

I think those values must be escaped or quoted differently:

[code]

[code]

[2020-04-30 16:12] matkoch commented on #497
I need more info regarding quoting, or i have to close this.

[2020-04-30 16:13] matkoch commented on #497
As a side-note, authors sounds rather like something that should be done in a project file.

[2020-04-30 16:16] cmenzi commented on #497
Will provide an example project. Sorry for that.

The authors are extracted via Git Log summary in our case....And the Api has the method, so it should work. 😅

[2020-04-30 21:46] #495 closed, assigned to matkoch

[2020-04-30 22:09] matkoch commented on #481
@mbaumanndev what is the benefit of v2 ?

[2020-05-01 06:26] mbaumanndev commented on #481
@matkoch v2 is faster, doesn't use the detached mode, can handle SSH and fixes some issues.
https://github.com/actions/checkout/releases

<blockquote><img src="https://avatars2.githubusercontent.com/u/44036562?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://github.com/actions/checkout">a

[2020-05-01 09:04] cmenzi commented on #497
Here the repro: https://github.com/cmenzi/nuke-issue-497

<blockquote><img src="https://avatars0.githubusercontent.com/u/1763806?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://github.com/cmenzi/nuke-issue-497">cmenzi/nuke-issue-497</a></strong></div><div>Contribute to cmenzi/nuke-issue-

[2020-05-01 09:12] cmenzi commented on #497
Same issue with multiple coverlet output formats: Added to repro aswell.

I think it's something that is always the case, when a comma `,` is in `/property:`, like `/property:a,b` is used.

* https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md#coverlet-integration-with-msbuild
* https://github.com/Microsoft/msbuild/issues/2999#issuecomment-366078677

<blockquote><im

[2020-05-01 09:17] cmenzi commented on #497
Additional info:

I think it must behave like this:

if a comma is in the string, then `\"a,b\"` must be passed, instead of `a,b`
if a comma and whitespaces are in the string then also `\"a b,c d\"` must be passed, instead of `"a b,c d"`

[2020-05-01 12:42] Alexcei88 commented on #494
Hi, Matkoch

I am trying to load the project which has a new csproj format like .

[code]

In order for it to load successfully, I installed two nuget packages

* Microsoft.Build.Utilities.Core(16.5.0)
* Microsoft.Build (16.4.0)

The project is loaded with no problem both from a project with old csproj format targeted to net48 platform and a project with new csproj format targeted to netcore31 pla

[2020-05-01 12:46] matkoch commented on #494
Okay, could you try to figure out the differences? There is really only a tiny wrapper around loading the project. The only additional thing is some stuff to preserve formatting.

[2020-05-01 12:50] Alexcei88 commented on #494
It's very interesting, Ok, I will try to figure out what is the diff.

[2020-05-01 13:45] matkoch commented on #497
I can't make any conditional logic there.

[2020-05-01 13:46] matkoch commented on #481
v2 does a detached checkout

[2020-05-01 13:47] cmenzi commented on #497
I guess the issues comes from `DoubleQuoteIfNeeded`, maybe we can change the behavoir there.

[2020-05-01 13:49] cmenzi commented on #497
or we go with the way of msbuild and change every `,` to `%2c` during rendering

[2020-05-01 14:06] #434 closed, assigned to matkoch

[2020-05-01 14:06] #470 closed, assigned to matkoch

[2020-05-01 14:12] cmenzi commented on #497
Just went a little bit deeper.

One option would be if we extend the [commonTaskProperties](https://github.com/nuke-build/nuke/blob/develop/build/specifications/DotNet.json#L750) with a new property `percentageEncodingCharacters: [','],`

Then we can use those elements in the rendering of those arguments.

What do you think?

[2020-05-01 16:15] patrickklaeren opened #498 "Add option to rename GitHub Actions steps"
### Description

It would be nice to have the same option of renaming steps, as you have with Azure Pipelines or TeamCity.

RE:

https://github.com/nuke-build/nuke/blob/72f4db1eca05eadf3770dc23372b7437d8390d99/source/Nuke.Common/CI/GitHubActions/Configuration/GitHubActionsRunStep.cs#L18-L34

Is there a particular design decision that I am unaware of that would keep you/us from being allowed to ren

[2020-05-01 17:57] matkoch commented on #498
You mean this, right?
<img width="271" alt="image" src="https://user-images.githubusercontent.com/5005566/80828657-f147af00-8be5-11ea-9c61-461d39466c9c.png">

[2020-05-01 17:58] matkoch commented on #498
Since there's only one run step, I'm not sure why this should be renamed?

[2020-05-01 17:59] matkoch commented on #497
I think this is the closest. But this is related to the code generation part, and I haven't looked at it for quite some time.

[2020-05-01 18:01] matkoch commented on #497
I'll track this in #326. You can keep making notes here, but I will close this issue already.

[2020-05-01 18:01] #497 closed, assigned to nobody

[2020-05-01 18:20] #492 closed, assigned to matkoch

[2020-05-01 19:13] Alexcei88 commented on #494
I found the reason why I catch the exception. The custom setup of
_MSBUILD_EXE_PATH_ environment variable is caused the expection.

There is a `ParseProject` method [here](https://github.com/nuke-build/nuke/blob/develop/source/Nuke.Common/ProjectModel/ProjectModelTasks.cs).

You try to setup _MSBUILD_EXE_PATH_ environment variable using by custom resolve.

[code]

If I try to comment out these lin

[2020-05-01 19:36] Alexcei88 commented on #494
Additional information:

The resolver sets in my case the MSBUILD_EXE_PATH value=`C:\Program Files\dotnet\sdk\3.1.201\MSBuild.dll`. So, this path points to net core 3.1 sdk.

So, if I try to modify a target platform in the nuke project to
* _netcoreapp3.1_, I have no exception
* _net48_, I have exception.

It seems like the resolver does not take into account the target platform of the project its

[2020-05-02 14:21] patrickklaeren commented on #498
Apologies, I had hoped we could generate separate steps, like the TeamCity or Devops configurations

[2020-05-02 16:07] mbaumanndev commented on #481
From the changelog :

[2020-05-02 16:19] matkoch commented on #481
Yes I’ve read the changelog. Still the default is detached.

On Sat 2. May 2020 at 18:07, Maxime BAUMANN <notifications@github.com>
wrote:

[2020-05-02 16:37] patrickklaeren opened #499 "Generating GitHub workflow script with detailed triggers does not produce valid YAML"
**Following attribute:**
[code]

**Produces:**
[code]

**should be**
[code]

as per GitHub Workflow schema https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#example-using-multiple-events-with-activity-types-or-configuration

Code site:

https://github.com/nuke-build/nuke/blob/9c8ebc11d555d9891a78246b76eba32267a225c5/source/Nuke.Common/CI/GitHubActions/Configuration/Gi

[2020-05-04 00:13] matkoch commented on #498
I don't think that is of benefit. Targets can be collapsed with the current implementation already.

[2020-05-04 00:13] #498 closed, assigned to matkoch

[2020-05-04 01:21] #499 closed, assigned to nobody

[2020-05-05 00:33] xtqqczze opened #503 "Redirects to bootstrap scripts still exist on nuke.build"
### Description

The following redirects should not exist:
* `https://nuke.build/powershell` => `https://raw.githubusercontent.com/nuke-build/nuke/master/bootstrapping/setup.ps1`
* `https://nuke.build/bash` => `https://raw.githubusercontent.com/nuke-build/nuke/master/bootstrapping/setup.sh`

Instead, an response should be given indicating that bootstrap scripts are no longer supported.

See also:

[2020-05-05 01:02] matkoch commented on #503
From where did you get the URLs?

[2020-05-05 02:31] xtqqczze commented on #503
https://blog.dangl.me/archive/escalating-automation-the-nuclear-option/

<blockquote><img src="https://blog.dangl.me/favicon.png" width="48" align="right"><div><img src="/favicon.png" height="14"> Dangl.Blog();</div><div><strong><a href="https://blog.dangl.me/archive/escalating-automation-the-nuclear-option/">Escalating Automation - The Nuclear Option - Dangl.Blog();</a></strong></div><div>For all

[2020-05-14 23:27] #503 closed, assigned to matkoch

[2020-05-14 23:38] #234 closed, assigned to nobody

[2020-05-15 00:20] #129 closed, assigned to nobody

[2020-05-18 16:57] matkoch opened #507 "Enable ConfigurationGenerationTest on non-UNIX systems"
https://github.com/approvals/ApprovalTests.Net/issues/134

[2020-05-21 06:55] roshek opened #509 "Potential error resolving tool executables on case-sensitive filesystems"
### Description

I've ran into a strange problem with Nuke resolving the executable path for dotnet tools. The specific error happened with finding the GitVersion tool executable, but I suspect this could happen with other tools as well.

The gist of it is: different versions of GitVersion have different casings for the executable (eg. 5.1.3 has GitVersion.dll but 5.2.0 has gitversion.dll) and thi

[2020-05-21 08:01] iwillspeak commented on #509
I created a PR (#506) to work around this for GitVersion, but a solution that changes the behavior of the ToolPathResolver would be nice.

[2020-05-21 08:12] roshek commented on #509
Thanks, I'll try fixing ToolPathResolver and create a PR on the weekend.

[2020-05-21 08:23] iwillspeak commented on #509
Apologies if I stole your thunder there. I'd already made the change before seeing your comment.

[2020-05-21 08:38] roshek commented on #509
No problem at all, thanks for your time :+1:

[2020-05-21 11:50] ThinkingBIGRon commented on #450
I should be able to complete this over next few days.

[2020-05-23 03:38] #444 closed, assigned to nobody

[2020-05-23 03:50] matkoch commented on #494
Removing setting `MSBUILD_EXE_PATH` results in the following for me:

Do you also receive the error when targeting `net4x` with SDK-based project files?

[2020-05-23 04:08] #488 closed, assigned to nobody

[2020-05-24 22:33] ThinkingBIGRon commented on #450
I have a version of this to test - will try it on a few projects tomorrow then submit the PR.

[2020-05-26 14:59] #481 closed, assigned to nobody

[2020-05-26 20:41] cmenzi opened #513 "Allow to hide Targets when skipped"
### Description

Currently, when a target is skipped it's displayed in the list of executed targets. I have created a NuGet based on Nuke which takes several environment specific conditions into account and executes the necessary targets.

For example: I detect, if it's a python based repository and only execute common targets and python related targets. But for dotnet based repository, I execute

[2020-05-29 19:28] hummigbird1 opened #517 "Active Visual Studio configuration not considered when running tasks"
So I might be missing something obvious here but I couldn't find anything about it.
(BTW: The lack of useful help and documentation might be a real dealbreaker for this great build system IMHO)

But back to the issue at hand:
I was just getting into setting up my project with Nuke and suddenly noticed that regardless of what Configuration I have selected in Visual Studio the Nuke build always uses

[2020-05-29 20:16] matkoch commented on #517
Not a good way to start a conversation here, especially given the issue template says that starring the project is a requiremet to create issues. I also wonder what that _deal_ is that's gonna break?!

[2020-05-30 00:10] hummigbird1 commented on #517
My apologies. I didn't mean to sound rude.
I assume you know how it is when you search and find no place to start and the frustration starts to rise because it so obvious you are missing something but can't for the life of you, figure out what.

And to be honest, I didn't actually understand what "starring the project" meant.
But since you mentioned it now I have figured it out, now. As I a said,

[2020-05-30 16:37] Alexcei88 commented on #494
Hi Matkoch,
I am glad you back a write permission for us. :)

I checked again at my workstation, I don't catch any errors when I skip a setup of _MSBUILD_EXE_PATH_ environment variable.
No matter, net4x or netcoreapp target of SDK-based project file.  I don't observe the above error.
I think,  maybe we can share our experiments in a separate branch.

[2020-05-31 12:06] matkoch commented on #517
I guess you shouldn't treat open-source projects as some kind of black box, that you can handle just by looking at the documentation. Finding an answer what defines `IsServerBuild` and `IsLocalBuild` seems fairly easy:

https://github.com/nuke-build/nuke/search?q=IsServerBuild&unscoped_q=IsServerBuild

I'm not sure what your measurement is, but the documentation is there and has proven helpful for

[2020-05-31 14:25] #517 closed, assigned to nobody

[2020-06-03 11:08] MeikelLP opened #520 ".target files cannot be loaded due wrong MSBuild"
## Description

Similar to #357 I have issues getting properties out of a project. The root cause of this is that projects cannot be loaded due to wrong msbuilds being used.

### Steps to reproduce

I have (45) projects in my solution (some legacy company thingy) containing **.NET Framework** (net472 some WebForms applications) **and .NET Core** projects (netstandard2.1 + netcoreapp3.1) and I obvi

[2020-06-10 16:12] matkoch commented on #513
I'm not a fan of introducing additional parameter to the fluent API. But you can check if https://ithrowexceptions.com/2020/06/05/reusable-build-components-with-interface-default-implementations.html works for you.

[2020-06-10 16:12] #513 closed, assigned to nobody

[2020-06-13 13:16] AlexMountainBN commented on #27
Why is the PR still open? I would give it a try if there are still issues open on this topic.

[2020-06-13 15:34] madhu-sameena opened #522 "buid.csproj not using NuGet.config file of solution"
I have NuGet.config for a solution
And I have nuke build proj associated with the solution
I am using some packages which are available, If we use Nuget.Config of the solution.

From VS If open Manage Nuget packages - It is able to install the specific package - But  from ps1 not able to restore the pacakges

Any workaround ?

[2020-06-13 15:35] madhu-sameena commented on #522
It is using only global level Nuget.Config - Please let me know, If I miss something.

[2020-06-13 16:19] matkoch commented on #522
The build project is not built in the context of the solution. But if the `NuGet.config` is in a parent directory of the project, it should be picked up. Anyways, this is a .NET infrastructure issue.

[2020-06-13 16:19] #522 closed, assigned to nobody

[2020-06-16 10:14] jajvisser opened #524 "TLS1.2 now only supported for downloading from dist.nuget.org"
Today we ran into a issue with downloading nuget.exe from https://dist.nuget.org/win-x86-commandline/latest/nuget.exe.

 ### Description
It looks like Microsoft changed the TLS settings to only allow TLS1.2 from now on. This causes a issue with the build.ps1.

### Steps to reproduce

1. Clear the .tmp directory
2. Run build.ps1

### Solution
Code change that will fix this issue:

Replace
[code]
wi

[2020-06-16 14:59] matkoch commented on #524
https://github.com/nuke-build/nuke/issues/462

[2020-06-16 14:59] #524 closed, assigned to nobody

[2020-06-21 17:18] vankos commented on #459
Hi!
Will be correct to assume that if  value in protocol group from
https://github.com/nuke-build/nuke/blob/6fc950f130d1346e0770065dee7fa8631d6135ac/source/Nuke.Common/Git/GitRepository.cs#L62-L66
return "ssh://" or it's empty than this is SSH endpoint ?

[2020-06-25 08:33] j-dc opened #527 "Headers in non -utf8 aware consoles"
# Description
Not all consoles have the correct outputencoding to show fancy headers..

NUKE Execution Engine version 0.24.11 (Windows,.NETCoreApp,Version=v2.1)

### Steps to reproduce
Use case 1) Run Nuke build from the visual studio plugin (task runner explorer)
Use case 2) Using the package manager console (which is basically a powershell console)  and execute the command 'nuke'.

This will out

[2020-06-25 08:47] Rubbiroid commented on #527
Similar issues with e.g. Germal locale, where ÜÖÄ character are displayed wrongly..

[2020-07-04 13:43] matkoch opened #528 "Change InjectionAttributes to catch exceptions and report as warnings"
This allows to resolve #345.

To get back the old behavior, members must be attributed with `Required`.

[2020-07-04 13:43] #528 closed, assigned to nobody

[2020-07-04 13:43] #345 closed, assigned to nobody

[2020-07-04 18:24] matkoch opened #529 "Profile Management"
- Consider custom type serialization
- Consider default interface implementation (can't set values)
- Consider non-parameter arguments
- Consider profile chaining
- Consider working directory (AbsolutePath)

[2020-07-06 11:43] glazsam opened #530 "Using UTF-8 encoding when start build.ps1"
I use the visual studio task runner explorer.
When i start my nuke build i have a problem with encoding.

Maybe add to build.ps1 line:
[Console]::OutputEncoding = New-Object System.Text.Utf8Encoding

### Alternatives

[2020-07-09 21:11] matkoch commented on #494
could you try https://www.nuget.org/packages/Nuke.Common/0.25.0-alpha0326

<blockquote><img src="https://api.nuget.org/v3-flatcontainer/nuke.common/0.25.0-alpha0326/icon" width="48" align="right"><div><strong><a href="https://www.nuget.org/packages/Nuke.Common/">Nuke.Common 0.25.0-alpha0326</a></strong></div><div>Cross-platform build automation system</div></blockquote>

[2020-07-09 21:12] matkoch commented on #494
if that’s not helping, please support in https://github.com/microsoft/MSBuildLocator/issues/90

[2020-07-10 00:16] matkoch commented on #530
#527

[2020-07-10 00:16] #530 closed, assigned to nobody

[2020-07-11 17:38] Alexcei88 commented on #494
I don't see the exception after updating nuget package. I have tried different target platforms for itself nuke project and for projects which I am loading, I don't catch any errors. It seems like your commit fully resolves problem for me on Windows OS.

[2020-07-11 21:06] matkoch commented on #494
Unfortunately not completely, see the linked issue.

[2020-07-12 08:20] mattbrailsford opened #531 "Add support for accessing Azure Pipeline secret variables"
### Description
Using NUKE with the built in AzurePipelines feature is really nice, but I can't find a way to access secret variables defined against the pipeline

As per the docs here https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#secret-variables the way you need to access secret variables is to map them to an environment variable de

[2020-07-12 08:24] mattbrailsford opened #532 "Add support for accessing Azure Pipeline variable groups"
### Description
When using the Azure Pipelines feature it would be nice if there was a way we could define variable groups to include in the generated pipelines.yml file https://docs.microsoft.com/en-us/azure/devops/pipelines/library/variable-groups?view=azure-devops&tabs=yaml#use-a-variable-group

Maybe this could become an option on the AzurePipelinesAttribute

    [AzurePipelines(AzurePipelines

[2020-07-12 08:25] mattbrailsford commented on #532
Linked to #531 it would also be good if this could support secret variable access, but I think if this and #531 are fixed, these should "just work"

[2020-07-12 08:31] mattbrailsford commented on #532
Relates to PR #516

[2020-07-12 11:30] matkoch commented on #531
Is the powershell part really necessary? For instance like here with GHA:

https://github.com/nuke-build/nuke/blob/1eb5b671a2b20abcb0b7ff5ea624096a7100562e/.github/workflows/continuous.yml#L31

[2020-07-12 11:31] matkoch commented on #532
Could you provide an example of the current YAML that you get, and mark the lines that need to be added? Then I could probably add this myself.

[2020-07-12 11:38] mattbrailsford commented on #531
@matkoch no, sorry I was just giving an example of something then using the passed in env variable.

[2020-07-12 11:50] matkoch commented on #531
When secrets are defined in Azure Pipelines, how are they referenced then in the `env` block?

[2020-07-12 12:00] mattbrailsford commented on #531
Just using the `$(mySecret)` syntax I believe. It’s like accessing any other variable but it knows to give the secret value.

[2020-07-12 13:01] mattbrailsford commented on #532
@matkoch sure thing, so the generated output looks along these lines

    stages:
      - stage: vs2017_win2016
        displayName: 'vs2017-win2016'
        dependsOn: [  ]
        pool:
          vmImage: 'vs2017-win2016'
        jobs:
          - job: Push
            displayName: 'Push'
            dependsOn: [  ]
            steps:
              - task: CmdLine@2
                inputs:

[2020-07-12 14:43] mattbrailsford opened #533 "Can't run NUKE CodeGenerationTask in GitHubAction"
### Description
I'm trying to create a wrapper library for a 3rd party tool which the source code can be found here https://github.com/mattbrailsford/Nuke.UmbPack

Essentially this is a simple library with a dependency on `Nuke.Common` with a spec file defined for the specific tool. I then have a code generation task hooked up in the projects prof file so that the generated wrapper is created. Thi