[2017-09-05 16:48] evil-shrike opened #3 "setup.ps1 is broken"
I followed the bootstrap procedure from the site.
[code]
But this is all I got - console output:
0.1.277

Looked into setup.ps1 to found:

[code]

[2017-09-05 16:54] matkoch commented on #3
@evil-shrike sorry, that happened accidental. It belonged to another branch. Should be fixed now. Could you check?

[2017-09-05 16:58] evil-shrike commented on #3
Now it's ok, thanks.

But there's another issue.
run `powershell ./setup.ps1`, it fails with error:
Unable to determine root directory (containing .git or .svn folder)
At D:\Work\R-n-D\XFW3\Sources\Foundation\Repo-netcore\Build\nuke\setup.ps1:49 char:30

After that setup.ps1 disappears.

[2017-09-05 17:00] matkoch commented on #3
We are currently assuming that you're executing the script in a repository that already is version-controlled (with GIT or SVN). Thus it looks for a `.git` or `.svn` folder. Could you check that?

The setup script is automatically deleted at the beginning of itself. If you need it for further investigation, then first download it, and out-comment the deletion from [here](https://github.com/nuke-bu

[2017-09-05 17:03] evil-shrike commented on #3
I have no .git or .svn at all in that project, it uses TFS. Anyway it's strange to delete the script in case of an error.

[2017-09-05 17:03] #3 closed, assigned to nobody

[2017-09-05 17:04] matkoch commented on #3
Will TFS leave a similar folder in the root directory?

[2017-09-05 17:09] evil-shrike commented on #3
No. No honestly it's unclear why a build tool should care about VCS. It could search for a sln and ask for path to it.

[2017-09-05 17:11] matkoch commented on #3
It is to find the root, and from there search 2-levels downwards for solution files (based on that, you'll be asked). This is actually only used during setup, and nowhere else. I will update the setup scripts to be able to pass the root directory via argument.

[2017-09-06 02:26] matkoch commented on #3
@evil-shrike I've made a couple of changes:

- Scripts are only deleted if successful
- Root directory is _attempted_ to be determined by finding _.git_ or _.svn_ upwards, otherwise it falls back to the _current directory_
- Website contains [troubleshooting](http://www.nuke.build/getting-started.html#troubleshooting) part

Let me know if you think we can improve anything else )

[2017-09-06 12:57] evil-shrike commented on #3
cool, build project was generated successfully.

but it failed to run via build.ps1:
[code]

`build\.build.csproj` is the generated build project w/o any modification.
If I run `dotnet build` with it then it's built w/o any error.

[2017-09-06 13:08] matkoch commented on #3
I saw this issue reported quite often recently (outside of Nuke). Could you check which version of .NET Core you've installed? For better troubleshooting I can also suggest you to join our [Gitter room](https://gitter.im/nuke-build/nuke).

Actually, the `dotnet` based builds are in work, but not yet ready.

[2017-09-06 13:12] matkoch commented on #3
Might be related to https://github.com/dotnet/cli/issues/6827.

[2017-09-06 13:12] evil-shrike commented on #3
sdk 2.0 rtm + VS 2017.3

Ok, I see.

[2017-09-06 14:57] matkoch commented on #3
You could add `/v:diag` to [this call](https://github.com/nuke-build/nuke/blob/master/bootstrapping/build.ps1#L43) and list the output here. But maybe in another issue then )

[2017-10-03 12:22] abhinav2004 opened #7 "nuget.exe fails to restore packages for .build.csproj"
After running the powershell script nuget fails restore the packages for .build.csproj. I have setup nuke for .Net FW and legacy project structure.

[code]

Am I missing something?

[2017-10-03 14:01] matkoch commented on #7
@abhinav2004 I assume you have your solution file (sln) and the build.ps1 in different locations? That would be indeed a situation I didn't think of, when I recently cleaned up some parts of the bootstrapping.

What you're probably missing is the `-SolutionDirectory` flag for nuget.exe:

https://github.com/nuke-build/nuke/commit/7001502817a4e4457a49afd55bd42aedb968a2a8#diff-17bf411711a25aa07727e1e

[2017-10-03 14:22] abhinav2004 commented on #7
@matkoch actually they are at the same location:

[code]

I'll check if the fix given by you works and get back to you.

[2017-10-03 14:41] matkoch commented on #7
Are you executing from a different working directory? As far as I know nuget.exe tries to find the solution file by walking up the current directory.

[2017-10-03 14:43] abhinav2004 commented on #7
I am executing it from where both the sln and ps1 files are.

[2017-10-03 14:55] matkoch commented on #7
Maybe it finds more than one solution file? Anyway, I'm sure specifying that parameter will fix it.

[2017-10-03 15:03] abhinav2004 commented on #7
Actually there are submodules in the project which have their own solution files but they are down in the sub paths. The immediate solution is just outside the build folder.

And yes the change did fix it somewhat but now I have dependency issues :(
I found out by manually restoring nuget packages.

[code]

[2017-10-03 15:08] matkoch commented on #7
I really don't like supporting the legacy format. But I will still try :) It's much more fragile than using the sdk-based project files.

In that case you could simply replace the version `10.0.1` with `10.0.3` in both - project file and packages.config.

[2017-10-03 15:10] abhinav2004 commented on #7
Yeah legacy can be a pain at times. I'll try that and see if it works.

[2017-10-03 15:13] matkoch commented on #7
No chance you can install msbuild 15 or use netcore ?

[2017-10-03 15:14] abhinav2004 commented on #7
I am on msbuild 15. But need to use old .Net FW

[2017-10-03 15:14] matkoch commented on #7
Then you should be able to use .NET Framework + SDK-based project file.

[2017-10-03 15:19] abhinav2004 commented on #7
Ok now I feel like an idiot. Thanks! The SDK based one worked without a hiccup.

[2017-10-03 15:20] matkoch commented on #7
That sounds great :D Everything alright, much appreciated that you actually found 2 bugs :)

[2017-10-03 15:20] #7 closed, assigned to nobody

[2017-11-09 10:27] xumix opened #10 "Build output does not respect current CultureInfo"
For example: ` Finished build on 11/09/2017 12:03:26.`
My current culture is RU_ru so the output should be
` Finished build on 09.11.2017 12:03:26.`

[2017-11-09 10:32] matkoch commented on #10
Fixed in 0.1.389. See you at dotnext?! )

[2017-11-09 10:32] #10 closed, assigned to nobody

[2017-11-09 11:18] xumix commented on #10
@matkoch See you there :)

[2017-11-11 19:15] arxae opened #11 "Setup script crashes if InternetExplorer was not started once"
When running the setup.ps1 script it will ask target platform, but when answering the question, the script instantly crashes. Using Start-Transcript i found that the error is:

    "The response content cannot be parsed because the Internet Explorer engine is not available."

I hadn't started regular, non-edge internet explorer yet. But after i started it and chose the "use recommended settings",

[2017-11-11 21:52] matkoch commented on #11
@arxae thanks for your report. A quick StackOverflow search revealed that we can [add a parameter](https://stackoverflow.com/a/38054505/568266) `-UseBasicParsing`, however, I guess you've already started IE once and cannot check if this actually fixes the problem.

[2017-11-12 20:58] arxae commented on #11
I currently have no computer that has not started IE to test it on. Maybe set up a VM?

Because it hard crashes the powershell window (forgot to mention that), so getting the error is only possible with Start-Transcript. It's not very clear what had to be done

[2017-11-12 20:59] matkoch commented on #11
The hard crash is due to some specifics in the powershell preamble. I guess if you start like `powershell .\setup.ps1` it willl correctly report that error. Something that I didn't have the time yet to investigate.

[2017-11-16 02:13] arxae commented on #11
I tried doing that, but it also takes the shell down with it. Also tried with CMD (and then powershell .\setup.ps1), but still takes down the shell. Using > to output produced an empty file (which makes sense, since it outputs after the command is done).

[2017-11-16 06:48] matkoch commented on #11
Would it be possible for you to have a troubleshooting meeting with me via Skype or TeamViewer?

[2017-11-16 17:10] arxae commented on #11
I currently don't have this problem anymore. Opening IE and applying the default setting fixed it. But it's a pretty obscure issue if you don't know what is happening, that's why i opened this ticket :P

[2017-11-16 17:15] matkoch commented on #11
I will eventually add this to the [troubleshooting section](http://www.nuke.build/getting-started.html#troubleshooting). But that the shell closed, even if you invoke `powershell .\setup.ps1` sounds quite strange to me.

[2018-01-27 17:06] GeorgDangl opened #15 "Guidance on creating new Tasks or Plugins"
For deploying websites to Azure and IIS, I'm using usually Microsoft WebDeploy. There's no *.exe available via NuGet, but a dll package: [Microsoft.Web.Deployment](https://www.nuget.org/packages/Microsoft.Web.Deployment/)

Now I've drafted a small Task so I can use it with Nuke, the code is available as Gist:
https://gist.github.com/GeorgDangl/5521ef94bc6cae85793f8842f64fa3c5
(Consider this an ear

[2018-01-27 17:13] matkoch commented on #15
@GeorgDangl skype or gitter maybe? it's ithrowexceptions or nuke-build/nuke

[2018-02-12 20:40] martin211 opened #18 "Assertion failed on GitVersion for .Net Framework target platform"
I've created build project with folowing settings: Target Framework as .Net Framework, Project format is Legacy format and other settings by default.
If uncomment `[GitVersion] readonly GitVersion GitVersion;` at Buils.cs and then run `powershell -ExecutionPolicy ByPass -File ./build.ps1 -help` you will get Assertaion failed error.

Stack trace:
Assertion failed: !IncludesDependencies(Z:\Code\AIMP

[2018-02-13 18:22] matkoch commented on #18
@martin211 I will look into this asap. Is there any reason you're not using the SDK-based format? I.e., don't you have VS2017 installed?

[2018-02-13 19:58] martin211 commented on #18
@matkoch  I used Legacy format because other projects is in legacy format too.
I tried to switch in SDK-based format and it works! In any case, it would be nice to fix the error for the Legacy format.

[2018-02-27 23:57] matkoch opened #25 "Setup script generates wrong relative paths"
The powershell setup script [generates relative paths](https://github.com/nuke-build/nuke/blob/master/bootstrapping/setup.ps1#L33-L40) that will [go beyond root directory](https://github.com/nuke-build/tools/blob/master/build.ps1#L19), so that if a repository is cloned with a different name than the original, the boostrapping script will fail.

[2018-02-28 00:03] matkoch commented on #15
### General
- Use `ControlFlow` instead of exceptions

### Tasks
- Use `Configure<MySettings> settings` instead of passing in `MySettings`

### Metadata
- Must be language agnostic
- If possible, copy the original documentation and use vim macros to transform into json
- Use formattings tags like `<b>`, `<em>`, `<c>`, `<ul>` and so on
- Avoid quotes if possible
- Add references for change detectio

[2018-02-28 00:18] matkoch opened #26 "Global setup tool"
Instead of copying the two-liner setup code, it would be more convenient to have a global tool, alias or script, that executes exactly that for us.

[2018-02-28 00:19] matkoch commented on #26
.NET Core 2.1 will provide better [global tool integration](https://blogs.msdn.microsoft.com/dotnet/2018/02/27/announcing-net-core-2-1-preview-1/) ([more coverage](https://www.natemcmaster.com/blog/2018/02/02/dotnet-global-tool/)).

[2018-02-28 00:49] matkoch opened #27 "Parameter help text should include additional information"
The help text for parameters should provide additional standardized information. For instance:

- Possible values if type is an enum
- Default values
- Separator character

[2018-02-28 22:29] #11 closed, assigned to nobody

[2018-03-01 12:44] #25 closed, assigned to nobody

[2018-03-01 12:51] matkoch opened #29 "Option in setup script to use local installation of nuget/dotnet"
Currently, the bootstrapping scripts always downloads the nuget/dotnet CLT. Although this is more reliable and ensures determinism, it is not always recommendable.

In both setup scripts, there should be added an option to chose between:

1. Always download nuget/dotnet CLT
2. Use local nuget/dotnet installation

This should influence the value of `NuGetFile`/`DotNetFile`. Also the file existence

[2018-03-01 15:50] matkoch opened #30 "ANSI color support"
Some console hosts and build servers support ANSI color output. One thing to consider is _when_ to enable them. On Windows systems, ANSI colors usually don't work, whereas UNIX terminals support them.

[2018-03-01 16:11] matkoch opened #31 "Event hooks"
A couple of extension hooks for reporting could be useful, for instance:

- Before and after injection
- Before and after target execution
- On target failure
- Before summary output

[2018-03-04 20:14] andygjp opened #32 "Boolean arguments formatted as 'System.Object' in output"
Hi,

Firstly, great tool!

I get this error when I run a msbuild target on my local dev machine:

[code]

The example error, above, is from my compile target:

[code]

I think the issue is down to the thing that generates the command. NodeReuse is a nullable boolean that is null by default, but is set to true if I use the default msbuild settings, via NukeBuild.Instance.IsLocalBuild. If I explicit

[2018-03-04 23:14] matkoch commented on #32
@andygjp thanks for the kind words and for raising this issue 😄 Handling boolean arguments was indeed a little incomplete until now. This [commit](https://github.com/nuke-build/nuke/commit/26442ee3bbd03ae1ff41b81008b95367ec47cf9b) should fix it. Could you review it?

Btw, for resetting `NodeReuse` you can call `ResetNodeReuse`. Then neither `true` or `false` are passed.

[2018-03-05 08:22] arodus commented on #30
My idea is to check for the `TERM` environment variable (according to https://stackoverflow.com/a/39033815). If the variable equals `xterm-265color` the ansi console sink will be used.

[2018-03-05 08:33] andygjp commented on #32
Thanks for the quick turn response.

The change looks good. I've not tried it out, however. Would you like me to try it out before you push a new version to NuGet?

And thanks for the tip 😀

Cheers,
Andy

[2018-03-05 21:58] #32 closed, assigned to matkoch

[2018-03-05 22:45] matkoch commented on #30
FYI: TeamCity does support ANSI colors, but doesn't set the `TERM` environment variable.

[2018-03-19 19:04] matkoch opened #36 "Reference version in legacy format is not replaced"
Reference version should also be replaced to match selected major.minor version. Requires changes in setup scripts.

https://github.com/nuke-build/nuke/blob/master/bootstrapping/.build.legacy.csproj#L85-L90

[2018-03-25 19:07] matkoch commented on #26
This could also be extended to make build.ps1 and build.sh obsolete.

[2018-04-11 07:24] MindWrapper opened #45 "Website is out-of-date"
minimal build file link on getting started page leads to 404
https://raw.githubusercontent.com/nuke-build/nuke/master/bootstrapping/Build.cs

[2018-04-11 11:40] matkoch commented on #45
A couple of other things:

- Remove troubleshootings (don't think it's worth; exceptions will tell what's wrong)
- Explain `=> _ => _`
- Fix parameters (nodeps)
- Add more references
- Change gitter to slack

[2018-04-12 07:47] MindWrapper opened #46 "Legacy format for build project does not work"
Repro:
1. Creates simple Console application targeting 4.5 framework
2. When generating chose "L" (legacy format) when generating build.csproj
3. run .\build.cmd
and you'll get a bunch of:
Build.cs(3,7): error CS0246: The type or namespace name 'Nuke' could not be found (are you missing a using directive or an assembly reference?) [D:\temp\NukeTest\build\.build.csproj]

I guess project generator m

[2018-04-12 22:20] matkoch commented on #46
It’s a duplicate of #36. Just to be clear, even if your production project is not using the SDK based project files, you can still chose to make the build project SDK based.

[2018-04-18 14:59] matkoch opened #50 "Consolidate Nuke.Core into Nuke.Common"

[2018-04-18 15:01] matkoch opened #52 "Move tools repository"
Metadata should be contained here as well.

[2018-04-18 15:35] #45 closed, assigned to matkoch, arodus

[2018-04-19 07:08] matkoch opened #55 "Host parameter is unusable."
Effectively unusable, since GitVersionAttribute will access all build instances, and we use `EnsureVariable` everywhere. My current guess is to only use `Variable`. Would require tests to also check the `CanBeNull` attribute, and if it's not there, we add an additional not-null assertion.

[2018-04-19 14:46] #50 closed, assigned to matkoch

[2018-04-19 14:46] #52 closed, assigned to matkoch

[2018-04-19 14:46] #55 closed, assigned to matkoch

[2018-05-02 02:19] #46 closed, assigned to nobody

[2018-05-05 02:52] matkoch commented on #29
@arodus it bothers me that we might get a different version on different machines if `allow-global` is enabled. Determinism not guaranteed. Can we have a version check somehow?

Also currently not implemented for NuGet executable.

[2018-05-06 19:26] #36 closed, assigned to matkoch

[2018-05-09 20:17] #29 closed, assigned to matkoch

[2018-05-20 20:29] #26 closed, assigned to matkoch

[2018-05-22 01:26] matkoch opened #69 "Issue reporting mode"
An invocation of nuke that automatically opens the browser and shows the issue submission prefilled (https://github.com/isaacs/github/issues/new?title=foo&body=bar). We could prefill information about versions and maybe even logs. Of course, we should prompt for confirmation. We could even tell additional information about how to debug.

Command could look like `nuke *` or `nuke @` or `nuke #` - r

[2018-05-31 13:10] hayhay27 opened #70 "Setup.ps1 doesn't create build(.ps1|.sh|.cmd) files"
In command line shell works perfectly

Steps to reproduce in powershell console:
[code]

after setup build scripts doesn't exists

Fixed by
[code]

----
[code]

[2018-05-31 17:04] arodus commented on #70
In this case `$RootDirectory` is not the directorty we are looking for because it's intended that the build scripts are written to the directory where the setup script was invoked. We fixed the bug by using `pwd`/`Get-Location` instead.
Thanks for reporting this issue 👏

[2018-06-05 21:27] matkoch commented on #70
Fixed in 0.5.0.

[2018-06-05 21:27] #70 closed, assigned to nobody

[2018-06-06 15:41] dnknitro opened #71 "Documentation improvement"
Current documentation lacks very important part: examples of usage of the classes/settings. I know you have [getting started](https://www.nuke.build/getting-started.html), but it is not sufficient. I think main "build" tools, like using MSBuild, NUnit / MSTest, Code Coverage (Open Cover) should be documented with nice and working examples.

[2018-06-08 12:50] matkoch opened #73 "Improve netstandard check for defining NETCORE compiler constant."
We wish for something like `StartsWith`.

https://github.com/nuke-build/nuke/blob/88f134db3e80fc9c8dbb13ea468279ff1047aeb9/shared/Configuration.props#L11

[2018-06-08 12:53] GeorgDangl commented on #73
Something like in this SO answer?
https://stackoverflow.com/a/10784815/4190785

[2018-06-08 12:53] arodus commented on #73
maybe something like `<PropertyGroup Condition="'$(TargetFramework.Substring(0,11))' == 'netstandard' OR '$(TargetFramework.Substring(0,10))' == 'netcoreapp'">`

[2018-06-08 12:59] matkoch opened #74 "Document ReSharper and Rider plugins."
ReSharper and Rider plugins should be documented in Getting Started section.

Probably also add something on main page.

[2018-06-08 13:08] matkoch opened #75 "Add OnlyWhen parameter to specify time of evaluation"
Currently, conditions provided via `OnlyWhen` are checked exactly prior to execution of a target. Another use-case is to check those during dependency resolution, so that we allow to skip targets, which are dependencies for a skipped target.

Proposal:
[code]

To be defined. What to do with the existing `OnlyWhen` method? Deprecate? Default to `CheckBefore.ThisTarget` ?

[2018-06-08 13:12] matkoch opened #76 "Interactive mode for parameters"
When executing a build locally (`HostType == Console`), we could initialize parameters like `ApiKey` or `Password` via console input. It is important to [mask out passwords](https://stackoverflow.com/questions/3404421/password-masking-console-application).

Interactive input is only possible for properties/fields without property/field initialization.

[2018-06-08 13:17] matkoch commented on #76
To be defined is, whether we should introduce a new attribute for this. Should we mask out everything? Even if it's a username? Probably not. Entering the username without mask is okay for instance.

[code]

[2018-06-08 13:22] matkoch opened #77 "Retry/continue parameter"
When a build chain failed, sometimes it's enough to only retry/continue from the last failed target. Adding `-retry` (preferably because it's shorter) or `-continue` to the invocation could be helpful.

We should check that the last invocation is the same (except, from adding the new parameter). Probably use some kind of hash that is saved in temp directory.

[2018-06-08 13:45] matkoch opened #78 "VisualStudio CodeLens plugin"
According to the [VisualStudio roadmap](https://docs.microsoft.com/en-us/visualstudio/productinfo/vs2018-roadmap), CodeLens API will be made public in Q3.

Also have a look at an [existing extension](https://github.com/jeffchen-codingconsultantco/CodeMetric/).

[2018-06-08 15:10] arodus commented on #75
We shouldn't mix **'when the condition is evaluated'** and **'should the dependencies also be skipped'**. I think it's better to introduce two new parameters:
- `CheckBefore` which defines when the condition should be evaluated
- Something like `DependencyBehaviour` which defines if the dependent targets should be skipped.

[2018-06-08 19:47] dmarlow opened #80 "First time build.ps1 not working"
The first time I ran `.\build.ps1` I get this error:
[code]

If I open the solution and build manually, looks like project.assets.json file gets created correctly and subsequent calls to `.\build.ps1` works as intended.

[2018-06-08 20:21] matkoch commented on #80
Thanks for raising this issue and providing the fix! 😄🎉

[2018-06-08 20:26] matkoch commented on #80
Think I've closed this issue too fast :)

[2018-06-08 20:28] matkoch commented on #80
Which tooling are you using? .NET Framework with sdk-based project file?

[2018-06-08 20:31] dmarlow commented on #80
Yep, .NET Framework and SDK project.

[2018-06-08 20:32] dmarlow commented on #80
Sorry, I didn't provide the fix. I tried to run NuGet restore on the project, but it didn't seem to have picked up the necessary components.

[code]

[2018-06-08 20:35] matkoch commented on #80
That's weird. I've just tried this with a sample project... So the only changes during setup were `.NET Framework`... Everything else remained the same. And no error.

I think we need more information, like installed SDKs (`dotnet --info`)  and MSBuild.

Is the repository public?

[2018-06-08 20:43] dmarlow commented on #80
I'm using VS 15.7.2 and here's the full output from running `.\build.bat`. I was able to reproduce by just deleting. `obj` directory.

[code]

[2018-06-09 09:05] arodus opened #81 "Access denied exception when invoking global tool"
If there is a folder without access permissions in the solution directory or one of its child directories the execution fails with the message:
[code]

[2018-06-09 11:27] matkoch commented on #80
Are you executing the script from ISE?

[2018-06-09 16:49] matkoch opened #82 "GlobalTool shows error message to verify the invocation"
Not a sever bug, but more cosmetic.

[2018-06-09 16:50] matkoch opened #83 "Build summary shows succeeded even when requirements are not met"
Not sever, exit code is non-zero.

[2018-06-09 20:08] dmarlow commented on #80
Output from `dotnet --info`

No, not executing this from ISE.
[code]

[2018-06-09 22:24] matkoch commented on #80
It seems that $PSScriptRoot is empty for you. Could you verify that?

Are you executing the setup exactly as described in the README / Getting started?

[2018-06-11 11:55] #73 closed, assigned to matkoch

[2018-06-11 11:55] #81 closed, assigned to arodus

[2018-06-11 11:55] #82 closed, assigned to matkoch

[2018-06-11 11:55] #83 closed, assigned to matkoch

[2018-06-11 18:20] dmarlow commented on #80
No PSScriptRoot isn't empty, I just removed my path from the log messages above.

What's interesting is that if I go into the build folder and run `dotnet build` it restores the nuget packages correctly, then builds correctly. Then, further calls to `.\build.ps1` work as intended.

Maybe this all has something to do with MSBuild and building the dotnet core project?

[2018-06-11 23:40] matkoch commented on #80
Please try setting the MSBuild executable to the one installed with VisualStudio (not BuildTools) [here](https://github.com/nuke-build/nuke/blob/develop/bootstrapping/build.netfx.ps1#L45).

Is the repository public?

[2018-06-11 23:51] matkoch commented on #80
And try this:

[code]

[2018-06-11 23:57] dmarlow commented on #80
Changing from using NuGet exe to MSBuild and doing restore works. Thanks!

[2018-06-12 00:35] #80 closed, assigned to matkoch

[2018-06-13 08:50] arodus opened #85 "Broken links to addon repositories."
The links to the addin repositories in the disclaimer, [for example for Azure ](http://www.nuke.build/api/Nuke.Azure/Nuke.Azure.AzureTasks.html)resolves to:
`http://www.nuke.build/api/Nuke.Azure/Nuke.Azure` instead of
` https://github.com/nuke-build/azure.`

[2018-06-14 10:34] #85 closed, assigned to arodus

[2018-06-20 01:54] Werebunny opened #88 "Custom NuGet package folder breaks tool tasks"
Nuke worked great for my project, but I encountered a few issues.

## Expected Behavior
Builds work with a Nuget.config file in the root directory containing:
[code]

## Current Behavior
[code]

## Steps to Reproduce
1. Create project or clone [CreateAndFake](https://github.com/CreateAndFake/CreateAndFake).
2. Ensure your normal global package folder does not contain the package.
3. Run a build us

[2018-06-20 02:09] Werebunny opened #89 "Custom OutputPath in Directory.Build.props breaks builds"
Nuke worked great for my project, but I encountered a few issues.

## Expected Behavior
Builds work with a Directory.Build.props file in a parent directory containing:
[code]

## Current Behavior
[code]

## Steps to Reproduce
1. Create project or clone [CreateAndFake](https://github.com/CreateAndFake/CreateAndFake).
2. Add/modify a Directory.Build.props file similar to the example.
3. Run any buil

[2018-06-20 02:17] Werebunny opened #90 "Target and DependsOn does not respect order"
Nuke worked great for my project, but I encountered a few issues.

## Expected Behavior
Specifying Test+Coverage or DependsOn(Test, Coverage) should execute Test build first, then Coverage build.

## Current Behavior
Coverage runs first, then Test. It appears to be following alphabetical order.

## Steps to Reproduce
1. Create project or clone [CreateAndFake](https://github.com/CreateAndFake/Creat

[2018-06-21 07:26] matkoch commented on #90
Thanks for the posting this issue.

A `DependsOn` call does not express any dependencies between the targets passed as arguments. If you want `Test` to be executed before `Coverage`, then you need to call `DependsOn(Test)`. I've looked at your build and think this should work. Probably needs some conditions using `OnlyWhen`.

I'm closing this as *won't fix* since this is the expected behavior.

[2018-06-21 07:26] #90 closed, assigned to nobody

[2018-06-21 07:31] matkoch commented on #89
This is unfortunately also a *won't fix*.

We won't support `Directory.Build.props` in favor of a simpler bootstrapping. Also, I don't see the point in treating build assemblies as build artifacts. What is the use case for this?

[2018-06-21 07:31] #89 closed, assigned to nobody

[2018-06-21 07:33] matkoch commented on #88
This is a valid issue. We will look into this shortly.

[2018-06-24 17:20] Werebunny commented on #90
Making Coverage depend upon Test in my situation, makes any time I want to check coverage myself add another minute of irrelevant building and testing.

Let me give another scenario to clarify here:

Say I have a Target Clean, as you would expect.

And then I have a Target Build, this is instead of the normal name you gave it, Compile.

Now, say I don't want Build to depend upon Clean. I want the

[2018-06-24 17:35] Werebunny commented on #89
This just keeps my solution consistent and tidy. Everything my solution generates goes to the artifacts dir. Everything.

Well, except the bin folder for Nuke. So, a minor annoyance.

Looking at your code it looks back for the nuke cspoj from the bin directory for the project. In my mind, looking for project sln file and taking the csproj path from it also works. But I'm only looking at that part

[2018-06-24 17:36] Werebunny commented on #88
Thanks.

[2018-06-24 23:19] matkoch commented on #90
Like I said, this is expected behavior. The order of targets specified in a `DependsOn` call does not guarantee any execution order. As far as I know, we also don't sort targets or anything. The fact they get executed in alphabetical order is purely random behavior. Eventually, we will implement support for parallel target execution, and in this case, your `Test` and `Coverage` will be executed in

[2018-06-25 23:15] arodus opened #93 "Introduce target odering"
Currently the executing and dependsOn targets are not following any order (#90).

Example:
[code]

When executing `nuke Compile+Coverage`, it's possible that `Coverage` is executed before `Clean` and therefore the coverage results will be deleted. To solve that problem without the usage of `DependsOn` (hard dependency) we should introduce "soft dependencies" for targets. This basically means that

[2018-06-25 23:18] arodus commented on #90
As matkoch already said it's the expected behavior but we deciced to add the possibility to order targets without hard dependencies(#93) instead.

[2018-06-27 02:38] 0xF6 opened #94 "SyntaxError in Python 3.6.5"
![image](https://user-images.githubusercontent.com/13326808/41949861-f3fdfcfa-79cb-11e8-8aa7-39f8f6d8e6bb.png)

[2018-06-27 02:43] 0xF6 commented on #94
![image](https://user-images.githubusercontent.com/13326808/41949991-b2700f5c-79cc-11e8-8d3d-90be04a6b436.png)
x2

[2018-06-28 11:27] #94 closed, assigned to nobody

[2018-06-28 20:23] matkoch commented on #94
Thanks for your contribution! 😄🎉

[2018-07-04 06:17] Werebunny commented on #90
That'll work great, thanks.

[2018-07-07 18:55] matkoch commented on #71
Tracked here with https://github.com/nuke-build/web/pull/2. If you like, you can [take a look at it](https://github.com/nuke-build/web/blob/rework/source/getting-started.md).

[2018-07-08 00:41] matkoch opened #99 "Integrate git-flow commands into global tool"
We could include git-flow commands into the global tool:

### `nuke :release`
Requires `GitVersion.yml` and clean working copy.

If current branch is _not_ `release/xxx`, then create `release/[GitVersion.MajorMinorPatch]` from `develop`. If current branch is release branch, then merge into `develop` and `master`, create a tag, and delete release branch.

### `nuke :feature [name]`
Requires clean w

[2018-07-11 02:53] matkoch commented on #99
Should go into separate tool.

[2018-07-11 02:53] #99 closed, assigned to matkoch, arodus

[2018-07-12 15:25] #71 closed, assigned to matkoch

[2018-07-12 16:06] matkoch commented on #71
@dnknitro did you have a chance to take a look? Anything missing from your point of view?

[2018-07-12 17:48] dnknitro commented on #71
Yeah, I looked through the whole page. I remember when I was trying nuke.build for the first time I had issues with actually invoking commands like OpenCover, MS Test etc. because all of those lacked executable tool path. So I had to figure out how to get that path and setup nuke.build target appropriately so it works both locally and on the build server.

I have not tried to follow this new wiki

[2018-07-12 20:21] matkoch commented on #71
@dnknitro I had a look at your repositories previously already. The way you do it shouldn't be necessary. Nuke should determine the tool path automatically for most tools. Sometimes you need to add them as a package reference though. VsTest and SignTool are one of the few exceptions, where you have to set it yourself.

If you like, you can join our slack or gitter channel to have a chat about that

[2018-07-24 09:44] romatthe opened #102 "ToolPathResolver.GetPackageExecutable fails on SingleOrDefault"
I'm trying to set up a Nuke build for the very first time, and I'm following along with the Getting Started page on the website. More specifically, I'm trying to build a target to execute all unit tests.

[code]

But this always throws a `System.InvalidOperationException`.

[code]

Looking a bit deeper, it seems like this thrown from inside the `ToolPathResolver.GetPackageExecutable` method, more

[2018-07-24 12:27] matkoch commented on #102
@romatthe thanks for your report.

Yes, this is a bug. Mistakenly, the Xunit tasks currently assume that there is only one matching executable in the whole package folder. We will change this so that you can call `SetFramework("net472")` to pick the executable from any framework directory you want.

I'm not sure if we should fallback to any default value here. Or if we should always throw an excep

[2018-07-24 13:22] romatthe commented on #102
Thanks for the quick response, I'll give the workaround a whirl.

[2018-07-26 01:02] #93 closed, assigned to nobody

[2018-07-27 11:41] #88 closed, assigned to nobody

[2018-07-29 13:59] RouR opened #104 "build.sh Could not find 'mono' via '/usr/bin/which'"
I got this exception. I think there is a bug in this script.

[code]

Full build log - https://travis-ci.org/RouR/ToDo-ToBuy/builds/409529136
Config file for Travis - https://github.com/RouR/ToDo-ToBuy/blob/413beb4b4f9e25f509d13fce0d74382c449fb0b9/.travis.yml#L35

[2018-07-29 14:44] matkoch commented on #104
If you want to use GitVersion, you need to have Mono installed. Looks like you haven’t?

[2018-07-29 14:52] RouR commented on #104
I don't see this requirement in documentation.
Is it possible to use GitVersion without Mono?
As you see in build log - .NET Core 2.0.2 work`s fine on ubuntu.14.04-x64 without any dependency to Mono

[2018-07-29 14:55] matkoch commented on #104
It is not in the documentation, that’s true. I think we can improve the error message here to tell people that the particular tool requires Mono/NetFramework.

However, I don’t think we will add documentation for this, because this is a third party tool, that only integrates with Nuke. So any information we give about compatiblity could possibly run out of date.

[2018-07-29 14:55] #104 closed, assigned to nobody

[2018-07-29 14:57] matkoch commented on #104
If you really want to to use GitVersion along with .NET Core, you must have Mono installed. If you like you can create an issue on the GitVersion repository.

[2018-07-29 23:48] #69 closed, assigned to nobody

[2018-07-29 23:58] matkoch opened #106 "Colorization for process invocations"
It should be easier to recognize information from process invocations:

[code]

[2018-07-31 00:02] matkoch opened #107 "Progress information in console host"
Console experience can be improved by adding some kind of progress/status bar to the end of the console output that gets rewritten with every new output. This could include:

- Amount of finished targets / percentage
- Currently running targets
- Currently running operation
- Time since last output (hang detection)

One example. Build is not finished yet, mind the last three lines:

[code]

[2018-08-01 22:45] #102 closed, assigned to nobody

[2018-08-02 14:54] Robware opened #109 "DotNetRun - application arguments enclosed in quotes"
When specifying arguments for DotNetRun with spaces in, the arguments are enclosed in quotes which cause the arguments to not be passed to the program to be run ([see here](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-run?tabs=netcore21)). Using the = sign works to avoid this, but is only available if you have one argument.

Using `SetApplicationArguments($"--ExampleArgument=asd")`:
`

[2018-08-02 15:11] matkoch commented on #109
Thanks for the report. Just committed a fix. Watch out for version 0.6.0-alpha0109 on https://www.nuget.org/packages/Nuke.Common/absoluteLatest.

[2018-08-02 15:11] #109 closed, assigned to nobody

[2018-08-05 06:15] markusamshove opened #110 "Can't set up a Nuke project"
Hi,

I'm following your [Getting started](https://nuke.build/getting-started.html) documentation and the first thing I did was installing the `nuke` global tool.

When invoking `nuke` or `nuke :setup` I get the following error:

`Assertion failed: obj != null`

Nothing else is done/shown.

I was then trying to invoke it with `--help` to see if I can make the output a bit more verbose, but this res

[2018-08-05 07:21] markusamshove commented on #110
I cloned Nuke and debugged it against my project and found [this](https://github.com/nuke-build/nuke/blob/develop/source/Nuke.Common/Tooling/NuGetPackageResolver.cs#L117) line to return `null`, which causes [this](https://github.com/nuke-build/nuke/blob/develop/source/Nuke.GlobalTool/Program.Setup.cs#L43) to throw, because of the `NotNull()` requirement.

I'm not sure what I'm missing on my part s

[2018-08-05 07:52] arodus commented on #110
Hi Markus,
thanks for raising this issue. Seems we missed testing the tool without the `Nuke.Common` package in the local nuget cache. We will provide a fix for this issue as soon as possible, until then your workarround is totally valid.

[2018-08-05 20:52] arodus commented on #75
Implemented in and https://github.com/nuke-build/nuke/commit/e0cef674c7173b7527b34b7d9b8caf67fd100ea8.

[2018-08-05 20:52] #75 closed, assigned to nobody

[2018-08-08 10:18] GammaWolf opened #112 "build.ps1 error with version 0.6 related to vswhere.exe"
build.ps1 started to fail with an error starting with version 0.6 while it worked with the previous version.
It looks like it can't find the vswhere file or path. Then I assume an empty string as the path is passed and causes the error.

error:

The exception message could be translated to: The process can't be started, because no file name was specified.

Here's the full output:
[NukeBuildPs1Erro

[2018-08-08 10:41] arodus commented on #112
Hi GammaWolf,
we updated the MSBuildLocator to use vswhere in the latest version. This prevents using a msbuild version without the required components. This update also requires a change in the buildscript for the build to work again.
You can either just execute the nuke setup again using the Nuke global tool with the command `nuke !setup`. Or change [this line](https://github.com/nuke-build/nuke

[2018-08-08 10:45] matkoch commented on #112
Or `nuke :setup`, depending on your installed version.

Is there any reason why your're using the netfx bootstrapping instead of netcore? Because with netcore tooling you'll also be able to build netfx projects. Many folks confuse this, and we're constantly trying to make this clearer during the setup process.

[2018-08-09 06:15] GammaWolf commented on #112
Thank you, it does work with the modified script that specifies the vswhere path.

I've used netfx bootstrapping because I do not have any netcore projects, so I felt it wasn't necessary to have the added dependency.

[2018-08-09 06:15] #112 closed, assigned to nobody

[2018-08-09 15:03] abeggchr opened #113 "Typo in OctopusCreateReleaseSettings.WaitForDepployment"
Actual:
OctopusCreateReleaseSettings.WaitForDep**p**loyment

Expected:
OctopusCreateReleaseSettings.WaitForDeployment

See also:
https://www.nuke.build/api/Nuke.Common/Nuke.Common.Tools.Octopus.OctopusCreateReleaseSettings.html#Nuke_Common_Tools_Octopus_OctopusCreateReleaseSettings_WaitForDepployment

[2018-08-09 15:30] #110 closed, assigned to matkoch

[2018-08-11 11:05] lucascebertin opened #115 "Possibility to add coverlet integration"
I'm playing with nuke right now and would be awesome to use tools that run on dotnet core ootb.

Coverlet looks promising...
https://github.com/tonerdo/coverlet

Another possible way is to enable custom parameters on DotNetTest wrapper.
What you guys think about this integration?

[2018-08-11 15:33] matkoch commented on #115
@lucascebertin thanks for reporting. We can surely add support for coverlet.

What do you mean about custom parameters? You already can call `DotNet("parameters")`. Or are you thinking of something else?

[2018-08-11 17:04] lucascebertin commented on #115
Oh, sorry about that... the DotNet method works great and I already used it for my purpose.
I was thinking on pass /p:CoverletArguments directly on DotNetTest method...

[2018-08-12 20:31] razenpok opened #116 "Unity3D support"
They have pretty thorough documentation at:
https://docs.unity3d.com/Manual/CommandLineArguments.html

[2018-08-13 15:09] matkoch opened #117 "Documentation"
- [x] External files
- [x] Parameter declaration
- [x] Split into sub articles
- [x] Elaborate more
- [ ] Playground/examples (integrate as tests)
- [x] CLT wrapper (exposed arguments on method level)
- [ ] Katas ?
- [ ] GIFs
- [ ] How to write a plugin? #15

[2018-08-13 15:34] matkoch commented on #115
Note to self: adapt ProcessManager to use `dotnet` executable if appropriate.

[2018-08-13 16:12] matkoch opened #118 "DotNet process is kept alive"

[2018-08-14 17:54] werwolfby opened #119 "Trigger subsequent targets"
I have 2 targets:

`UpdateVersion` - target that update version in AssemblyInfo.cs
`CreateReleaseBranch` - target that create release branch (I'm lazy to do it manually 😄)

I want after execute target `CreateReleaseBranch` execute `UpdateVersion` as well. So I can't add `DependsOn(CreateReleaseBranch)` for `UpdateVersion` target because I can call `UpdateVersion` sometimes and do not want to execu

[2018-08-14 19:38] markusamshove commented on #119
At the moment you could create a simple C# method `UpdateAssemblyInfo` which you call within the Target `CreateReleaseBranch` and within the Target `UpdateVersion`, as you can use all tools within methods.

Adding something like `.After(CreateReleaseBranch)` or `.AlwaysAfter(CreateReleaseBranch)` would change the current flow of build files, so I guess this should be a bigger discussion.
On that t

[2018-08-14 19:41] markusamshove commented on #119
If you want to give it a shot, [this](https://github.com/nuke-build/nuke/blob/develop/source/Nuke.Common/Execution/BuildExecutor.cs#L20) should be the starting point of the build execution

[2018-08-14 19:48] markusamshove commented on #118
Is [this](https://github.com/akkadotnet/akka.net/issues/2848) related?
Their solution is killing the process before a build, which seems a bit strange if more than one dotnet project is build on the same server.

[2018-08-14 23:59] matkoch commented on #118
https://github.com/dotnet/cli/issues/9458 and https://github.com/dotnet/cli/issues/9481#issuecomment-413054533

[2018-08-15 06:45] arodus opened #120 "Requirements of skipped targets are still required"
[code]

[code]

[2018-08-15 09:46] #120 closed, assigned to nobody

[2018-08-16 01:09] matkoch opened #124 "NuGet properties"
https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets

[2018-08-16 04:12] matkoch commented on #117
https://github.com/dotnet/docfx/issues/3207 - Performance
https://github.com/dotnet/docfx/issues/3211 - Value tuples unsupported

[2018-08-16 04:32] matkoch opened #125 "Divide and conquer repositories/packages"
### Proposal:
The new structure could look like this:

- nuke-build
  - core (formerly nuke)
    - Nuke.CodeGeneration
    - Nuke.Utilities
    - Nuke.MSBuildTasks
    - Nuke.MSBuildLocator
    - Nuke.GlobalTool
    - Nuke.Core (formerly Nuke.Common)

For each tool/use-case, there will be a separate repository with NuGet package. For instance for:

- nuke-build
  - msbuild (Nuke.MSBuild)
  - dotne

[2018-08-18 21:30] werwolfby commented on #117
It still in progress, but at least already something:

![image](https://user-images.githubusercontent.com/705754/44303336-06fc3e80-a347-11e8-9dba-3da192840fc2.png)

It is not final solution it's workaround,

[2018-08-18 23:16] werwolfby commented on #117
Now it is better:
![image](https://user-images.githubusercontent.com/705754/44303919-d079f000-a355-11e8-90af-fe7db950cee1.png)
Except type itself.

[2018-08-18 23:22] matkoch commented on #117
That might be related to the xrefmaps..

[2018-08-19 09:30] werwolfby commented on #117
Finally:
![image](https://user-images.githubusercontent.com/705754/44307449-84f23100-a3ab-11e8-906a-2b0b485c03c4.png)

Few more checks and will be ready to create PR in docfx.

But it will change in nuke.web as well. I think it is best what we can do now.

[2018-08-19 13:29] #113 closed, assigned to nobody

[2018-08-23 08:16] arodus opened #126 "Argument Type Formatter"
Kubernetes for example always needs `TimeStamp`arguments to be in a certain format.
We could introduce a `ITypeFormatter` interface which allows the creation of own `TypeFormatters` these could be defined in the tool specification either tool wide or on every property.

[2018-08-24 08:28] robertcoltheart opened #127 "EnsureCleanDirectory fails its Assert because directory is deleted asynchronously"
As I understand, `Directory.Delete` calls winapi `RemoveDirectory` which only marks the directory as deleted. Because `EnsureCleanDirectory` is asserting the removal of the directory directly after the actual deletion, there is a slight chance it will fail, even though the directory was actually removed.

This is an issue I have hit multiple times in my builds.

[2018-08-24 10:56] arodus commented on #127
Also had the problem several times but wasn't unable to locate the problem.
In that case we probably just should trust `Directory.Delete` and remove the assertion, or is there any case where the call can fail without an exception? @matkoch

[2018-08-24 18:31] ElijahReva opened #128 "Getting Started page: broken link"
Hello!

https://nuke.build/getting-started.html

When I'm using next command, I'm getting error `404: Not Found`
[code]

Edit:
Also  doesn't work
[code]

[2018-08-24 18:34] matkoch commented on #128
We deprecated support for the PowerShell and Bash scripts in favor of the global tool. Documentation update will happen as soon as possible.

For the global tool, invoke “dotnet tool install -g Nuke.GlobalTool”

Sorry for the trouble :)

[2018-08-24 18:34] #128 closed, assigned to nobody

[2018-08-24 18:36] ElijahReva commented on #128
Sorry, I just forget to update nuke before usage.
Next cmd helped
`dotnet tool update -g Nuke.GlobalTool`

[2018-08-24 21:38] #127 closed, assigned to nobody

[2018-08-24 21:40] #116 closed, assigned to nobody

[2018-08-25 02:43] matkoch opened #129 "Integrate CI server choice into wizard"
Generated code could be like:

[code]

Auto-injection again. Several build server declarations are possible, but could be null.

Would also make it more discoverable and concise compared to current implementation (`TeamCity.Instance...`).

[2018-08-25 11:15] ElijahReva commented on #115
I manage to do this using next code
[code]

[2018-08-25 19:44] arodus opened #132 "Add run settings arguments to dotnet test"
[code]

Also add the possibility to add custom arguments like here `dotnet test /p:CollectCoverage=true`

[2018-08-25 19:58] matkoch opened #133 "Templating for external files"
GitFlow should be configurable:

- Git flow vs. GitHub flow
- Names of branches

Then also allow to install this file via nuke:

`nuke :install gitflow -mode github`

[2018-08-25 20:39] matkoch commented on #132
https://github.com/natemcmaster/dotnet-tools/blob/master/project-tools.md

[2018-08-27 21:05] ElijahReva commented on #125
Maybe also pack but not separate Nuget.Common.Testing in this case, so all child packages could share test abstractions too.

[2018-08-27 21:07] matkoch commented on #125
I currently can't think of any common test infrastructure that could be shared :/ but as soon as the opportunity is given, sure!

[2018-09-07 13:36] #115 closed, assigned to nobody

[2018-09-08 07:45] ElijahReva opened #139 "Gitter link on the Nuke site"
https://nuke.build footer has the link to Gitter instead of Slack

[2018-09-08 23:43] matkoch opened #140 "Word completion in global tool"
According to these posts:

- https://www.codez.one/autocomplete-fur-die-dotnet-cli/
- https://www.hanselman.com/blog/CommandLineTabCompletionForNETCoreCLIInPowerShellOrBash.aspx

... we can implement word completion.

Potential use-cases:

- Global tool command
- Target completion
- Parameter name completion
- Parameter value completion if enum/bool

[2018-09-10 08:39] SlowLogicBoy opened #141 "Add Support for SpecFlow"
Edit:
We are using their command line tool to generate our spec test report:
[code]

[2018-09-10 08:41] arodus commented on #141
https://specflow.org/plus/documentation/SpecFlowPlus-Runner-Command-Line/

[2018-09-11 15:56] LordMike commented on #30
Running stuff in docker could also pose an issue. The container may set `TERM` (or whatever), but the CLI following along (e.g. Powershell, bash, some CI system) might not.

[2018-09-11 16:01] LordMike opened #143 "Spec has odd assertion, seems incorrect"
Great project - looking at it for builds.

I was reading one of the specs, and saw that this odd assertion is in place: https://github.com/nuke-build/nuke/blob/7c2ecbeb3cf674c6448ecc8f6b50d08b8d955215/build/specifications/DocFx.json#L85-L91.

It doesn't seem like this is correct (it's quite possible I just don't know what any of this means, and skipped the RTFM :P).

[2018-09-12 05:41] arodus commented on #143
Hi @LordMike, the assertion looks odd but is there for a reason:
Themes are always folders and the parameter is optional, so the assertion ensures that the build fails direcly in Nuke (but only if a value is passed and it's not the path to a valid folder) and not in in the tool with a, perhaps, strange error message.

After checking the docs again I noticed that the assertion was indeed correct fo

[2018-09-12 05:46] arodus opened #144 "Update DocFx Tasks"
Update DocFx tasks.

- Check if all parameters are available in Nuke (e.g. `Templates` is missing)
- Both `Template` and `Theme` also accept an array of strings.
- Templates and themes can also be zip files instead of folders.

See also: https://github.com/nuke-build/nuke/issues/143#issuecomment-420518947

[2018-09-12 05:52] arodus commented on #30
You are right, do you have any idea how get the information reliable?

[2018-09-12 06:02] arodus commented on #78
https://github.com/Microsoft/VSSDK-Extensibility-Samples/tree/master/CodeLensOopSample

The codelens provider is loaded by the codelens service which runs outside of Visual Studio. Afaik there is no possibility to search the targets in proc by using the semantic model and sending the results to the codelens provider. So we either have to analyze the build project externally or just use RegEx to fi

[2018-09-12 09:07] LordMike commented on #30
It's probably one long series of guesses that is necessary to get this information.

Nuke already detects certain CI systems / containers - it detected Gitlab for us. This should f.ex. use ANSI colours because Gitlab CI will render it with colours. If the invoking script is powershell, Nuke should use whatever powershell supports.

Running in containers, I don't think it is possible to figure out

[2018-09-12 09:08] #143 closed, assigned to nobody

[2018-09-17 21:13] ElijahReva opened #145 "Provide ability to use custom logger sinks"
Hello!

I'm trying to figure out how to use Serilog as the logger. Is there any way to do this globally in the current release?

[2018-09-18 15:52] arodus commented on #145
Currently there is no extension point to select a different output sink but we can definitly do this. But we first have to think about how to select the logger in the build and how to combine it with e.g. the Teamcity Api.

[2018-09-19 10:39] matkoch commented on #145
In order to get gain experience and some more feedback, I've created an extension point (https://github.com/nuke-build/nuke/compare/75c9a88aca8b...5b3a3bdb232a). @arodus you alright with that?

[2018-09-19 11:29] LordMike opened #147 "Ability to navigate up in the hierarchy with AbsolutePath, other features"
Hey,

I was working with paths, and was lacking these features on AbsolutePath:

* Fetch parent directory (f.ex. `.Parent`)
* Ability to get all parents (f.ex. `IEnumerable<AbsolutePath> .Parents()`
* Various string operations, lacking `.Parent`, I looked for `.Contains` -- Althought I imagine it would be bad to have Contains on AbsolutePath, so maybe scratch this one

[2018-09-19 14:45] LordMike opened #148 "Add documentation on how to generate the specs"
I wanted to add a spec for Pnpm (a faster version of npm), so I initially just copied Npm.json and set out to find the generator. I did not succeed.

For now, I've copied the generated code and renamed all methods / classes appropriately, and that works - but ideally it should be generated :).

Is pnpm of interest to Nuke in general? (should I do a PR with pnpm.json?)

[2018-09-19 14:51] matkoch commented on #148
Given it has 4k stars on GitHub, I think it’s quite reasonable to have it included. A PR would surely be very welcome. However, I suggest to have a quick chat on either Gitter or Slack. We do know that documentation misses a few things, and it’s on our list. But it will take some time to get to that.

[2018-09-21 12:52] tiagodenoronha opened #149 "Installing Nuke on zsh in MacOS"
Good afternoon,

I tried installing nuke on zsh within the VSCode terminal, it came back as installed, but I didn't manage to get it working...

![image](https://user-images.githubusercontent.com/27889458/45882278-944b0c80-bda5-11e8-8094-14524ab98870.png)

Was it something I did wrong on my end?
Thanks!

[2018-09-21 13:01] matkoch commented on #149
This is a zsh issue. You need to adapt your `.zshrc` configuration. I've got `export PATH=$HOME/.dotnet/tools:$PATH` at the beginning.

[2018-09-21 13:01] #149 closed, assigned to nobody

[2018-09-21 13:53] tiagodenoronha commented on #149
Thanks! Able to run nuke now but it's giving me an error with not finding the nuget packages, want me to message you on twitter or something with this instead of opening a new issue?

[2018-09-21 13:53] matkoch commented on #149
Sure, you should be able to message me via @matkoch87, or join our slack workspace / gitter channel :)

[2018-09-22 05:34] #139 closed, assigned to nobody

[2018-09-22 05:35] #133 closed, assigned to matkoch

[2018-09-22 05:37] #74 closed, assigned to nobody

[2018-09-22 06:00] #145 closed, assigned to nobody

[2018-09-22 06:01] #141 closed, assigned to nobody

[2018-09-22 06:04] matkoch commented on #148
Ah sorry, now I understand :)

You just invoke `nuke generate` to execute the [target](https://github.com/nuke-build/nuke/blob/develop/build/Build.CodeGeneration.cs#L31).

Could you please also update your PR for dotnet? (If not I will do it as soon as 0.9.0 is going to ship)

[2018-09-22 06:06] arodus commented on #145
The property should be public.

[2018-09-22 06:07] #15 closed, assigned to matkoch

[2018-09-22 06:07] matkoch commented on #145
Why?

[2018-09-22 06:09] arodus commented on #145
nvm 🙈

[2018-09-22 15:50] #144 closed, assigned to arodus

[2018-09-22 17:58] ElijahReva commented on #145
Why it's internal?

[2018-09-22 17:59] matkoch commented on #145
It's internal protected. You can override it.

[2018-09-22 18:11] ElijahReva commented on #145
Thanks!

[2018-09-24 08:19] matkoch commented on #147
The `Parent` property is now implemented. But I'm against `Parents` as we already have `Descendents` and `DescendentsAndSelf`. Would that be enough?

[2018-09-24 08:23] matkoch commented on #147
Also I suggest to rename `AbsolutePath` to `Path` with the intent to use it more widely (not for vNext, but the next). I'd vote for duplicating all static methods from `System.Path`. Any opinions?

[2018-09-24 08:36] LordMike commented on #147
`Descendants` goes down the tree, while `Parents` would go up the tree, right?

Having the name clash with `Path` would probably .... work.. Since nuke scripts are usually one file and you generate most of them so you'd be able to do a mapping of `Path` to Nuke's `Path`. ... right?

[2018-09-24 08:41] matkoch commented on #147
It is a general purpose method that receives a delegate, so you could write path.Descendents(x => x.Parent), and it would walk up the chain.

Basically we need to ensure that most stuff from System.IO is available by some other class from our own Nuke.IO.

[2018-09-24 08:46] LordMike opened #150 "Newly generated code for Dotnet does not compile"
Hey,

I was able to generate the code, thanks :).
However, the generator modifies the DotNet.Generated.cs file and alters a number of properties to public. This doesn't compile afterwards.

![image](https://user-images.githubusercontent.com/1027111/45943534-fba3cf00-bfe6-11e8-8eef-5c2620bef396.png)

[code]

[2018-09-24 08:50] matkoch commented on #150
Ah, I forgot about this. Please just add the internal modifier by hand again for all LogLevelParser members.

[2018-09-24 08:50] #150 closed, assigned to nobody

[2018-09-24 09:53] LordMike commented on #147
That, and any extensions that the user may have on the static `Path` class (C# 8.0) will not be present in Nuke's version of `Path`.

[2018-09-25 09:38] arodus opened #152 "Add Azure Functions CLI support"
https://github.com/Azure/azure-functions-core-tools

It's possible to auto generate the tasks from https://github.com/Azure/azure-functions-core-tools/tree/master/src/Azure.Functions.Cli/Actions

[2018-09-26 08:08] yvz5 opened #153 "Assertion failed: Replacement for '_SOLUTION_DIRECTORY_' is not contained in template."
hi there, when I try to create a .nuke file via cli, it does give me this error. the commands i used are the following:
[code]

the .nuke file is empty, build project is added but visual studio cant load it.

visua studio 2017

[2018-09-26 09:23] matkoch commented on #153
Assertions were too aggressive unfortunately. After `dotnet tool update Nuke.GlobalTool -g` it should work again with 0.9.1.

Thanks for raising this!

[2018-09-26 09:23] #153 closed, assigned to matkoch

[2018-09-29 16:32] markusamshove commented on #147
I'm not sure if renaming AbsolutePath to Path wouldn't create more confusion than just leaving it as it is

[2018-09-29 17:00] matkoch commented on #147
Current plan is to use another name like `NPath` or `Path2`. In our own solution `Path` lead to too many resolution issues (mostly due to `File`, `DirectoryInfo` and so on).

[2018-09-29 17:18] matkoch commented on #147
@MarkusAmshove the general goal is to have something _shorter_ than `AbsolutePath` ... to me it doesn't feel very convenient.

[2018-09-29 19:01] #147 closed, assigned to nobody

[2018-10-11 23:16] #31 closed, assigned to nobody

[2018-10-15 21:36] arodus opened #155 "Wrong .NET Core SDK is downloaded"
Format of the json changed, we should use https://github.com/dotnet/core/blob/new-json/release-notes/releases-index.json instead.
https://github.com/dotnet/announcements/issues/87

[2018-10-18 16:38] matkoch commented on #155
## Description

The format of the `release.json` file has been changed (https://github.com/dotnet/announcements/issues/87), which we used to resolve the _latest version_ for .NET Core SDK. This results in the behavior that a possibly wrong/old version of the SDK could be downloaded. According to the bootstrapping templates (https://github.com/nuke-build/nuke/blob/0.11.1/source/Nuke.GlobalTool/temp

[2018-10-18 23:31] matkoch commented on #148
Infrastructure will change fundamentally. So this will be obsolete anyways.

[2018-10-18 23:31] #148 closed, assigned to nobody

[2018-10-20 10:41] arodus opened #156 "Azure DevOps Extension"
Invokes the build script with a specified set of parameters. We should research if it’s possible to have a dynamic interface, which would allow to show textboxes per `[Parameter]` declaration.

[2018-10-23 21:06] arodus commented on #119
@werwolfby did you already found a solution? I think it should be solvable with `.Before` and `.After`.

[2018-10-23 21:11] werwolfby commented on #119
@arodus No I didn't. And `.Before` and `.After` doesn't solve it. Because sometimes I need to call some target in the middle of another target.
And now I can do it only by extracting some method that will be used by both targets.

[2018-10-25 06:46] ljani opened #161 "Is running without the global tool a supported scenario?"
I just discovered this project, I like the very core of this system. However, I'm not a big fan of the global tool `Nuke.GlobalTool`. Thus I'm asking is using `Nuke.Core` directly in a project a supported scenario? It works now, but will it work in the future? I'm asking, because the website only talks about the global tool.

To clarify, I have a `MyProject.Build.csproj` project, which contains th

[2018-10-25 07:04] arodus commented on #161
Hi ljani,
at first make sure to not use `Nuke.Core` but `Nuke.Common`. The `Nuke.Core` package is deprecated.

There is no need to install the global tool besides for the initial setup.
The setup creates a build script for bash and PowerShell which just can be executed on any machine even if the dotnet SDK is not installed.
The build script ensures that the correct dotnet SDK is installed and down

[2018-10-25 07:14] ljani commented on #161
Ah, thanks for the info! Maybe add a mention of deprecation to [the nuget package](https://www.nuget.org/packages/Nuke.Core/)?

This sounds very promising! I can rely on dotnet being installed, because we're a dotnet shop after all and thus I'd like to minimize anything unnecessary. `dotnet run` has a clear intent that everything is in the `.cs` files.

I edited my original question a little to cl

[2018-10-25 07:14] #161 closed, assigned to nobody

[2018-10-25 17:15] matkoch commented on #161
Just a few additional notes:

- You've been creating the build project by yourself, including adding the reference to `Nuke.Core`, right? Afaik, there is no mention of this package anywhere, and it's also not part of our template generated by the global tool.
- Using the bootstrapping scripts (ps1/sh) along with the global tool currently allows executing the build from any directory below the root

[2018-10-25 17:58] ljani commented on #161
Yes, it was my mistake. I did start by exploring Nuget and found the package. I thought Core contained runner and Common had some stuff shared between the runner and other packages. I did wonder why `Nuke.Core` did not reference `Nuke.Common`, heh.

Sure, I agree that this is convenient and I'm all for providing additional tooling for better experience. But my use cases tend to be simple and thus

[2018-10-25 18:45] ljani commented on #119
If I understood correctly, I'm having a similar problem:

- I have a target called `RunPostgres` (Docker container)
- I have another target called `Test`, which depends on `RunPostgres`
    - This is the target I want to run
- Finally I have a target called `StopPostgres`, which I would like to run after `Test`
    - Or better, at the end of build if `RunPostgres` was invoked from any target

Whil

[2018-10-26 12:38] arodus commented on #119
tl;dr:
- Think outside of the normal build DSL pattern and also utilize C# as a host  language
- Breaking the dependency graph by executing a target from within another target or allowing circular references is a strong won't fix, as we think there are other ways of solving such issues
- Defining an execution path the other way round is something we will think about

NUKE is designed to save the u

[2018-10-26 15:23] ljani commented on #119
Regarding my poor ideas, yeah, I knew most of them were garbage. I was just brainstorming ways to solve this 😄 Something utilizing `IDisposable` is definitely an interesting idea and very csharpy. I really like eg. xunit how it does things.

Yes, my use case is a simple one as I'm still evaluating the tool 😄 The thing is that once you drop to C#, you'll lose the dependency graph. If `StopPostgres`

[2018-10-28 23:50] matkoch commented on #119
[code]

Although I'm not sure how we can visualize this in `--graph`.

[2018-10-30 10:43] #140 closed, assigned to arodus

[2018-10-30 10:51] matkoch opened #162 "Parallel execution of targets"

[2018-11-02 10:54] HotdogWang opened #163 "Cannot execute gitversion on MACOS"
Hi,

I just init nuke build on my Project, and try to using gitversion to add build number for my lib.
Then I got below two issues.

1. I manually add `path '~/.dotnet/tools'` to my environment path, then every time I run nuke build will get environment path warning.

2. As I know, MacOS needs to depend  mono to run gitversion.
But when I run nuke build in terminal will got error.
[code]
The stran

[2018-11-02 10:57] arodus commented on #163
You have to add the following line to your build.sh
https://github.com/nuke-build/nuke/blob/develop/build.sh?l23#L33

Also make sure the global tool path exists and is readable by Nuke.

[2018-11-02 13:38] arodus commented on #163
Regarding the `inaccessible path...` warning. Afaik using `~` isn't supported. Try using `$HOME/.dotnet/tools`.

[2018-11-04 07:50] HotdogWang commented on #163
Hi Arodus,
Thanks for your reply.

For `inaccessible path..` I already check my environment path is
`export PATH=$HOME/.dotnet/tools:$PATH` why it will display `~` QQ

For mono issue, it doesn't work for me after add that line.
I still look for solution and try. 😀

[2018-11-04 11:13] matkoch opened #165 "Expand variables on Unix"
https://github.com/nuke-build/nuke/blob/c209e6ad6057f70d735f0427fd5eccd217f96426/source/Nuke.Common/EnvironmentInfo.Others.cs#L28-L32

[2018-11-04 11:21] matkoch commented on #163
@HotdogWang

This warning is shown because neither `$var` nor `~` is expanded when calling `Environment.ExpandEnvironmentVariables`. I've created #165.

As for the mono/gitversion issue. https://github.com/nuke-build/nuke/blob/develop/build.sh?l23#L33 isn't going to help here. It is used for compilation of projects targeting `netxx`. Are you sure that there is a git repository initialized?

[2018-11-05 16:29] jrouaix opened #166 "Docker build BuildArg parameter doesn't seem right"
Hello, I think I might have a problem with the DockerBuild task.
it should produce a command line in 2 words like : `--build-arg key=value`
but it produces something like that `--build-arg=key=value`

Is there something I miss or some real bug here ?
If it's a bug, do you see any workaround to unstuck me ?

https://docs.docker.com/engine/reference/builder/#using-arg-variables

![image](https://use

[2018-11-05 22:29] #166 closed, assigned to nobody

[2018-11-08 08:35] HotdogWang commented on #163
@matkoch
Sorry for late to reply.
Are you mean that is my project already init with git?
This is answer is sure!

I add the line into build.sh and echo the path.
![image](https://user-images.githubusercontent.com/12172172/48186746-f242ac00-e373-11e8-97ab-6513c2a329c5.png)

Then I also make sure I have mono file in that path.
But I still got the same issue.
Seems path doesn't be override, right?
![

[2018-11-08 08:37] matkoch commented on #163
Could you please paste the output of `/Library/Frameworks/Mono.framework/Versions/Current/Commands/mono /Users/beck.wang/.nuget/packages/gitversion.commandline/3.6.5/tools/GitVersion.exe`

[2018-11-09 02:45] HotdogWang commented on #163
Here is the out put I manually run
`/Library/Frameworks/Mono.framework/Versions/Current/Commands/mono /Users/beck.wang/.nuget/packages/gitversion.commandline/3.6.5/tools/GitVersion.exe`

<img width="1059" alt="screen shot 2018-11-09 at 10 38 59 am" src="https://user-images.githubusercontent.com/12172172/48240092-734d8200-e40c-11e8-9ebb-e208bb5b9a34.png">

[2018-11-09 10:06] arodus commented on #163
It seems like the problem lies within gitversion. I think it has a problem with the current state of your repository. Could you try running it again in a clean repository?

[2018-11-09 18:36] #155 closed, assigned to nobody

[2018-11-10 06:16] #163 closed, assigned to nobody

[2018-11-13 10:53] jrouaix opened #169 "DotNetBuild nuget --source argument missing | or a way to pass custom arguments"
Hello Nuke team and thank you for this great tool.

For custom reasons, I don't want to run restore before build on my CI.
So I's like the build command to restore nugets ... and they are on myget.

Previously the DotNetRestore command could a custom nuget config file, now with direct build i'm a little stuck without the --source argument
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-b

[2018-11-14 15:04] hayhay27 opened #170 "Bug in Arguments.cs"
Secret's value falls in customValue argument:
https://github.com/nuke-build/nuke/blob/6787fedf3abd411ed1f98b18174ebd7fb465b34a/source/Nuke.Common/Tooling/Arguments.cs#L45

Signature:
https://github.com/nuke-build/nuke/blob/6787fedf3abd411ed1f98b18174ebd7fb465b34a/source/Nuke.Common/Tooling/Arguments.cs#L48-L53

[2018-11-14 16:01] matkoch commented on #169
@jrouaix thanks! Seems that `--source` is missing. We will add this asap. In the meantime, you can use `SetArgumentConfigurator`.

[2018-11-14 16:03] matkoch commented on #170
That's a nasty bug, thanks for reporting. How did you notice?

[2018-11-14 16:39] LordMike opened #171 "Overriding Configuration at runtime?"
Hey, is it possible to override the `Configuration` at runtime?

We want to decide between `Release` and `Debug`, depending on if the CI is building a Tagged commit. We're using `GitVersion` to do the assembly versioning, and it already has logic to add pre-release versions if we're doing untagged builds - now we'd like the Configuration to match this logic :)

[2018-11-14 16:43] matkoch commented on #171
For a few versions, `Configuration` is no longer provided from the `NukeBuild` base class. So you can just implement it the way you want it. Does that answer the question?

[2018-11-14 17:00] LordMike commented on #171
I'm simply out of date? :O

[2018-11-14 17:00] #171 closed, assigned to nobody

[2018-11-14 17:01] LordMike commented on #171
https://nuke.build/getting-started.html#predefined-properties is out of date then.

[2018-11-14 17:12] LordMike opened #172 "Solution Attribute updates"
Hey,

Following an update to 0.11.x, I'm told the Solution Attribute will no longer find the solution file given a .nuke file. Is there a way to get the `Solution` instance, in a base class?

So what we have, is a base class for all our Nuke builds, which has the Solution on it. This Base does not know about the actual solution file for a project. I also cannot, because it's an attribute, get the

[2018-11-14 17:17] matkoch commented on #172
Currently it still resolves from the .nuke file, and I think we’re going to keep it this way. Just need to remove the Obsolete attribute.

[2018-11-14 17:17] #172 closed, assigned to nobody

[2018-11-14 17:18] matkoch commented on #172
By the way, you can pass the solution file also from the command line. Parameter name is the same as the field being attributed. Just check `nuke —help`.

[2018-11-14 17:19] hayhay27 commented on #170
Just extending ToolSettings for SonarQube tool I looked under hood

[2018-11-14 17:29] matkoch commented on #170
Just to make sure, do you know that we use code generation to add support for CLI tools?

[2018-11-14 19:34] #170 closed, assigned to nobody

[2018-11-14 22:07] hayhay27 commented on #170
Yes, I know. From dotnext video. But forgot. Sometimes, it's not so bad)

[2018-11-14 22:56] LordMike commented on #118
Is this related to the new-ish build-server?

`dotnet builder-server shutdown` f.ex.

EDIT: Just read the links - yea, it's the build-server :P

[2018-11-14 22:58] matkoch commented on #118
Yes, but something like `--no-servers` would be desirable (see https://github.com/dotnet/cli/issues/9481#issuecomment-413058280)

[2018-11-15 14:12] LordMike opened #173 "build.ps1, Ctrl+C closes window"
It seems the Nuke build.ps1 closes the Powershell window when canceled (Ctrl+C).

For example:

* In a new PS window, running a command and cancelling **does not** close the window
* In a new PS window, running `.\build.ps1` and cancelling **does** close the window

This is minorly inconvenient, as I will iterate on builds quickly a number of times, meaning I'd run the build script, do a change, c

[2018-11-15 15:51] clmcgrath opened #174 "Warnings on error stream are reported as build problems in TeamCity"
I just implemented nuke into our build process
i even wrote a custom tool spec for yarn , as nuke doesn't support it out of the box

everything works fine while running in powershell save for some warnings ,  as some of our npm packages are out of date and some legacy code is generating warnings due to unused variables and some apis we use are becoming obsolete

the problem i am running into howev

[2018-11-15 16:02] matkoch commented on #174
What do you mean by _in the past_? Have you been updating any part of your CI?

To me, this looks like a TeamCity configuration issue, since the exit code is 0. Maybe check the **Format stderr output as** setting of the PowerShell step.

[2018-11-15 16:08] clmcgrath commented on #174
by in the past i mean,  we had this build setup previously using standard team city build steps
and these warnings have always been ignored by team city,  as they should

the build failure reports these as build problems generate by the build script,  we also have the powershell step set to treat errors as warnings

![image](https://user-images.githubusercontent.com/452012/48565552-d3d63680-e8c6-1

[2018-11-15 16:11] clmcgrath commented on #174
digging deeper it looks like nuke is reporting these as problems via service message
[code]
is there a way to configure this ?

[2018-11-15 16:12] matkoch commented on #174
Try to call `DisableLogOutput` on your Yarn invocation.

[2018-11-15 17:41] clmcgrath commented on #174
tried disabling it
[code]
doesn't seem to have any effect

[2018-11-15 17:50] clmcgrath commented on #174
i think the core issue here  is the teamcity  log sink is reporting warnings as problems
could this be resolved using a log filter ?

[2018-11-16 11:34] matkoch commented on #173
I currently don’t have any time to investigate this. It’s probably to do with the trap declaration in build.ps1, which should ensure that the script is exited with non-zero whenever something bad happens. I don’t remember the details, but you’re welcome to raise a PR.

FYI, the global tool can also invoke the build.

[2018-11-16 11:36] matkoch commented on #174
IMO the issue is rather that yarn reports warnings via the error stream. Anyway, several tools do that, so we need to find a solution to that.

[2018-11-16 13:04] clmcgrath commented on #174
the only way i found to fix it quickly so far was to disable log output  then out put them as warnings after yarn completes

[2018-11-16 13:20] clmcgrath commented on #174
can this be overridden some where in the code generator output , i could custom code this out as a temporary fix until something better , in yarns case they do add a warning moniker at the beginning of the lines ,  i tried using the log filter system but didn't work due to the fact it uses the error channel to report errors ,  could a permanent fix to this be to allow customization of this functio

[2018-11-16 20:30] matkoch commented on #174
Didn't you say it's not working?

You can override `NukeBuild.OutputSink` for now. Apart from that, you're welcome to make some suggestions via PR.

[2018-11-16 20:35] clmcgrath commented on #174
still not fully working,  the way i did it is not really ideal as it doesn't output anything until the end of the task completion, i shut off the task output to suppress the warnings then looped over the output at the end and wrote warnings to the outputsink after
not ideal but works for now

[2018-11-16 20:46] matkoch commented on #174
I'm confused, you wrote

So it was actually solving the issue of failing build, but obviously missing output?

[2018-11-17 22:29] clmcgrath commented on #174
no ,  trying to add log suppression via the options object literally had no effect,  it still output the log
i had to invoke the command manually via the `Yarn("install", logOutput: false )` command instead of
[code]

[2018-11-17 22:44] matkoch commented on #174
`DisableLogOutput` creates a new object. You're returning the old one.

[2018-11-18 15:55] LordMike commented on #107
You could also display it with the ASCII art:

[code]

[code]

And then be able to hide it using attributes on the build class, a fluent configuration, or a command line switch (maybe even an environment variable).

[2018-11-19 08:25] Bacon-Pancake opened #177 "Update Glob version"
Glob 0.3.2 contains a bug where the full path is being used for pattern matching.

This causes unexpected behaviour when the root path contains part of that pattern.

Example:
`GlobFiles(@"c:\src\foo", "src/**/*.cs");`
Absolute : `c:\src\foo\bar\example.cs`

Expected behaviour: should not match
Actual behaviour: does match

See [https://github.com/kthompson/glob/commit/6b5e09907ec51abfb6332cac9e76

[2018-11-20 18:28] robsonj opened #178 "build.ps1 failure if sdk is not present in global.json"
We have a situation where we're using the global.json file for other SDK versions, but not the .Net Core SDK version.

Our global.json file looks like...
[code]

This causes the build.ps1 script to fail as it is expecting to find the SDK JSON entry in the global.json file when it finds a global.json file.

[2018-11-20 19:42] #173 closed, assigned to nobody

[2018-11-20 19:51] #165 closed, assigned to nobody

[2018-11-21 15:37] ScarletKuro opened #180 "Support GitVersion.CommandLine.DotnetCore"
Can you guys make example for GitLab CI, since i can't figure out how to make it work together with GitVersion.

[2018-11-21 16:38] matkoch commented on #180
That’s rather a question for the guys over at https://github.com/GitTools/GitVersion. But maybe @arodus can help.

[2018-11-21 21:32] LordMike opened #181 "Add locked mode support to dotnet restore"
* https://github.com/NuGet/Home/wiki/Enable-repeatable-package-restore-using-lock-file
* https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#locking-dependencies

[2018-11-21 22:11] arodus commented on #180
GitVersion depends on Mono and libgit so you have to make sure that both are availble in the image.
You can check out [this dockerfile](https://github.com/arodus/docker-jenkins-slave-mono/blob/master/Dockerfile) or directly use it from [docker hub](https://hub.docker.com/r/arodus/docker-jenkins-slave-mono/), but be aware that it also contains the JDK cause it was made for running as a jenkins slav

[2018-11-22 09:06] ScarletKuro commented on #180
Hmm i guess important remark is to define sdk version 2.1.300 in global.json to make it work.
Also, are you guys sure that mono is mandatory for gitversion?
Because when I compile without NUKE but with GitVersion its ok.
Using following package reference.
`	<PackageReference Include="GitVersionTask" Version="4.0.0-beta*">
		<PrivateAssets>All</PrivateAssets>
	</PackageReference>`
it works fine and

[2018-11-22 12:33] matkoch commented on #180
As far as I can see, the PR they're talking about is still in progress (https://github.com/GitTools/GitVersion/pull/1422). It's a simple rule: everything `*.exe` requires Mono to run on Unix systems. Executables for .NET Core will be `*.dll`.

The `GitVersion` package wasn't updated since May 2017 (https://www.nuget.org/packages/GitVersion/4.0.0-beta0012), while `GitVersionTask` is only 6 days old

[2018-11-22 12:33] #180 closed, assigned to arodus

[2018-11-23 09:59] ScarletKuro commented on #180
@matkoch, because there is [GitVersion.CommandLine.DotNetCore](https://www.nuget.org/packages/GitVersion.CommandLine.DotNetCore/4.0.1-beta1-47)(https://github.com/GitTools/GitVersion/issues/1509) package which is the dotnet version of the exe(GitVersion.CommandLine). So if i understand it correctly, replacing it in the `Nuke.Common.Tools.GitVersion` should help to get rid of the mono dependency.

[2018-11-24 13:46] #181 closed, assigned to nobody

[2018-11-24 13:46] #169 closed, assigned to nobody

[2018-11-26 18:44] robsonj opened #183 "the --Help parameter throws an assertion exception"
If I do not have a .nuke file and supply only the help parameter (--help), I do not receive any help, instead I get the following stack trace...

[code]

[2018-11-27 14:19] #177 closed, assigned to nobody

[2018-11-27 14:19] #178 closed, assigned to nobody

[2018-11-27 16:16] LordMike opened #184 "What's the purpose of the `.tmp` directory?"
I've noticed `.tmp` is created whenever Nuke is run - and it contains some Nuke related stuff in addition to some targets and more.

- Should this file be checked in?
- Deleted?
- Ignored?
- Should we ignore .tmp entirely?
- Can its location be customized?

[2018-11-27 17:15] matkoch commented on #184
The content of the `.tmp` directory is not intended to be checked in. The assumption is that `.gitignore` and similar files have an entry for `*.tmp` already. The location is currently not customizable, is there a specific need for that?

[2018-11-27 18:16] robsonj commented on #183
Was this issue fixed in 0.12.2? it still appears to be an issue, at least when running as a global tool

[2018-11-27 18:19] matkoch commented on #183
True, but just saying: the only thing we can improve here is the error message. Telling that no .nuke file was found, and —root should probably be passed.

[2018-11-27 18:50] robsonj commented on #183
That would be better than the assert tbf. Currently someone needs to know how to use Nuke in order to get help on how to use Nuke.

[2018-11-28 14:32] LordMike commented on #184
No specific need. I was wandering what to do with it.

I've added `.tmp/` to our ignores.

[2018-11-28 14:32] #184 closed, assigned to nobody

[2018-11-29 15:32] lt-gerjan opened #185 "NuGetPath error: Assertion failed: !IncludesDependencies"
It seems Nuke cannot find my nuget.exe. when using `NuGetTasks.NuGetPack` I am getting:

[code]

So I try to debug it and the problem is the property `NuGetTasks.NuGetPath;`

In the code I see that it checks for a environment variable or else tries to download it (?).  See:
https://github.com/nuke-build/nuke/blob/b9a08b5ddf2262e5455fb1617880e467256618e8/source/Nuke.Common/Tools/NuGet/NuGet.Generat

[2018-11-29 15:33] matkoch commented on #185
Are you using the legacy format during setup? If yes, why?

[2018-11-29 15:34] lt-gerjan commented on #185
What is legacy format? .NET framework? I want to use the NuGet tool to do some custom packing stuff

[2018-11-29 15:35] matkoch commented on #185
Sorry, I meant MSBuild bootstrapping (in contrast to .NET Core). See here https://nuke.build/docs/getting-started/setup.html

[2018-11-29 15:37] lt-gerjan commented on #185
I have a large repository with mixed projects (.NET Core and .NET framework). I am not sure what I selected during setup, does it matter? Can I check what I selected?

[2018-11-29 15:42] matkoch commented on #185
For this issue it does matter, yes. Please check the note at the end of the linked article. To answer the question about setting the tool path, they can be changed ad-hoc via `SetToolPath`. In general, I think you should add `NuGet.CommandLine` as a package reference. With SDK based project, you will probably see that message.

[2018-11-29 15:52] lt-gerjan commented on #185
Okay, I migrated to .NET Core and it seems to fix it 👍

[2018-11-29 15:59] lt-gerjan commented on #185
Hm, now I have a lot more other issues, for example `GlobFiles` does not return anything anymore

[2018-11-29 16:01] matkoch commented on #185
I think I will change two things:

- Change setup to not ask about .NET Core /  MSBuild, because most folks get this the wrong way. But provide a `--legacy` switch, which will allow to opt-in.
- Remove that assertion all along.

Regarding your other questions, please create a new issue or swing by at our slack channel!

[2018-11-29 16:01] #185 closed, assigned to nobody

[2018-11-29 20:10] #183 closed, assigned to nobody

[2018-11-29 20:11] #18 closed, assigned to nobody

[2018-11-30 13:26] LordMike opened #186 "DotnetRestore() missing AddProperty"
It is possible to have different package restores, given Msbuild properties, e.g. `dotnet restore /p:PackageVersionSuffix="-beta"`.

The Nuke `DotnetRestore` does not expose Properties the same way `DotnetBuild` and others do.

[2018-12-01 13:42] LucaGabi opened #187 "Create zip file"
Hi,

   Great project! How can I create a zip file or archive in one of the tasks ?

Thanks.

[2018-12-01 14:08] wieslawsoltes opened #188 "Invalid Parameter parsing when value contains "-" at start"
[code]
[code]

The `VersionSuffix` parameter is not set to `-build1234`.

[2018-12-01 14:11] matkoch commented on #188
Please see https://github.com/nuke-build/web/blob/master/source/docs/authoring-builds/parameter-declaration.md. Lisp-casing is supported out of the box. But it’s probably still a bug.

[2018-12-01 14:16] wieslawsoltes commented on #188
@matkoch Lisp-casing is working. For example this works:  `./build.ps1 --target Pack --version-suffix "build1234"`

[2018-12-01 14:20] matkoch commented on #188
So it’s working now? A declaration like `[Parameter] bool SomeThing` will automatically allow the parameter to be passed as `-SomeThing` or `—some-thing`, and even mixed versions. If the doc is missing something, please tell me.

[2018-12-01 14:24] wieslawsoltes commented on #188
@matkoch The issue is not with lisp-casing.

The issue is with parameter value:

* Does not work:
`--version-suffix "-build1234"`
* Works:
`--version-suffix "build1234"`

I think parameter parser is not parsing correctly the parameter value `"-build1234"` because it contains `-` at start.

[2018-12-01 14:26] wieslawsoltes commented on #188
I am expecting the `VersionSuffix` property to have value equal to `"-build1234"` but I get `null` instead.

[2018-12-01 14:28] matkoch commented on #188
Ah sorry, I missed that. With quotation it should surely work, that can probably be fixed. But I would recommend to pass the suffix without “-“ and implement the version along the lines like “VersionSuffix != null ? ... : ...”. Anyway, will fix that.

[2018-12-01 14:30] wieslawsoltes commented on #188
@matkoch No problem.

I have added workaround for now:
[code]

[2018-12-01 19:32] matkoch commented on #188
Besides this being an issue, looking at
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-pack?tabs=netcore2x#examples, I really don’t think that VersionSuffix should include a dash prefix.

[2018-12-01 19:58] wieslawsoltes commented on #188
@matkoch That is good point, I was following some early .NET Core documentation. Looks like there is better way.
https://docs.microsoft.com/en-us/dotnet/core/tools/project-json-to-csproj#version
[code]
https://stackoverflow.com/a/42615574/282801

And as I remember there were some bugs along the way in build tooling.

[2018-12-01 23:32] matkoch commented on #188
I think this issue is not trivial to solve, yet it's also not serious. I'm putting it into backlog.

[2018-12-02 11:48] wieslawsoltes opened #189 "Disable invalid or inaccessible Path environment variable warnings"
When running Nuke build script invalid path warnings are displayed.
[code]
Please add switch/option to disable this behaviour. For example it is polluting logs when running of CI server.

[2018-12-02 22:10] #189 closed, assigned to nobody

[2018-12-03 20:39] GeorgDangl commented on #187
You can take a look at this:
https://github.com/Dangl-IT/Dangl.AVACloudClientGenerator/blob/develop/build/Build.cs#L124-L137

Essentially, I just use the framework classes to do this:

    System.IO.Compression.ZipFile.CreateFromDirectory(outputPath, outputPath.ToString().TrimEnd('/').TrimEnd('\\') + ".zip");

[2018-12-06 07:24] #187 closed, assigned to nobody

[2018-12-09 17:40] #117 closed, assigned to nobody

[2018-12-09 17:41] #152 closed, assigned to arodus

[2018-12-09 17:41] #124 closed, assigned to nobody

[2018-12-10 07:27] Liminiens opened #192 "Paket and GitVersion"
It looks like a change https://github.com/nuke-build/nuke/commit/b7b76c6c8d7304e9921ba6b42c8fd44b300d2b01#diff-6d97f850f2742445eea7c48c99291580L29 broke GitVersion resolving when using Paket. Before it also looked up for the package at `<sln>/packages/GitVersion../GitVersion.exe` via `ToolPathResolver.GetPackageExecutable` at https://github.com/nuke-build/nuke/blob/develop/source/Nuke.Common/Tooli

[2018-12-10 15:43] wieslawsoltes opened #193 "Error when using netcoreapp3.0 target framework"
I know that `netcoreapp3.0` is in preview but would be nice to have fix for this issue:

[code]

[code]

[code]

[2018-12-10 20:07] Liminiens commented on #192
@matkoch should I open a pr where I am aiming to fix this with [Paket API](https://github.com/fsprojects/Paket/blob/master/src/Paket.Core/PublicAPI.fs) ? :)

[2018-12-10 20:09] matkoch commented on #192
PR is welcome. I'm currently thinking of another method `ToolPathResolver.TryGetPackageExecutable`, similar to other methods in `NuGetPackageResolver.TryXxx`, but no exact thoughts here (and no time). I'd prefer not to do a partial fix in `GitVersionTasks`. For your own code, you can use `SetToolPath` meanwhile.

[2018-12-10 21:01] #186 closed, assigned to nobody

[2018-12-10 21:01] #193 closed, assigned to nobody

[2018-12-10 23:44] matkoch opened #195 "Completion for third-party CLIs"
Following on the global tool shell-completion and given the specification files, we could deliver completion even for third-party CLIs. This could help when authoring a build and troubleshooting invocations.

[2018-12-10 23:46] matkoch opened #196 "Conversion between fluent API and string-interpolation invocations"
Calls could be converted using context actions. Helpful when copying commands from the shell to the build targets.

[2018-12-10 23:48] matkoch opened #209 "Input and output specifications for targets"
This can help with:
- Incremental builds
- Parallelization
- Caching

[2018-12-11 10:03] wieslawsoltes commented on #193
@matkoch Thanks for quick fix. I can confirm v0.13.0 has fixed the issue.

[2018-12-11 19:55] Liminiens opened #198 "dotnet.exe hangs on copying build.dll"
dotnet process hangs on DotNetBuild [task](https://github.com/Liminiens/json-provider/blob/nuke-build/build/Build.cs#L53) while trying to copy `build.dll`.

Maybe there is an error in configuration, or the issue is unrelated to the Nuke, it's hard to say now.

[code]
output:

[code]
Edit:
---

The error was in a build project configuration in a .sln file. `build.csproj` must not be in a `|Any CPU.

[2018-12-11 20:05] Liminiens commented on #198
There was an issue in [.sln](https://github.com/Liminiens/json-provider/commit/ecfda979dd80f3e69e52408028aa3f011260c1ce#diff-92aa202cfcad0f0ff1cbc0ee8bc7d738L50) file. The build project must not be in `|Any CPU.Build.0` configurations.

[2018-12-14 09:42] jrouaix opened #199 "Feature request : terraform"
Hello,

Do you have plans to integrate https://www.terraform.io/ ?

[2018-12-14 11:46] matkoch commented on #199
No we don’t. But you’re welcome to contribute a specification file for code generation. For more information I suggest contacting us in Slack.

[2018-12-14 11:46] #199 closed, assigned to nobody

[2018-12-16 04:42] bonesoul opened #200 "gitversion issue?"
[code]

[2018-12-16 11:20] matkoch commented on #200
These are two distinct invocations. Please don’t create issues with just stacktraces pasted (see contribution guidelines). This needs at least a few sentences of explanation, and a note whether the pure invocations (without nuke involved) work or not.

[2018-12-17 20:52] Liminiens commented on #198
I thought that the issue is somehow related to paket or something, but it was error on my side, so I'll close this

[2018-12-17 20:52] #198 closed, assigned to nobody

[2018-12-17 20:57] Liminiens opened #201 "Warning on having Build configuration for build.csproj"
Now Nuke expects that there is no `Build` configuration for the build project in `.sln` file, so it won't try to build itself and hang on copying. It would be good to have a warning if such configuration exists for the `.build.csproj`.

[2018-12-17 21:02] Liminiens commented on #201
Related api: https://github.com/Microsoft/msbuild/blob/master/src/Build/Construction/Solution/SolutionFile.cs

[2018-12-17 21:41] matkoch commented on #201
Any thoughts if this should be done independently from `SolutionAttribute`? For instance, we could spin off a background thread, that collects all `*.sln` files (warn if too many), and check available configurations. Otherwise, we rely on the fact that the `SolutionAttribute` is being used.

[2018-12-18 01:06] #77 closed, assigned to nobody

[2018-12-18 12:59] Liminiens commented on #201
Yes, I think that we can use the path from `SolutionAttribute` and add warning somewhere here after [InjectionService.InjectValues](https://github.com/nuke-build/nuke/blob/b431ce6d121f0d40c8ab882e97577974c664b5d7/source/Nuke.Common/Execution/BuildExecutor.cs#L49). Otherwise search from the root for all `.sln` files and take first with build project in it. But I don't know how slow `sln` parsing is

[2018-12-18 19:24] Liminiens commented on #201
@matkoch should it be done just as warning now, without any changes to `SolutionAttribute` and friends?

[2018-12-18 19:39] matkoch commented on #201
My preferred approach would be to look for all solution files, parse them, and check build configurations. Probably using `Assembly.GetExecutingAssembly` or something. Solution parsing is available in another PR, which is in turn just blocked because tests are still running netfx instead of netcore.

[2018-12-19 09:51] Liminiens commented on #201
so what needs to be done to fix tests? :)

[2018-12-21 23:15] matkoch commented on #78
https://marketplace.visualstudio.com/items?itemName=nuke.visualstudio

[2018-12-21 23:15] #78 closed, assigned to nobody

[2018-12-22 08:37] markusamshove commented on #200
I had the same problem today @matkoch

I've created a new build project within an existing project which targets `netfx461`.

Within the `nuke :setup` wizzard I've said that I want GitVersion and that I'm targeting the full framework (not core).

The `PackageReference` generated in the build project is `GitVersion.CommandLine.DotnetCore` which leads to this error.
Changing it to `GitVersion.Comman

[2018-12-23 17:07] #200 closed, assigned to nobody

[2018-12-25 01:27] matkoch opened #204 "GetHashCode should not be used for caching"
https://github.com/nuke-build/nuke/blob/19175ef12edf55f4d824a81d91da9297a57e91a7/source/Nuke.Common/Tools/InspectCode/InspectCodeTasks.cs#L79

[2018-12-26 01:09] matkoch opened #205 "Arguments are splitted"
https://stackoverflow.com/questions/5720194/how-do-i-pass-on-script-arguments-that-contain-quotes-spaces

https://github.com/nuke-build/nuke/blob/19175ef12edf55f4d824a81d91da9297a57e91a7/source/Nuke.GlobalTool/templates/build.netcore.sh#L72

[2018-12-29 23:14] #205 closed, assigned to nobody

[2018-12-29 23:15] #204 closed, assigned to nobody

[2018-12-29 23:15] #118 closed, assigned to nobody

[2018-12-31 00:08] #201 closed, assigned to nobody

[2019-01-02 23:58] matkoch opened #207 "Multiplex tool settings"
Often there is a need to invoke a tool with several similar settings. A common use-case is to invoke MSBuild  for various platforms:

[code]

Alternative:

[code]

cc @nefarius

https://github.com/ViGEm/HidGuardian/blob/665e9c5179670009c45f4e2a371ccb90befe7db5/build/Build.cs#L44-L58

[2019-01-03 03:55] #119 closed, assigned to nobody

[2019-01-03 18:55] #207 closed, assigned to nobody

[2019-01-11 17:57] jnm2 opened #210 "Less opinionated IDE settings"
Working with IDE defaults would be a selling point for Nuke from my perspective. I want the build project to look and feel like a normal C# project, fitting in with the rest of the repository.

This is the current default .editorconfig:

[code]

`dotnet_style_require_accessibility_modifiers` doesn't match the existing projects and root editorconfig in my repo. `csharp_style_expression_bodied_acces

[2019-01-13 00:00] jnm2 opened #211 "Read obj/project.assets.json instead of parsing ProjectReference elements"
This could bring greater flexibility with things like putting versions in Directory.Build.props with `<PackageReference Update="`, etc.

[2019-01-13 00:04] jnm2 opened #212 "Support WiX out of the box"
For example, https://cakebuild.net/dsl/wix/.

I use candle.exe and light.exe. Would you consider supporting WiX out of the box?

[2019-01-13 04:05] jnm2 opened #213 "CopyFileToDirectory API"
Most of the time, the name of the file does not change when copied. It's convenient to pass the folder path without having to redundantly specify the file name.

I have a situation where the filename is dynamically constructed outside `Build.cs`. This requires me to write:

[code]

This would be my preference:

[code]

[2019-01-13 04:11] jnm2 opened #214 "FileSystemTasks.CopyFile should create the directory"
Creating a nonexistent directory is just an extra step. It would be nice if `CopyFile` handled it.

[2019-01-13 04:52] #213 closed, assigned to nobody

[2019-01-13 04:52] #214 closed, assigned to nobody

[2019-01-13 14:42] matkoch commented on #210
https://nuke.build/docs/getting-started/setup.html#note-2

[2019-01-13 19:48] jnm2 commented on #210
Fair enough. The demand isn't high, so I can continue deleting the files after setting up.

[2019-01-13 19:48] #210 closed, assigned to nobody

[2019-01-15 18:32] netclectic opened #215 "XUnit Support on .Net Core"
When trying to use with XUnit2 to run tests on .Net Core, it fails with an error telling me that xunit.runner.console 'requires a framework: net452, net46, net461, net462, net47, net471, net472'.

After adding a call to SetToolPath on my XUnit build step
[code]

it now fails with the error:
[code]

I tried adding a reference to the 'xunit.extensibility.execution' package (which seems to be where x

[2019-01-15 18:40] matkoch commented on #215
https://github.com/nuke-build/common/tree/feature/fix-package-executable

[2019-01-15 23:53] netclectic commented on #215
Thanks, I managed to test with the update you provided and I got a little bit further.

I cloned the Nuke Common repo, built it locally and updated my build project to reference the local dll, then added all the necessary packages to my build project. To trigger the build from the command line I used dotnet run from within my solution folder with a --project parameter pointing to the local build o

[2019-01-15 23:55] matkoch commented on #215
We were using `XunitTasks` once too, but then moved to `DotNetTest`... I don't remember the reason though.

[2019-01-16 23:31] jnm2 opened #216 "Short form for parameters"
It would be nice to be able to specify a second short form for each parameter, such as `-c` and `--configuration`. Defaulting a short form when the first letter is unique might even make sense, possibly?

[2019-01-16 23:34] lt-gerjan commented on #216
I had the same request on Slack, so 👍

[2019-01-17 13:54] ljani commented on #119
Documentation could use a little improvement: If either `DoSomething` or `Setup` fails, does `Cleanup` run? Also, when is the triggered `Target` ran, as early as possible or as late as possible?

Empirically:
- Cleanup does not run if build fails (not so good for my particular case)
- They're ran as late as possible (good!)

[2019-01-17 14:40] matkoch commented on #119
@ljani the example used in my comment here is not a good one, as it suggests that this works like `IDisposable`. However, it doesn't, and that was not the intent.

For your case to work, you would need to set a flag in the middle part, similar to this:

[code]

[2019-01-17 14:50] matkoch commented on #119
This is not intentionally either. You should use `Before` and `After` to declare ordering dependencies.

[2019-01-17 20:43] ItEndsWithTens opened #217 "Windows Explorer interferes with EnsureCleanDirectory"
As per my comment on [this issue](https://github.com/ItEndsWithTens/Arbatel/issues/1), I'm migrating this info from my own project.

## Expected
A Windows Explorer window, displaying the content of a directory that gets passed as the argument to EnsureCleanDirectory during a build, has no impact on the cleaning of said directory.

## Actual
That Explorer window causes the directory in question to

[2019-01-18 12:12] lt-gerjan opened #218 "(Relative)Path property for PathExecutableAttribute"
Like: `[PathExecutable(RelativePath = "Tools/tool.exe")]`

RelativePath is relative to `RootDirectory`
Maybe in the future you can add `AbsolutePath`

The following is not possible, sadly:
`[PathExecutable(Path = RootDirectory /  "Tools" / "CorFlags")]`

[2019-01-18 12:14] lt-gerjan opened #219 "Add custom message to OnlyWhenX"
Current API is: `ITargetDefinition OnlyWhen(params Func<Boolean>[] conditions);`

I propose: `ITargetDefinition OnlyWhen(params Func<Boolean>[] conditions, string message);`

So I can give a custom message about the requirement, that will be shown in the log/output

[2019-01-18 12:19] lt-gerjan opened #220 "Add ProjectModelTasks.ParseProject"
ProjectModelTasks can only parse a solution (.sln file).

I would like to parse one project only (.csproj file), because we do not have one big solution.

I know there is also `MSBuildTasks.MSBuildParseProject`, is that essentially the same? It seems different

[2019-01-20 23:34] #220 closed, assigned to nobody

[2019-01-20 23:42] matkoch commented on #218
Added as `LocalExecutableAttribute`.

[2019-01-20 23:42] #218 closed, assigned to nobody

[2019-01-20 23:49] matkoch commented on #216
How would you deal with a situation when the first character _was_ unique, but became ambiguous?

[2019-01-20 23:57] matkoch commented on #211
I guess this is going to be a wont-fix, as the current approach also supports to resolve packages from un-restored projects. Are there downsides?

[2019-01-20 23:57] #211 closed, assigned to nobody

[2019-01-21 08:39] lt-gerjan commented on #218
https://github.com/nuke-build/common/commit/cc13e8283117dd3332d51c46d0dc28390447f789

Thank you

[2019-01-21 08:45] lt-gerjan commented on #220
https://github.com/nuke-build/common/commit/00a6972259a0753d621b62c2dd274c315ac66b79

Thanks

[2019-01-21 08:50] lt-gerjan commented on #216
That ambiguity came because a developer added a parameter property with the same first letter right?

I think I would generate/log a warning. You might throw a hard exception (which crashes Nuke or prevent it from starting, if thats possible) but that seems a bit too harsh

[2019-01-21 11:41] SlowLogicBoy opened #221 "XUnit -parallel argument is incorrect."
**Command that has been ran:**
`Path/Redacted/xunit.console.exe Path/Redacted/MyTests.dll  -parallel None -Verbose -NUnit Path/Redacted/MyTest.xml`

**Exception from xunit:**
[code]

**Workaround/Solution:**
`-parallel` arguments should be lowercase, when I change it to `none` it works.
Workaround:
instead of `.SetParallel(Xunit2ParallelOption.None)`
use:
`.SetArgumentConfigurator(a => a.Add("-par

[2019-01-21 11:53] matkoch commented on #221
https://github.com/xunit/xunit/issues/1884

[2019-01-21 11:57] matkoch commented on #217
I assume this should fix it, would you agree?

https://github.com/nuke-build/common/commit/f556158cd88e5c973735563bddd7b4163bb16d02

[2019-01-21 11:57] #217 closed, assigned to nobody

[2019-01-21 13:12] jnm2 commented on #216
Yes; any time the developer adds or changes parameters, it's up to the them to know and test the scenarios they care about. What's the worst-case scenario? Having to edit Build.cs an extra time?

[2019-01-21 13:16] jnm2 commented on #211
Yes, but let's wait until there's a more specific need, such as https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-packages-and-versions#how-to-enable-this-feature.

Is there any harm in autorestoring if no `project.assets.json` exists?

[2019-01-21 21:56] lt-gerjan opened #222 "Add CopyDirectory / CopyFiles"
In `FileSystemTasks` there is a `CopyDirectoryRecursively`, but I am missing a `CopyDirectory` or `CopyFiles` (same functionality). I want to copy all the files within a directory, not the children or anything

Personally I would make recursive a parameter, so:
`CopyDirectory(String source, String target, FileExistsPolicy policy = FileExistsPolicy.Fail, bool recursive = true)`

[2019-01-21 22:00] lt-gerjan commented on #222
See my openings post. I do not see how I can "turn off" the recursiveness?

[2019-01-21 22:01] matkoch commented on #222
Sorry, was only speed reading first. `FileSystemTasks.CopyDirectoryRecursively` has an `excludeDirectory` delegate, you can use that to exclude any child directory.

[2019-01-21 22:01] lt-gerjan commented on #222
Yes, I saw that, but I think this is a nice API addition

[2019-01-21 22:02] matkoch commented on #222
We can leave this issue open for vote, but I personally think it's too specialized.

[2019-01-21 22:05] matkoch commented on #222
Another option is `files.ForEach(x => CopyFileToDirectory(...))`

[2019-01-22 00:43] matkoch commented on #215
I’m closing this as I assume it’s not longer relevant, given that xUnit dropped support for it. Feel free to reopen otherwise.

[2019-01-22 00:43] #215 closed, assigned to nobody

[2019-01-22 00:46] matkoch commented on #216
The issue I’m having is that currently there is no warning or error issued, if a parameter is not bound to a field/property. For instance, you could pass `—foo bar` without actually having a member `foo`. I’m not sure if I’m ready to change this behavior at this point.

[2019-01-22 00:49] matkoch commented on #219
Open question for me is, where to put those messages in output. In summary? How should it look?

[2019-01-22 01:51] matkoch commented on #119
Getting back to this: do you think that a `ContinueOnFailure` would be of benefit for your use case? We would still mark the target as failed, but proceed executing all other targets of the build plan.

[2019-01-22 13:13] jnm2 commented on #216
Can we separate that part out and enable you to opt into a short form on a case-by-case basis?

[2019-01-22 13:15] ljani commented on #119
Thanks for taking interest. I'm still collecting `IDisposable`s during build and disposing them all at [`NukeBuild.OnBuildFinished`](https://nuke.build/api/Nuke.Common/Nuke.Common.NukeBuild.html#Nuke_Common_NukeBuild_OnBuildFinished). I'd say something similar to [`condition: always()`](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/conditions?view=vsts&tabs=yaml) would be ideal f

[2019-01-22 21:33] lt-gerjan opened #223 "Convert NukeBuild.Verbosity to MSBuildVerbosity"
[code]

It would be nice that MSBuildSettings by default would pick this up

[2019-01-22 22:16] lt-gerjan commented on #223
Be aware that `MSBuildVerbosity.Normal` is already very very detailed, probably this should convert to `Minimal`

[2019-01-22 22:30] matkoch commented on #223
We considered that some time ago already, but not as a public discussion. The issue is, that this would be a _very_ opinionated approach. Even if you do want to have it, it's likely that it doesn't match your expectations. What I _would_ consider is an opt-in way. Say we can apply an attribute `AutoApplyToolVerbosity` on `Build`, which is then checked for existence in the `XxxSettings` classes, an

[2019-01-23 10:32] lt-gerjan commented on #223
Opt-in would be fine my me. Strictly tying the two together does not seem a good idea to me. You need/want to be able to override one of them.

Personally I have an option to override the MSBuild verbosity, because sometime you only want to have very detailed MSBuild log, and let Nuke Verbositoy the default.

My code snippet:

[code]

[2019-01-28 10:46] lt-gerjan opened #224 "Add first class support for building pipelines (including parallel targets)"
As an extension to https://github.com/nuke-build/nuke/issues/162

Currently I am using TeamCity with multiple agents to run targets in parallel but I would be nice that Nuke has first class support for this.
I call it "Pipelines" because thats the term most systems use.

First draft proposal:

Property syntax:
[code]

[code]

[2019-01-28 10:55] lt-gerjan commented on #224
One question is: what to do with the dependencies of the targets, because that can create all kinds of conflicts

Personally I like to be explicit (readability and predictability), so maybe we can say that pipelines do not run the dependencies of single targets. You need to compose a correct pipeline yourself.

[2019-01-29 02:04] #221 closed, assigned to nobody

[2019-01-29 02:15] matkoch commented on #119
`ContinueOnFailure` and `AssuredAfterFailure` have been added in prerelease. You still need triggers or dependencies to make them execute.

`^C` is not planned in the near future, but you're welcome to create an issue for that.

[2019-01-29 07:32] ljani opened #225 "Handle ^C with AssuredAfterFailure"
As mentioned in #119, `^C` ([`Console.CancelKeyPress`](https://docs.microsoft.com/en-us/dotnet/api/system.console.cancelkeypress?view=netcore-2.2)) is not currently handled to trigger targets with `AssuredAfterFailure `. If a build has cleanup steps, we should at least attempt to gracefully shut down and clean up after the build.

[2019-01-29 08:45] lt-gerjan commented on #224
When I think more about this feature: if we agree not to run the dependencies of the single targets, **I think its more an _alternative_ way of declaring dependencies _and_ to give an option to run it in parallel.**

## Declaring via .DependsOn

[code]

Now if you want to know the order of targets, you can scan the source code and figure it out in your head, or use the `--plan` switch.
I think thi

[2019-01-29 08:48] lt-gerjan commented on #224
I was hoping we could use MSBuild for the parallelism part, but it seems it does not support it OOTB. In only supports parallelism _inside_ targets

https://stackoverflow.com/questions/997047/how-to-run-tasks-in-parallel-in-msbuild

[2019-01-29 17:39] lt-gerjan opened #226 "Private/internal and public targets"
From Slack:

Idea/question: would it make sense to have "internal targets" and "public targets"?

For example: my Compile target consists of 3 parts: patching assemblyInfo's, compile projects, and execute corflags if needed (32bit thingy). Now Im in doubt to create 3 targets or just one Compile target. The advantage of creating separate targets are:
- easier to spot errors (in what step)
- will ap

[2019-01-29 17:54] matkoch commented on #225
Please check prerelease

[2019-01-29 17:54] #225 closed, assigned to nobody

[2019-01-29 17:56] matkoch commented on #226
What is the disadvantage? What should not appear?

[2019-01-29 17:57] matkoch commented on #219
ping

[2019-01-29 18:03] matkoch commented on #225
Please pay attention, it's `0.16.0-alpha0027` (not 28 nor 29) - I've squashed some commits, so the version number is off :/

[2019-01-29 18:55] #226 closed, assigned to nobody

[2019-01-29 22:23] #223 closed, assigned to nobody

[2019-01-29 23:57] #30 closed, assigned to matkoch, arodus

[2019-01-30 02:09] #174 closed, assigned to nobody

[2019-01-30 14:21] joostmeijles opened #227 "EnsurceCleanDirectory continues before directory exists"
`EnsurceCleanDirectory()` continues before directory exists.

It should instead wait till the directory exists, e.g:
[code]

[2019-01-31 13:13] lt-gerjan opened #228 "Add MSBuildTargetPlatform.AnyCPU"
I am missing AnyCPU

[2019-01-31 16:30] lt-gerjan opened #229 "Option to suppress invoke log of tools"
I have the following:

[code]

Which results in:

[code]

The problem is: that argument list sometimes contains hundreds of files, which results in a very big wall of text in the logs. (and that pollutes the log)
I would like to propose an option to suppress the invoke log or input log.

So maybe:
- `logInput` (to have some parity with `logOutput`)
- `logInvocation` or `logInvoke`
- or support dec

[2019-01-31 23:12] lt-gerjan commented on #219
Yes i think in the summary

[2019-02-03 21:44] andygjp opened #230 "Illegal characters in path unless I specify --solution argument"
Hi,

I get the following error when I run the build.ps1 file within Azure DevOps Pipeline

[code]

To get around the error, I can specify the name of the solution file, like so:

[code]

My understanding is that I shouldn't need to specify the solution argument.

I think its blowing up here:

[code]

Not sure if it helps, but you can take a look at my pipeline file here: https://github.com/andygjp

[2019-02-03 23:44] matkoch commented on #230
What is the output of your `Main`?

[2019-02-03 23:46] #229 closed, assigned to nobody

[2019-02-03 23:47] #228 closed, assigned to nobody

[2019-02-04 11:45] andygjp commented on #230
Hi,

`Main` looks like this currently:

[code]

I added the `Console.WriteLine` to help diagnose the error, but strangely, they never did throw an exception, even though that attempts to recreate the behaviour of `GetSolutionFileFromConfigurationFile()`.

Cheers,
Andy

[2019-02-04 14:29] mifopen commented on #224
The lack of just sequential targets execution mechanism is a showstopper for me. Even without parallelism, it would be awesome to have this feature.

[2019-02-04 14:38] matkoch commented on #224
@mifopen how is it a showstopper? Targets are executed sequentially.

[2019-02-04 16:51] matkoch commented on #230
Could you make a visit in our slack channel? I think it’s easier to troubleshoot. I don’t have any ideas off hand.

[2019-02-04 17:05] matkoch commented on #224
I strongly believe this feature isn’t going to happen. There is only a small advantage of being able to declare dependencies in one place. The cognitive load to understand a dependency graph could also easily be solved with proper tooling (displaying the resulting graph live). Also the pipeline approach implies that for multiple pipeline declarations, you would need to repeat dependency logic. Las

[2019-02-04 19:40] matkoch opened #231 "Resumable download tasks"
Like download manager but as a method.

[2019-02-05 00:07] matkoch commented on #224
Here's a little draft from what you'll be able to do from next release on. It's non-invasive and you need to add it to your build projects. Customize as needed. Maybe you can give some feedback later, and we may re-evaluate.

[code]

[2019-02-05 00:26] matkoch commented on #227
Is the fix working reliably?

[2019-02-05 07:55] joostmeijles commented on #227
Nope... `EnsureCleanDirectory` sometimes does not re-create the deleted directory.

Therefore the proposed solution will hang.

[2019-02-05 13:38] totollygeek opened #232 "Calling SetProperty with AbsolutePath as value causes FormatterException"
If you invoke `.SetProperty()` extension on `DotNetTest` for example, you get the following error:

`Type 'Nuke.Common.IO.PathConstruction+AbsolutePath' in Assembly 'Nuke.Common, Version=0.15.0.0, Culture=neutral, PublicKeyToken=null' is not marked as serializable.`

A workaround for the issue it to call `.ToString()` on each `AbsolutePath` passed as parameter.

[2019-02-06 00:21] matkoch commented on #227
Unfortunately, it's always hard to diagnose filesystem issues. Especially when it's on another remote machine :) Do you have any suggestions?

[2019-02-06 00:22] #232 closed, assigned to nobody

[2019-02-06 21:24] ItEndsWithTens commented on #217
I'm back to be annoying again! Hopefully this comment won't reopen the issue (I can never remember how Github handles comments on closed items), since I just want to add some information.

I've been using 0.16.0 for a bit now, and I thought it was doing the trick, but while it solved the immediate issue I was having here, I've come to realize today that it's ultimately just kicked the can down the

[2019-02-06 21:29] ItEndsWithTens commented on #227
I'm sorry to butt in with stupid questions, but what version of Nuke are you using and are you running it in Windows? I described a problem in issue #217 that sounds just like yours, but there's been a fix included in Nuke 0.16.0 that seems to have addressed it, for the most part.

[2019-02-06 22:42] andygjp commented on #230
The default YAML file that Azure Pipelines gives you contains an environmental variable called "solution" and, presumably, Nuke uses the value of that to check the solution is valid. Unfortunately, the value is set to `**/*.sln'` and hence the illegal characters error.

[code]

Removing the variable fixed the issue.

Thanks for your help diagnosing the issue.

[2019-02-06 22:42] #230 closed, assigned to nobody

[2019-02-07 22:56] lt-gerjan commented on #224
Making some API's public is nice, so we can built something on top of it! Thanks for that. If I have something useful, I will post a code snippet here

[2019-02-07 22:58] lt-gerjan commented on #219
To be honest, I do not use this feature ;) It was just a thought when I was exploring it via Intellisense. You can close this if you want

[2019-02-07 23:12] lt-gerjan commented on #76
I like this feature. what I would like to add is questions phrases (`Question = ""`) to parameters so you can create the following:

[code]

If you want to achieve the list/autocompletion you also need to specify that for the parameters (`PossibleValues/SuggestionList = list`) or something, but I guess that not possible with attributes (not compile time)

[2019-02-08 06:35] ElijahReva commented on #219
@matkoch I'm using next approach to solve this right now.
[code]

IMO, ideally, we could change Func to expression and print automatically the whole expression with no need to explicit skip reason(like fluent-assertions do). Output could be probably logged with some special color before final status grid. Or maybe Something like this would be enough.
%'[{targetName}] [SKIPPED] {reason}

[2019-02-08 06:41] ElijahReva opened #233 "ReadChangelog task throws IndexOutOfRange"
`ReadChangelog` task throws `IndexOutOfRange` when no empty line and end of file.

[code]

I was generating changelog dynamically based on commit messages and it was working perfectly but after upgrade from 0.12.3 -> 0.16.0 it shows up.

[2019-02-08 12:50] lt-gerjan opened #234 "Parse ProjectSection within a sln file"
I need to build a ASP.NET Web Forms WebSite (WSP) and the only way to do this is via a `.sln` file with a target. WSP's do not have `.csproj` files because they are "Folder based" or something.
But when you use MSBuild to build your projects, you need to point it to a `.sln` file and pass the project name as a target.

Inside the sln, there are specific properties that are important, especially th

[2019-02-09 08:19] mifopen opened #235 "DotNetPack: The 'licenseUrl' element will be deprecated"
I get
```C:\Program Files\dotnet\sdk\2.2.102\Sdks\NuGet.Build.Tasks.Pack\build\NuGet.Build.Tasks.Pack.targets(202,5): warning NU5125: The 'licenseUrl' element will be deprecated. Consider using the 'license' element instead.```
when I use `.SetPackageLicenseUrl(licenseUrl)`

[2019-02-09 09:49] matkoch commented on #235
Yes, me too. That's unrelated to this project.

[2019-02-09 09:49] #235 closed, assigned to nobody

[2019-02-10 02:16] mifopen commented on #235
Great. And what project it is related to?

[2019-02-10 09:49] matkoch commented on #235
Your own and NuGet I guess

[2019-02-11 15:23] lt-gerjan opened #236 "Do not output target header if it has no execute/actions"
Concrete example:

[code]

Output:
![image](https://user-images.githubusercontent.com/7427231/52572754-d4745f80-2e18-11e9-861f-8ff77a93609d.png)

As you can see the `Compile` target does not have a Executes method (its what I call a "composite target"), so it doesn't have to print something. That results in an empty header. According to me, this can be suppressed.

Open question: should it appear

[2019-02-15 17:56] matkoch commented on #233
stacktrace required

[2019-02-15 18:13] ElijahReva commented on #233
Hi, I have no specific stack trace it showing just failed target with minimum info

Console output
[code]

Executing code

[code]

Changelog file content with no new line

[code]

[2019-02-15 18:15] ElijahReva commented on #233
It just one time fix to commit 2 new lines at the end of the changelog file.

[2019-02-15 18:23] matkoch commented on #233
not perfect, but just put a try-catch yourself around the failing code, and output the stacktrace.

[2019-02-15 18:27] matkoch opened #237 "Allow stacktrace to be printed with high verbosity"

[2019-02-17 18:29] kysel commented on #125
I think it would be good to take inspiration from aspnetcore. So one master repository with many projects, one NuGet package per one project, and then one metapackage which contains everything.

[2019-02-18 20:09] matkoch commented on #125
@kysel That's very difficult, because we're using GitVersion for semantic version generation. Changelog is another thing when releasing independently. Also, I like that multiple repositories can easier be managed in regards to contributors/owners.

It's a tricky question though. I'm also not 100% a fan of multiple repositories, but I guess it's the best way.

[2019-02-18 20:27] kysel commented on #125
I am not talking about releasing projects/NuGets independently. Aspnetcore releases everything at once, so no problem with changelog, versioning etc. I think that managing dozen of repositories is more time consuming than creating bing one from which all NuGets are released. Contributions can be managed with labels which are, I think, better than separating issues over dozen of repositories.  It a

[2019-02-18 20:38] matkoch commented on #125
Just a few unordered thoughts:

### Issues

Single-repo would be better. But for multi-repo, issues could be disabled for all repositories but the umbrella repo (nuke-build/nuke).

### Release Cycle

Releasing everything at once just feels strange. We already do this to a certain level with the packages Nuke.Common, Nuke.CodeGeneration, Nuke.GlobalTool and Nuke.MSBuildLocator. The latter package h

[2019-02-18 20:40] matkoch commented on #125
What is the reason to not split everything?

[2019-02-18 20:46] matkoch commented on #125
Whatever the solution is, it should address the following aspects:

- Changelog management (Updating core should not _always_ require updating addons)
- Tagging/Versioning (Continuous semantic version numbers)
- Code owners (third party addon repositories)
- Issue creation (should not be too distributed)
- Release cycle management (addons must be able to be released independently)
- Cross-solution

[2019-02-20 23:38] #236 closed, assigned to nobody

[2019-02-20 23:38] #219 closed, assigned to nobody

[2019-02-21 23:13] #224 closed, assigned to nobody

[2019-02-22 17:12] GeorgDangl commented on #233
This is reproducible for changelog files with only a single entry, e.g.

[code]

That's where it throws:
https://github.com/nuke-build/common/blob/develop/source/Nuke.Common/ChangeLog/ChangeLogTasks.cs#L190

[2019-02-22 21:03] matkoch commented on #233
@GeorgDangl that seems unlikely, looking at the while condition.

[2019-02-23 00:23] #76 closed, assigned to nobody

[2019-02-23 11:20] GeorgDangl opened #238 "0.17.0 fails compilation with 'dotnet build' due to error in ExternalFilesTask"
To reproduce this issue:
1. Checkout `develop` branch from [Nuke.GitHub](https://github.com/GeorgDangl/Nuke.GitHub)
2. Run `nuke Clean`

The following error is displayed:

[code]

The build succeeds in Visual Studio, but when debugging it exits right away without any error message.

[2019-02-23 17:22] andygjp commented on #238
Same on my Linux installation. v16 is fine.

[code]

[2019-02-23 18:20] matkoch commented on #238
@GeorgDangl can't reproduce
@andygjp where can I find yours?

[2019-02-23 19:54] #238 closed, assigned to nobody

[2019-02-23 19:57] andygjp commented on #238
I'm building on Ubuntu 18.04 and I'm using v2.2.104 dotnet SDK:
[code]

If you then pull the following commit: https://github.com/andygjp/DotNet.Project.LaunchSettings/commit/3d34baa149d0037a41d5d7413fbefb0a645fa204 (I downgraded back to v0.16 after this.), you might be able to recreate it.

Sorry, I don't have access to a Linux build machine - just my personal machine.

Hope that helps.

[2019-02-23 23:56] #233 closed, assigned to nobody

[2019-02-24 00:16] #222 closed, assigned to nobody

[2019-02-26 10:00] DannySotzny opened #239 "File In Use Error at External Files"
affected version: 0.17.1

I get an error that the file I want to replace is currently in use. After that the file has exactly the desired content.

I created a project with "dotnet new sln", called "nuke : setup" and extended the project file with the "Item Group" as described in the documentation.

Then I created a "Build.cs.ext" and inserted the following content, similar to the documentation:

[2019-02-26 15:07] hayhay27 opened #240 "Assertion failed: Could not complete checking build configurations within 500 milliseconds."
Hi.
Can't create issue on [nuke-build/common](https://github.com/nuke-build/common)

So strange attribute `CheckBuildProjectConfigurationsAttribute`. I think `TimeoutInMilliseconds` must be editable

By the way I was noticed that global tool setup `.nuke` with path to solution again. I hope `SolutionAttrubute` going to keep constructor with `solutionFileRootRelativePath` argument

[2019-02-26 23:37] #240 closed, assigned to nobody

[2019-02-27 00:20] matkoch commented on #239
Can you provide a repro for the error case? The build task integration is a bit of a mess, but I have plans to update it asap.

The build warning is only for information. Would be better if it's only shown when the file content changed though.

[2019-02-27 00:20] matkoch commented on #227
@joostmeijles

[2019-02-27 09:18] joostmeijles commented on #227
Looks indeed the same as issue #217 .

[2019-02-27 09:38] DannySotzny commented on #239
yes, you find it here: https://github.com/DannySotzny/nuke-issue-239

and it's okay that way. There one knows that what was done.

[2019-02-27 12:43] lt-gerjan opened #241 "AddTeamCityLogger causes error: Assertion failed: TeamCity.Instance != null"
When I run my build locally, `AddTeamCityLogger` causes an error:

[code]

Output:
`Assertion failed: TeamCity.Instance != null`

I can work around this, by checking if `TeamCity.Instance` is not null, but this seems a bug

[2019-02-27 16:25] matkoch commented on #241
I wouldn't consider this a bug, the method communicates _add teamcity logger_, which it does. The easiest thing would be to call `When(TeamCity.Instance != null, x => x...)` or wrap another method `TryAddTeamCityLogger`.

[2019-02-27 18:08] #241 closed, assigned to nobody

[2019-03-02 18:51] matkoch opened #242 "TODOs"
- [ ] Properties overlapping with `ToolSettings`
- [ ] `ToolSettings` to `ProcessOptions` or `ToolOptions`
- [ ] `Nuke.Tool` to `Nuke.Addon.Tool`
- [ ] Ordered parameters in yml
- [ ] Discoverability of extension methods
- [ ] Target declaration API
- [ ] Prefix environment variables with `NUKE_`
- [ ] Partial or absolute parameter resolution (#216)

[2019-03-03 15:36] hayhay27 opened #243 "'Could not find a part of the path ...' on default Clean Target"
Checked on Nuke 0.17.1 and 0.17.4
In bootstrapped Build.cs Clean target doesn't work correctly. Some issue in method DeleteDirectory: `SourceDirectory.GlobDirectories("**/bin", "**/obj").ForEach(DeleteDirectory);`

[2019-03-03 15:41] kooshanabedian commented on #243
Same here. I was just going to login and open an issue, then I saw this.

[2019-03-03 15:45] matkoch commented on #243
I can't do anything else than assuming this is a local issue on your workstations. As you see from the log output, it traverses up the directories and deletes one by one.

If you find an issue in the code itself, I'd be happy to know:

https://github.com/nuke-build/common/blob/develop/source/Nuke.Common/IO/FileSystemTasks.cs#L82-L100

[2019-03-03 15:45] #243 closed, assigned to nobody

[2019-03-03 15:58] #227 closed, assigned to nobody

[2019-03-03 16:04] kooshanabedian commented on #243
Actually Nuke.Common version 0.16 used to work. Going to 0.17.4, this one is a beauty. Just saying...

[2019-03-03 16:09] matkoch commented on #243
Changeset is here: https://github.com/nuke-build/common/compare/0.16.0...0.17.4

Looks for _Files changed_ and then for `FileSystemTasks.cs`.

I can't really do anything if I can't reproduce the issue.

[2019-03-03 16:55] kooshanabedian commented on #243
Is there any options to give a more elaborate verbose output? So we can track the delete instruction cycling over directories. It reproduces the same error on even empty bin and obj directories. Therefore, I don't think it is related to nested deleting etc.

[code]

[2019-03-03 17:01] matkoch commented on #243
Just copy the implementation from `FileSystemTasks` and add the information you need.

[2019-03-03 17:19] hayhay27 commented on #243
I make some investagations. I was wrong. Exception was thrown in method MoveNext on enumerable result of GlobDirectories after first deletion. Problem with globbing.

`Glob.Directories(SourceDirectory, "**/bin").ForEach(DeleteDirectory)` - this code gives same result.

Look at Glob now.

----

My host:

Maybe you can't reproduce issue because you on *nix.

Here is stacktrace:
[code]

[2019-03-03 17:23] matkoch commented on #243
Try to add `ToList` to it... it's probably because the collection was modified. I'll think about making our wrapper methods calling `ToList` implicitly.

[2019-03-03 17:57] matkoch commented on #243
Done 👆

[2019-03-03 18:39] hayhay27 commented on #243
IEnumerable more flexible. Maybe add ToList in bootstrapped Build.cs?

[2019-03-04 12:44] hayhay27 opened #244 "NRE on Requires"
Hi.
Next configuration

[code]

fails with NRE somewhere and no stacktrace, no debug in nuke code. Very hardly to investigate with a lot of targets.
I'm very frustrated. I think 0.11 closer to production than 0.17.

[2019-03-04 13:06] matkoch commented on #244
I hope you realize that this is very frustrating for me as well, given the amount of time I've put into this project, and given the numerous features that have been implemented since 0.11 release.

[2019-03-04 14:14] hayhay27 commented on #244
Didn't mean to upset you. Sorry. I think this is the best project for build automation with c#. So I open issues to make it better.

I'm not talking about new features. Only about broken behavior of base functionality and the lack of the ability to debug normally.

[2019-03-04 15:16] DannySotzny opened #245 "Build Project with NuGet Packages from Private Repositories"
### Context: Building in Docker container with microsoft/dotnet image

## Problem
In the Build Project, a nuget package from a repository other than nuget.org is used. You can apply `dotnet restore` to the build project, but when starting nuke you still get the error message that the package was not available.

## Solution
Use a nuget.config to configure dotnet - what could be more obvious than to

[2019-03-04 15:40] matkoch commented on #245
Discussed privately. The issue is on Mono/dotnet side.

[2019-03-04 15:40] #245 closed, assigned to nobody

[2019-03-04 19:37] matkoch commented on #244
_I'm very grateful for every reported issue, and I'm looking at it the same way you do. Yet I think it's important to remember how demotivating OSS can be sometimes. But all good as long as we can find an agreement :)_

It's fixed in 0.17.6, and regarding debugging, there is an open issue #237

[2019-03-04 19:37] #244 closed, assigned to nobody

[2019-03-04 19:47] matkoch commented on #244
The fix is basically a better error message.

[2019-03-04 20:12] GeorgDangl commented on #244
I would also like to thank you for the work you put in, @matkoch! Just today, I saw someone impressed by how easy Nuke is to use who was new to it:)

[2019-03-04 20:13] matkoch commented on #244
🤗

[2019-03-07 20:57] kooshanabedian opened #246 "How to traverse solution folders and subfolders for specific projects?"
I have a solution with dozens of projects in a hierarchy of subfolders. My projects consist of both dotnet core projects and good old WCF projects. I have figured out, reading documents, that I can use `Solution.GetProject("My Project Name")` to retrieve specific projects to form different target sets which would be handled by separate DotNetTasks and MsBuild pipelines accordingly. All is set and

[2019-03-08 11:25] matkoch commented on #246
In your case, it's probably the best to do something like `solution.AllProjects.Where(x => x.SolutionFolder.Name == "anything")`. The `SolutionFolder` class is currently only intended for managing solution folder items.

_Btw, except for bug reports, we require people to star the project_ 😄

[2019-03-08 11:25] #246 closed, assigned to nobody

[2019-03-10 03:52] #237 closed, assigned to matkoch

[2019-03-10 13:20] ghost opened #247 "Better document for CoverletTasks"
I'm writing a test task using CoverletTasks for code coverage:

[code]

Coverlet console has already installed globaly. But when I run the test, it say that :
`Assertion failed: Could not find package 'coverlet.console' via 'D:\Workspace\Code\~SourceCode\.Net\TheAlgorithmDesignManual\build\_build.csproj'.`

After clone nuke-build/common and take a look at file Coverlet.Generated.cs , I notice this

[2019-03-10 13:22] matkoch commented on #247
The assertion message already tells you that the expected package `coverlet.console` is not added to the build project file.

[2019-03-10 13:24] matkoch commented on #247
_Please mind our contribution guidelines. I.e., put a star for the project_ 😉

[2019-03-10 13:26] matkoch commented on #247
http://www.nuke.build/docs/authoring-builds/cli-tools.html contains the information about packages required to be added.

[2019-03-10 13:28] matkoch commented on #247
The fact that coverlet is a global tool is irrelevant. Package references are added to ensure consistent versions across different machines.

[2019-03-10 13:28] #247 closed, assigned to nobody

[2019-03-11 10:47] DannySotzny opened #248 "Error in :setup Routine"
if I run `nuke :setup` in a subdirectory, the setup will correctly put the `.nuke` file and the build project folder in the root folder. The start files "build.[ps1|sh]" are created in the path where you are - that shouldn't be like this ?!

[2019-03-11 11:41] matkoch commented on #248
That’s by design, so you can have the bootstrapper scripts inside `./build` for instance.

[2019-03-11 11:41] #248 closed, assigned to nobody

[2019-03-11 17:25] LordMike opened #249 "Process color output"
Hey,

I just tried upgrading from `0.12` to `0.17.6`, and we lost the coloring of output from `DotNetTasks.DotNetBuild`. Was this intentional?

Mike.

[2019-03-11 19:32] matkoch commented on #249
Yes intentional. This is required to make parallel targets possible.

How important is colorization? Yes, it would be cool if it still had colors, but how bad is it without them?

[2019-03-11 19:32] #249 closed, assigned to nobody

[2019-03-11 21:21] LordMike commented on #249
Hmm, we use the colors to quickly identify warnings and errors from Dotnet Build (and friends).

Parallelization is a problem because of synchronous access to Console output?

[2019-03-11 21:22] matkoch commented on #249
your are using DotNetTasks?

[2019-03-12 00:00] LordMike commented on #249
Yup.

[2019-03-12 10:12] matkoch commented on #249
Warnings and errors should continue to be colorized according to this: https://github.com/nuke-build/common/blob/develop/source/Nuke.Common/Tools/DotNet/DotNetTasks.cs#L33

[2019-03-12 19:08] LordMike commented on #249
I've set up a small project with Nuke, and I can reproduce the no colors output. I've noticed there are different ways of interpreting what colored output is.

In the image below, we see colors in three places (more if build errors are present):

* Dotnet build stuff, e.g. "build succeeded"
* Build errors and warnings
* Nuke summary of errors and warnings (this was colored in 0.12.0)

Am I right i

[2019-03-12 19:12] matkoch commented on #249
You're executing from PowerShell? Can you try cmd instead?

[2019-03-12 19:18] LordMike commented on #249
![image](https://user-images.githubusercontent.com/1027111/54229147-f2121300-4503-11e9-8449-060436c1facb.png)

Note: I'm still running Powershell, just in CMD. The result is the same - the `0.12.0` produces colors while the `0.17.6` does not.

Note 2: Running the build as `dotnet run` still does not produce colors.

[2019-03-12 19:25] matkoch commented on #249
Should be fixed ^^^

[2019-03-12 19:44] LordMike commented on #249
I'll try out whatever you have when `0.17.7` is ready.

I've found [this](https://github.com/dotnet/cli/issues/9250) which suggests that `/clp:ForceConsoleColor` can be set on `dotnet build`. I've tried that in my own wrapper that runs `Process.Start` and found that I indeed do get the ANSI color codes with that.

Other than that - It doesn't seem possible (in a particularly friendly / cross-platf

[2019-03-12 19:47] matkoch commented on #249
It's the only cross-platform way at least. On Windows there exist nasty Win32 APIs to make it work, but this is really not a priority.

[2019-03-12 19:49] LordMike commented on #249
At least not with the code examples I found. That was a rabbit hole of native interop shit.

[2019-03-12 20:42] matkoch opened #250 "Twitter tasks"

[2019-03-12 21:18] RLittlesII opened #251 "EntityFramework / dotnet ef tool"
Add support for the dotnet ef tool

https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet#common-options

[2019-03-12 21:23] RLittlesII opened #252 "Microsoft Teams Integration"
Add the ability to send messages from Nuke to MicrosoftTeams

[2019-03-12 21:52] mvestergaard commented on #249
I've been playing around with nuke this evening, considering replacing cake with it, but I encountered the same thing as shown in the screenshots above with `0.17.7`.

The build summary from nuke etc. has colors, but warnings/errors from msbuild do not.
Is that intentional, as you put it in your first reply?

While not hugely important, colors really help when building solutions of 300+ projects.

[2019-03-12 23:34] matkoch opened #253 "Serialization of state"

[2019-03-12 23:44] matkoch opened #254 "External files improvements"
Provide new way of defining external files via msbuild:

[code]

Support for:
- GitHub browse URL
- Folders similar to [ant-like wildcards](https://confluence.jetbrains.com/display/TCD18/Configuring+General+Settings#ConfiguringGeneralSettings-ArtifactPaths)
- Template header with defaults

[2019-03-13 04:42] coder2000 opened #255 "Coveralls Integration broken"
Adding coveralls as a package raises an error that it is not supported.

![coveralls2](https://user-images.githubusercontent.com/27944/54254046-3d3a1f00-4520-11e9-9780-cbb81384670d.PNG)

Setting `<ExcludeAssets>` to true fixes the not supported issue, however, Nuke is unable to find the tool:

![failed](https://user-images.githubusercontent.com/27944/54254099-69ee3680-4520-11e9-8f6d-ed8f1d1c17d8.P

[2019-03-13 17:13] matkoch commented on #255
Note it's `exe` and not `dll`. It's fixed in develop already. Release coming soon.

[2019-03-13 17:13] #255 closed, assigned to nobody

[2019-03-13 21:08] LordMike commented on #249
I think the only option is to force ANSI colors from various tools. For Msbuild this is possible using `/clp:ForceConsoleColor` which [sets this](https://github.com/Microsoft/msbuild/blob/e70a3159d64f9ed6ec3b60253ef863fa883a99b1/src/Build/Logging/ConsoleLogger.cs#L142-L146) in ConsoleLogger of Msbuild - thereby ensuring that any setting of colors will result in ANSI codes coming out.

This is spec

[2019-03-13 21:10] mvestergaard commented on #249
I don't believe powershell itself supports ANSI though, so unless using something like ConEmu, it'll just appear even more screwed up

[2019-03-13 21:12] matkoch commented on #249
@mvestergaard for MSBuild there is no `CustomLogger` defined. You can [set it manually](https://github.com/nuke-build/common/blob/develop/source/Nuke.Common/Tools/MSBuild/MSBuild.Generated.cs#L32) and take the `DotNetTasks.CustomLogger` as an [example](https://github.com/nuke-build/common/blob/develop/source/Nuke.Common/Tools/DotNet/DotNetTasks.cs#L33). Then probably also do a PR :)

[2019-03-13 21:14] LordMike commented on #249
@mvestergaard https://stackoverflow.com/a/51681675/1246988

In it, if you pipe any output in PS through `Out-Host`, it will interpret ANSI codes. The other methods should also work.

[2019-03-13 21:16] matkoch opened #256 "Preserve color output of CLTs"
Having colors mixed of multiple CLTs can be considered an advantage, for instance for dotnet CLI, but also a disadvantage, since there are is no consistency.

Any solution would need to:
- be able to capture CLT output and evaluate it (for error/warning summary)
- show colored output via `Console.WriteLine` with CMD, ConEmu, Cmder, PowerShell, Bash, etc.

[2019-03-13 21:17] matkoch commented on #249
Would be better to follow up here: https://github.com/nuke-build/nuke/issues/256

As this issue is already solved properly. At least how I consider it at the moment.

[2019-03-13 21:21] matkoch commented on #256
@LordMike @mvestergaard

[2019-03-13 21:22] mvestergaard commented on #256
I'm not sure I understood your comment regarding the CustomLogger in DotNetTasks, because it doesn't seem to work for that either, here is a test execution first run through dotnet.exe directly, and then through nuke

![image](https://user-images.githubusercontent.com/2027834/54315484-851f7b80-45de-11e9-9e4b-b3bd7fde027a.png)

[2019-03-13 21:33] matkoch commented on #256
Well, I haven't seen your specific use case and you just mentioned MSBuild.

If you look at the implementation of `DotNetTasks.CustomLogger`, you'll see that it filters for `... warning:` and `... error:`. I'm not aware of how standardized the output for test runners is, but you could wrap the custom logger, and add implementation to detect `[SKIP]` at the end probably.

[2019-03-13 21:34] matkoch commented on #256
People want parallel target execution but also colored output. So there's a bit of a trade-off :)

If you have more questions on that, I'd recommend you to visit the Slack workspace.

[2019-03-14 06:34] jussimattila opened #257 "Behavior during/after setup execution"
First of all, my initial impression of Nuke is great, this looks like something I can see myself using for a number of upcoming projects!

I have two small questions after bootstrapping Nuke into a single project.

1) First of all, running the build succeeds but I get this warning every time: `Assertion failed: Could not complete checking build configurations within 500 milliseconds.` There is a c

[2019-03-14 07:44] matkoch commented on #257
_For questions/feature requests you're generally required to have the project starred_ 😃

1. The `CheckBuildProjectConfigurationsAttribute` is responsible for that. When the build project is added to the solution, it should not have a build configuration. Otherwise, it would attempt to build itself and probably fail (because it's also executing). This attribute scans all solution files below the `

[2019-03-14 07:44] #257 closed, assigned to nobody

[2019-03-14 14:32] jussimattila commented on #257
Starred now, of course! 😄

My solution folder is quite large and also contains several projects with front-end components depending on `node-sass`. For some reason, npm package for node-sass contains an `.sln` file. These things probably explain why the scanning takes a bit longer.

Thanks a lot for your quick response!

[2019-03-15 12:23] matkoch commented on #257
@jussimattila could you create a new issue and describe the project structure? we can either fix this by not traversing certain directories, or by limiting the directory depth.

[2019-03-15 12:48] jussimattila opened #258 "Code cleanup tooling"
I'm digging Nuke more and more, it's a great tool!

What would it take to add support for [ReSharper's automatic code cleanup command line tool](https://www.jetbrains.com/help/resharper/CleanupCode.html)? I would consider contributing it myself if the learning curve is not too steep.

[2019-03-15 13:00] matkoch commented on #258
You didn't dig deep enough :) As per the [contributing guidelines](https://github.com/nuke-build/nuke/blob/master/CONTRIBUTING.md), we don't accept issues regarding unsupported tools.

[2019-03-15 13:00] #258 closed, assigned to nobody

[2019-03-15 13:02] matkoch commented on #258
Here are examples how CLTs are implemented: https://github.com/nuke-build/common/tree/develop/build/specifications

I suggest you to join the Slack workspace.

[2019-03-15 13:08] jussimattila commented on #258
Oh my, I'm breaking rules left and right. Apologies! On my way to Slack...

[2019-03-15 13:41] DanielToft commented on #257
I'm having the same issue with "Assertion failed: Could not complete checking build configurations within 500 milliseconds". It only happens when I have a node_modules folder, inside one of my projects.

[2019-03-15 16:03] matkoch opened #259 "List of requested CLTs"
All the following tools are kept for contributions. Please add a comment to make an additional request (or better directly provide a PR):

- WiX by @jnm2
- ReSharper Cleanup by @jussimattila
- Nerdbank.GitVersioning by @juchom
- Yarn by @joskoanicic

[2019-03-15 16:06] #251 closed, assigned to RLittlesII

[2019-03-15 19:24] #212 closed, assigned to nobody

[2019-03-15 19:24] matkoch commented on #212
Moved to #259

[2019-03-18 07:35] jussimattila opened #260 "Assertion failed: checking build configurations takes over 500 ms"
As discussed in #257, after bootstrapping NUKE, solution file scanning can give this warning if the directory contains a lot of files: `Assertion failed: Could not complete checking build configurations within 500 milliseconds.`

In my situation, the project contains a front-end JavaScript app. Notably, there is a `node_modules` directory containing approximately 30 000 files and 4000 folders. The

[2019-03-18 20:17] jussimattila commented on #259
FYI, I'm happy to have a look at adding ReSharper Cleanup, but only after I'm back from my (long overdue) vacation. I will be more or less off the grid for 1,5 weeks and resume work then.

[2019-03-21 20:19] wischi-chr opened #261 "Ignore/Skip invalid solution files."
I recently started using nuke on most of my projects and I really love it.

A few minutes ago I found a problem regarding (very) old sln files (I don't control this particular file it's from a third party lib). If I run nuke (even with empty target) it fails with `obj != null` assertion.

I digged a bit deeper and cloned nuke.common (0.17.7) and found out that the exception happens in `Nuke.Common

[2019-03-22 20:14] matkoch commented on #261
Why skip or ignore if the serializer could just parse it correctly?

[2019-03-22 20:20] matkoch commented on #261
Please star the project :)

[2019-03-25 09:45] wischi-chr commented on #261
True.

Didn't know you would be ok with supporting such old solution files :-)
Second: Even if the file is parsed correctly a malformed/invalid solution would still result in a cryptic error message (`obj != null`) and prevent the build script from running.

My suggestion: I update the serializer to support old solutions. Files that can't be parsed (because they are not visual studio solutions) wi

[2019-03-26 13:37] juchom opened #262 "Support for Nerdbank.GitVersioning"
For my personal needs, I need to use Nerdbank.GitVersioning: https://github.com/AArnott/Nerdbank.GitVersioning

Woud you be interested in a PR for it? If yes, could you please point to some documentation?

Thanks

[2019-03-26 13:47] matkoch commented on #262
Sure, it's not finished yet, but you can find a lot of information here already: http://www.nuke.build/docs/writing-addons/code-generation.html

[2019-03-26 13:49] matkoch commented on #262
Moving to #259. If you have further questions either post them there or in our Slack workspace.

[2019-03-26 13:49] #262 closed, assigned to nobody

[2019-03-26 13:53] matkoch commented on #262
And please also consider giving the project a star :)

[2019-03-27 13:51] bonesoul opened #263 "Project file does not exist _BUILD_DIRECTORY_\_BUILD_PROJECT_NAME_.csproj"
first time user here.

i have installed 0.18.0 of global tool.

here is my setup;

[code]

and the output;

[code]

should i manually edit those build.ps1 and build.sh and change those _BUILD_DIRECTORY_ and _BUILD_DIRECTORY_ variables?

[2019-03-27 14:15] matkoch commented on #263
Yes it’s supposed to be replaced. Unfortunately, I can’t reproduce it locally.

[2019-03-28 19:05] RLittlesII opened #264 "Improve TeamServices/AzureDevOps interface"
I recently upgraded from 0.14.1 => 0.18.0 after upgrading my TFBuild commands broke.

Seems in the time since last upgrade color has been added to other loggers, and it broke the output to console (which is how you run TFBuild commands in Azure DevOps).

[code]

[2019-03-31 16:50] matkoch commented on #261
If a solution is malformed, we should probably throw an appropriate error message - right.

I’m totally okay supporting this. I just don’t have time doing it myself :)

[2019-03-31 16:51] matkoch commented on #261
#234 might be slightly related.

[2019-03-31 16:54] matkoch commented on #264
As privately discussed, this is - judging from the framework - a user error. However, the `TeamServices` class should be extended and also renamed.

[2019-04-01 11:24] wischi-chr commented on #261
No problem. I hope I find the time this week to prepare a PR

[2019-04-01 23:03] matkoch commented on #264
@RLittlesII 	assigned alright?

[2019-04-02 14:19] RLittlesII commented on #264
@matkoch Yes.  I'll have a WIP PR this week.

[2019-04-08 22:43] jnm2 opened #265 "0.18 breaks passing of build script arguments when the parameter name contains a hyphen"
Build script:

[code]

**0.17.7**:

[code]

**0.18.0**:

[code]

[2019-04-08 22:47] jnm2 commented on #265
It looks like the workaround is to specify `[Parameter(Name = "PublishDir")]`.

This is not a good long-term solution for two reasons:

 - `PublishDir` looks sillier in pascal case. There's a reason I picked `PublishDirectory` for the pascal-cased version of the name.
- Nuke *can* understand hyphens in version 0.17.7, so I don't see why a hyphen should make the parameter unusable. If this is by de

[2019-04-20 07:01] EMostafaAli opened #266 "Error locating MSBuild with vs2019"
When I try to run the nuke from powershell, it gives the following error.

   at Nuke.Common.ControlFlow.Fail(String text)
   at Nuke.Common.ControlFlow.NotNull[T](T obj, String text)
   at Nuke.Common.Tools.MSBuild.MSBuildToolPathResolver.Resolve(Nullable`1 msBuildVersion, Nullable`1 msBuildPlatform)
   at Nuke.Common.Tooling.ProcessTasks.StartProcess(ToolSettings toolSettings)
   at Nuke.Common.

[2019-04-21 15:16] prom3theu5 commented on #266
It seems like there was some work committed a few days back regarding this issue

Any chance we can get an alpha up?
All my build agent containers have been updated to msbuild 16, and my development machine has been cleaned also

[2019-04-21 18:45] EMostafaAli opened #267 "GitVersion doesn't work with MSBuild"
I am trying to compile .NET4.6 framework project, so while setting up the project, I chose MSBuild (rather than Core CLI). I can see from the powershell that assembly version is set to 0.1.0

`"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin\amd64\msbuild.exe" C:\Users\abdelale\source\repos\Simusharp.AutoBuilder\Simusharp.AutoBuilder.sln /maxcpucount:8 /nodeReuse:Tru

[2019-04-21 20:37] matkoch commented on #267
Passing versions, i.e. file version, assembly version, informational version, only works with SDK based projects. There is nothing we can do about it.

[2019-04-21 20:37] #267 closed, assigned to nobody

[2019-04-22 11:36] matkoch commented on #266
@prom3theu5 those are different parts which are a bit clumsy to generalize.

I'll try to look into this later this week. What you all can do is to use `SetToolPath` manually.

[2019-04-22 11:39] prom3theu5 commented on #266
Ahh awesome. Thanks
I knew there’d be a way to do that I’ve been looking for it

[2019-04-22 11:40] matkoch commented on #266
It's mentioned here: http://www.nuke.build/docs/authoring-builds/cli-tools.html#fluent-apis

[2019-04-22 11:41] prom3theu5 commented on #266
Excellent. Thanks again :)

[2019-04-22 18:59] ljani opened #268 "--help will fail if there is no default target"
Running `--help` will fail with the following error if there is no default target:

[code]

The problem is that on [this line](https://github.com/nuke-build/common/blob/fe74c794ab068339b7beda54595b6bff29add87e/source/Nuke.Common/Execution/HelpTextService.cs#L40) all targets will return `false` for `IsDefault`.

[2019-04-22 22:19] EMostafaAli commented on #267
How about this?
https://stackoverflow.com/questions/8446693/specify-assembly-version-number-as-a-command-line-argument-in-msbuild

http://www.lionhack.com/2014/02/13/msbuild-override-assembly-version/

[2019-04-23 23:10] lshearer opened #270 "Allow hyphens in target names"
#### Motivation
As noted [in the documentation](https://nuke.build/docs/authoring-builds/parameter-declaration.html), resolution of parameter names is very forgiving, allowing both Pascal and lisp-cased forms. However, the forgiveness is not carried over to target name resolution, as it does not resolve target names with a hyphenated, lisp-cased form.

Allowing hyphens in target names would improv

[2019-04-23 23:20] matkoch commented on #270
Would you be interested in creating a PR ?

[2019-04-24 13:36] lshearer commented on #270
Sure! I just wanted to float it as an issue first to make sure it seemed valuable.

[2019-04-24 13:42] matkoch commented on #270
Definitely. The global tool probably also needs an update.

[2019-04-25 16:15] #268 closed, assigned to nobody

[2019-04-25 16:27] #265 closed, assigned to nobody

[2019-04-30 10:58] MoshiMoshi0 opened #271 "How to setup debugging with nuke"
I have problems trying to figure out how to setup debugging of the project/solution that nuke is compiling.

Currently I do this:
[code]

But this does not look like a proper solution. Since VS does not support debugging of child processes this solution requires a plugin or by using some EnvDTE [magic](https://stackoverflow.com/questions/11811856/attach-debugger-in-c-sharp-to-another-process/11811

[2019-04-30 13:45] matkoch commented on #271
I’m not sure what you’re trying to do. Debugging a process that was started via `Process.Start`? This would be way out of scope.

[2019-04-30 14:31] MoshiMoshi0 commented on #271
I'm trying make a setup so that you can run nuke build in visual studio and it will compile the solution and also start debugging it.

But thinking about it, its more of a feature in the visualstudio plugin and not nuke itself.

[2019-04-30 14:35] matkoch commented on #271
Isn’t that what F5 does?

[2019-04-30 14:35] #271 closed, assigned to nobody

[2019-04-30 15:00] MoshiMoshi0 commented on #271
Well yes, but if I set the startup project to be the nuke build project it will only compile and not debug. If I set the startup project to my project it will debug but not do then compile automation stuff I need.

Or you are supposed to run the compile target manually from the Task Runner before you run your project?

Wouldn't it be better if you could just set the startup project to be nuke and

[2019-04-30 15:03] matkoch commented on #271
It's not a good idea to use nuke as a replacement for F5/startup project functionality. I feel that whatever you need to do should better be implemented with MSBuild/pre-build steps.

[2019-05-01 11:08] VolkmarR commented on #27
I've build a small test script for this issue:

    public enum BoolWithDefault { Default, True, False }

    [Parameter()]
    readonly int IntParam;
    [Parameter()]
    readonly BoolWithDefault EnumParam = BoolWithDefault.Default;
    [Parameter(Separator = "#")]
    readonly string[] StringArrayParam = new string[0];

    Target Compile => _ => _
        .Executes(() =>
        {

[2019-05-01 22:31] matkoch commented on #239
Could not reproduce after removing duplicated item group includes.

[2019-05-01 22:31] #239 closed, assigned to matkoch

[2019-05-01 23:02] #266 closed, assigned to nobody

[2019-05-02 11:44] #263 closed, assigned to nobody

[2019-05-03 08:15] mlaily opened #272 "Nuke --help screenshot on the website is out of date and misleading"
Hello!

I'm starting to play with Nuke, and I noticed the screenshot of the `nuke --help` console output in the docs is out of date. (http://www.nuke.build/docs/running-builds/fundamentals.html)

It shows a `--graph` command, but apparently it's now `--plan` instead.

It's not a very big deal, but it made me wonder for a while why it didn't work, so it would probably be better if it was updated.

[2019-05-03 08:51] robvanuden opened #273 "Tags/categories for targets"
As discussed in Slack, my idea was to make it possible to assign tags/categories to targets. Then it would be possible to skip targets by category, e.g.  "Test".
For example `nuke --skip-category Test` would skip all test targets.

See https://nukebuildnet.slack.com/archives/C9Q99MFU0/p1556186659022100 for the discussion.

The key of the discussion was:
- It doesn't follow the current dependency m

[2019-05-03 13:32] matkoch commented on #273
Can be implemented with [trigger dependencies](http://www.nuke.build/docs/authoring-builds/fundamentals.html#trigger-dependencies).

[2019-05-03 13:32] #273 closed, assigned to nobody

[2019-05-03 14:55] matkoch commented on #272
fixed

[2019-05-03 14:55] #272 closed, assigned to nobody

[2019-05-06 19:09] matkoch commented on #273
Triggers may not always be the solution. Here is a specific example with unit and integration tests:

<img width="639" alt="image" src="https://user-images.githubusercontent.com/5005566/57248689-45f03280-7043-11e9-90f5-c6b79e7058ed.png">

[2019-05-10 13:40] mario-d-s commented on #247
@matkoch I'm currently grinding my teeth on this one :confused:
It makes total sense to have all tools available as dependencies (for portability and repeatability) **but** in this instance @Fubuchi seems to be right: you **can't** add a reference to a dotnet CLI global tool! So in fact it is completely relevant.

Using `PackageReference` you get:

Using `DotNetCliToolReference` it restores, but w

[2019-05-10 14:09] matkoch commented on #247
I think you can still add it manually as below:

[code]

[2019-05-10 14:13] matkoch commented on #247
Verified also:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5005566/57533606-7800dd80-733e-11e9-9197-9947659211b5.png">

[2019-05-10 14:30] ghost commented on #247
@matkoch The case of Coverlet is a bit different because it is not provided as a package but as a tool. I guess nuke treats all coverage tool like they are package and this cause the problem.

Before using Coverlet, I use OpenCover which has a package on nuget: https://www.nuget.org/packages/OpenCover/ and everything work fine after I add it to build project with `dotnet add` command, but it doesn

[2019-05-10 14:54] matkoch opened #274 "Easy way to fix missing tool packages"
If a tool package is missing, the assertion message currently says `Could not find package 'xxx' via 'yyy'`. We could introduce a new way to easily fix this, for instance via `nuke :fix` (global tool) or `nuke --fix` (`NukeBuild` base class), which would then automatically add the package reference to the build project file with the latest version.

Especially with packages that integrate with `bu

[2019-05-10 14:55] matkoch commented on #247
Instead of fixing the documentation, I would prefer something like https://github.com/nuke-build/nuke/issues/274.

[2019-05-13 12:44] alphaleonis commented on #264
The output definitely looks a bit funky. Attaching a picture displaying how it appears for us on an on premise TFS server.
![image](https://user-images.githubusercontent.com/5114354/57622287-8db81200-758d-11e9-9310-312e2e29a6f6.png)

[2019-05-13 17:20] alphaleonis opened #275 "Allow opt-in/opt-out of case-insensitive globbing, and better defaults."
Globbing today is case-sensitive by default.

The methods provided in Nuke such as `GlobFiles` and `GlobDirectories` do not provide a way to override this behavior.  The underlying `Glob` class has overloads accepting `GlobOptions` that allow for case-insensitive globbing however.

Suggest we:
1. Change the default behavior when running on Windows to be case-insensitive.
2. Provide a way to change

[2019-05-13 17:58] alphaleonis commented on #275
I'd be happy to create a PR for this if you'd like, if we can just specify it a bit better first.

[2019-05-13 19:10] alphaleonis commented on #275
My suggestion would be to have a class attribute, `GlobbingAttribute`, accepting an enum value, eg.
[code]

Where `Default` would be mean use case-insensitive matching on Windows and case-sensitive on anything other operating system.

Specifying this attribute on the build class will then simply set a field in `PathConstruction` which will be used by the globbing functions.

[2019-05-16 08:14] drearyrainDeng opened #276 "add support compile arguments /p:CoreRT=true"
add SetArguments function to support pass more param to compile.  it is more flexible to do something like [#132](https://github.com/nuke-build/nuke/issues/132)

[2019-05-16 08:15] matkoch commented on #276
I’m not sure what this should mean.

[2019-05-17 03:03] drearyrainDeng commented on #276
sorry ! i mean that if i want to get a native package by nuke (compile with corert),how should i do.  thank advance

[2019-05-17 08:15] drearyrainDeng opened #277 "build nuke fail with vs2019 on win10"
i want to build local nuke package,but fail because path is wrong.  after installed vs2019  ,correct path is "C:\Program Files\dotnet\sdk\3.0.100-preview5-011568\Current\Microsoft.Common.props"
![image](https://user-images.githubusercontent.com/35326823/57913099-73986f80-78be-11e9-8dd9-c2afb06487df.png)

[2019-05-17 09:41] matkoch commented on #276
have you read this? http://www.nuke.build/docs/authoring-builds/cli-tools.html

[2019-05-17 09:41] #276 closed, assigned to nobody

[2019-05-17 09:53] matkoch commented on #277
We recently discussed this on  [slack](https://nukebuildnet.slack.com/archives/C9Q99MFU0/p1557435857057600). I think it's a problem with msbuild. You can try changing the sdk version with a global.json file.

[2019-05-17 09:53] #277 closed, assigned to nobody

[2019-05-18 20:38] #275 closed, assigned to alphaleonis

[2019-05-20 01:55] EMostafaAli opened #278 "Issue with altissan pipeline"
I create a build project using the nuke wizard. The project has two simple tasks: Restore and Compile (.NET core) project. It works great on my local machine. However, when I tried to run it using Altissan pipeline, it gives an error related to GitVersion.

[code]

[2019-05-20 09:56] matkoch commented on #278
Are you talking about Atlassian? Do you have a `gitversion.yml` file?

[2019-05-20 10:05] EMostafaAli commented on #278
Oops, sorry. Yes, it is Atlassian.
I do have the yml file and I believe the error is Nuke looks for gitversion in user folder. When I run locally I see the following line.
`"C:\Program Files\dotnet\dotnet.exe" C:\Users\maali\.nuget\packages\gitversion.commandline.dotnetcore\4.0.1-beta1-49\tools\GitVersion.dll`

[2019-05-20 10:07] matkoch commented on #278
Which executable should it use? From where?

[2019-05-20 10:09] EMostafaAli commented on #278
dotnet.exe is installed in the vm and it works fine. I guess the question will be can we change the GitVersion.dll location to be located in the project folder.

[2019-05-20 10:10] matkoch commented on #278
Sorry, I meant `GitVersion.dll`, but I doubt it's in the project folder

[2019-05-20 10:12] matkoch commented on #278
You can also start nuke with `--verbosity verbose`.. that could maybe give more output.

[2019-05-20 10:13] EMostafaAli commented on #278
I believe GitVersion nuget package install it in users folder as indicated above. When I  searched the project folder I couldn't locate it.

[2019-05-20 11:03] Skyqula opened #279 "TeamService.BuildNumber incorrectly using long"
From the [AzureDevOps](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml) documentation:

When a build number uses a custom format there is no guarantee that this variable will actually be a number. IE: When I use a the following build number format: `$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)`, I would expect a version along the lines of: "2019.

[2019-05-20 11:07] Skyqula commented on #264
I can confirm @alphaleonis image. `[96;1m` and `[0m` are added to nuke's writes. Note that there is a hidden character in there as well.

[2019-05-20 11:31] robvanuden commented on #279
Note that the `UpdateBuildNumber` method already accepts a string as build number.
So yes, I agree.

https://github.com/nuke-build/common/blob/d8016926edd92a524b796ceeb1e1b32ee53364b1/source/Nuke.Common/BuildServers/TeamServices.cs#L84

[2019-05-20 11:35] matkoch commented on #279
PR?

[2019-05-20 15:16] RLittlesII commented on #279
@matkoch I can PR a fix for this in a few hours.

[2019-05-20 21:21] EMostafaAli commented on #278
I created a sample project that show the error.
The [master branch](https://bitbucket.org/Emostafaali/nukegitsample/commits/branch/master) contains the initial project created by Nuke wizard. The [build result](https://bitbucket.org/Emostafaali/nukegitsample/addon/pipelines/home#!/results/1) shows an issue with GitVersion dll (before restore task).

In [B1 branch](https://bitbucket.org/Emostafaali

[2019-05-20 21:33] matkoch commented on #278
https://github.com/nuke-build/nuke/issues/278#issuecomment-493924477

[2019-05-20 21:37] EMostafaAli commented on #278
I tried it locally but i didn't see any difference in the output. Please see screenshot below.
![image](https://user-images.githubusercontent.com/11354102/58053584-311ca000-7b15-11e9-8976-4a1b7e2b5bc5.png)

[2019-05-20 21:38] matkoch commented on #278
build passes?

[2019-05-20 21:39] matkoch commented on #278
Doesn't make much sense to pass `--verbosity verbose` locally,  if it works there.

[2019-05-20 21:43] EMostafaAli commented on #278
For master branch, https://bitbucket.org/Emostafaali/nukegitsample/addon/pipelines/home#!/results/4
For b1 branch, https://bitbucket.org/Emostafaali/nukegitsample/addon/pipelines/home#!/results/3

[2019-05-20 21:45] matkoch commented on #278
This is an issue with GitVersion and probably your container configuration.

[2019-05-20 21:45] #278 closed, assigned to nobody

[2019-05-22 01:59] #279 closed, assigned to nobody

[2019-05-22 17:47] VagyokC4 opened #280 "Microsoft.Build packages"
Using the Project.GetMSBuildProject() returns an error when/if the project is using Microsoft.Build.CentralPackageVersions to centralize the package versions.

[code]

On projects without this < Sdk /> line, everything works as expected.  Is there a "work-around" we can employ until this officially gets fixed?

[2019-05-24 01:43] matkoch commented on #280
`GetMSBuildProject` is just a wrapper around the `Microsoft.Build` nuget package. So this is not really the right place to ask this. I don't think we can do anything about it. Correct me if I'm wrong.

[2019-05-24 08:43] VagyokC4 commented on #280
Well @matkoch, since Visual Studio, Rider, dotnet-cli all can parse the project correctly when the CentralPackageVersions sdk is present...  and apparently Nuke cannot...

Maybe you can look into see why it's not parsing correctly, especially since other tools have no problems parsing the .csproj file.  Is your Microsoft.Build / wrapper out of date?

[2019-05-27 17:12] arodus commented on #280
Yep the Microsoft.Build package is @15.9.20 latest version is 16.0.461. But updating the versions isn't that simple since netstandard isn't supported anymore.

[2019-05-27 18:14] eylvisaker opened #281 "Missing NuGet.exe on Linux"
I have a build script that works great on Windows, but when I run it on Linux I get the following error:
[code]
The target in my build.cs file is simple:
[code]

This happened right after the build script downloaded and installed the dotnet core sdk.

I can see two possible causes for this error message:
* The exe file is actually in /home/erik/.nuget/packages/nuget.commandline/4.9.4/tools
* The a

[2019-05-27 19:13] macsux commented on #281
Just heads up, nuget.exe doesn't run under core runtime. It can only run with limited functions under mono when on Linux. https://docs.microsoft.com/en-us/nuget/install-nuget-client-tools

[2019-05-27 20:42] matkoch commented on #281
it’s probably just the casing issue...

[2019-05-27 21:50] eylvisaker commented on #281
Is there another way to restore packages in Nuke aside from NuGetRestore?

[2019-05-27 23:08] macsux commented on #281
Should be able to do it via DotNetTasks.DotNetRestore

On Mon, May 27, 2019 at 5:50 PM Erik Ylvisaker <notifications@github.com>
wrote:

[2019-05-28 14:03] martonx opened #282 "Try to run wrong target through msbuild"
Hi,

I would like to run nuke from an msbuild target. In this case nuke try to run bad target. Here you are the details:

Check this msbuild example:

<Project DefaultTargets="ListAllTasks" xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <Target Name="TestOne">
    <Exec Command="powershell nuke TestTwo" />
  </Target>
  <DeploymentTask Include="TestOne" />
</Proj

[2019-05-28 14:06] matkoch commented on #282
I don't really understand. You only have a target `TestOne` but execute it with `TestTwo`, so it's obvious there is no matching entry. I also see no reason to invoke the build from msbuild?

[2019-05-29 02:26] VagyokC4 opened #283 "Upgrade Microsoft.Build package from 15.9.20 to latest version 16.0.461"
Can we get Microsoft.Build package updated to the latest release (v16.0.461) from the current (v15.9.20) so that projects that use the Microsoft.Build.CentralPackageVersions will work inside Nuke correctly?

[Microsoft.Build.Exceptions.InvalidProjectFileException](https://github.com/nuke-build/nuke/issues/280)

[2019-05-29 07:56] matkoch commented on #283
Why a new issue?

[2019-05-29 11:15] martonx commented on #282
"I also see no reason to invoke the build from msbuild?" because of compatibility reasons, now I have to run it from msbuild.

[code]

So nuke should run TestTwo, even if I run it through msbuild with target TestOne.

[2019-05-29 11:25] matkoch commented on #282
Sorry, but it’s still unclear. It is irrelevant from where you call nuke, whether it’s msbuild, batch or powershell. If you call it with a non-existent target, you’ll get an exception.

[2019-05-29 18:09] VagyokC4 commented on #283
@matkoch You closed the other thinking there was nothing you could do.

[2019-05-29 19:39] matkoch commented on #283
As @arodus mentioned, we can't update them. It's an issue with the `Microsoft.Build` packages.

[2019-05-29 19:39] #283 closed, assigned to nobody

[2019-05-29 19:43] #282 closed, assigned to nobody

[2019-05-29 19:43] matkoch commented on #282
We can't detect with which target msbuild was invoked. So this is a wrong assumption about how nuke works.

[2019-05-29 19:51] VagyokC4 commented on #283
@matkoch So does that mean this project dies, as the rest of the dotNet world keeps marching forward towards dotNet5?  Or will this project keep moving into the future with the rest of the dot net world?

[2019-05-29 19:53] matkoch commented on #283
I reopened the other issue, and the question isn't about whether we want to move forward or not. It's simply not possible to reference the package, as it targets netcoreapp2.1 and our library is netstandard. You're welcome to open an issue with the microsoft/msbuild repository.

[2019-05-29 20:13] #281 closed, assigned to nobody

[2019-05-30 20:23] VagyokC4 commented on #283
@matkoch So I have both netstandard2 and netcore2 projects which both use the Microsoft.Build.CentralPackageVersions and both project types load / run without issues.  Assuming MS is using it's latest Microsoft.Build package, is there really a problem?

[2019-05-30 20:25] matkoch commented on #283
We are talking about the package reference in `Nuke.Common`. I.e., not your individuell project target frameworks.

[2019-06-02 10:04] #280 closed, assigned to matkoch, arodus

[2019-06-06 10:07] mlaily opened #284 "Possible oversight (VS environment variable is unset twice in a row)"
Hi,

Skimming through the code base, I noticed there is a duplicate in the list of environment variables here https://github.com/nuke-build/common/blob/develop/source/Nuke.Common/Execution/UnsetVisualStudioEnvironmentVariablesAttribute.cs#L32-L33

Sorry if an issue is not the best way to communicate this kind of thing, I didn't know what else to do...

[2019-06-06 13:52] mlaily opened #285 "Web project does not compile"
Hi,

I wanted to submit a PR for a dead link in the documentation, but I cannot build https://github.com/nuke-build/web

Things I did and problems I encountered before giving up:
- The first thing I did was execute build.ps1 - Unfortunately a global.json exists with a pinned .net core version I don't have, so it triggered the download and installation of the corresponding .net core sdk.
- I ran bu

[2019-06-17 11:21] stevenlauwers22 opened #286 "Support for anonymous targets and multiple target files"
Hi,

I'm in the process of migrating a build script from cake to nuke, however I seem to have run into an unsupported scenario.

I always try to make my build file as easy and readable as possible by only having some main targets that delegate all work to a bunch of child tasks. Example:

[code]
Running this build script is giving me the following error:

[code]
Apparently the ExecutableTargetFact

[2019-06-17 11:27] matkoch commented on #286
This is not how you use the framework. I suggest first reading the docs: http://www.nuke.build/docs/authoring-builds/fundamentals.html

[2019-06-17 11:30] stevenlauwers22 commented on #286
I have read the docs :).
This is more a feature request than an issue.

[2019-06-17 11:34] matkoch commented on #286
Then this is a won't fix. I see no real value in this. You already can split the build class. Either by making it partial, or delegating to other static classes.

https://github.com/nuke-build/web/blob/master/build/Build.cs#L78
https://github.com/nuke-build/web/blob/master/build/CustomTocWriter.cs

or

https://github.com/nuke-build/common/blob/develop/build/Build.cs#L35
https://github.com/nuke-bui

[2019-06-17 11:44] stevenlauwers22 commented on #286
OK @matkoch, using partial classes is a reasonable solution.
Thanks for your feedback!

[2019-06-17 11:45] #286 closed, assigned to nobody

[2019-06-17 14:28] raphasle opened #287 "Missing Octopus Deploy Spaces mapping"
The new Octopus Deploy [Spaces](https://octopus.com/spaces) are not yet reflected in Nuke. All the Octo.exe push parameters (https://octopus.com/docs/octopus-rest-api/octo.exe-command-line/push) are mapped in https://github.com/nuke-build/common/blob/master/build/specifications/Octopus.json, however, the last two (--space=VALUE and --logLevel=VALUE) are missing.

[2019-06-17 14:29] matkoch commented on #287
https://github.com/nuke-build/nuke/blob/master/CONTRIBUTING.md (6)

[2019-06-17 14:29] #287 closed, assigned to nobody

[2019-06-17 15:48] #284 closed, assigned to nobody

[2019-06-19 09:40] Alxandr opened #288 "MSBuild properties with semicolon"
`dotnet build` blows up if you provide a property with semicolon as such: `/property:NoWarn="CS1234;CS5678"`.

[code]

Currently, I do this in my nuke file: `"NU5105;CS7035".Replace(";", "%3B")`. There might be other solutions, but encoding should probably be handled by Nuke itself regardless.

[2019-06-19 14:04] matkoch commented on #288
[code]

[2019-06-19 14:12] Alxandr commented on #288
Then how about setting the property `AdditionalNoWarn` (that our build scripts use) to that?

[2019-06-21 18:42] dnknitro commented on #112
The link from "Or change this line manually in your script." doesn't work.
`$MSBuildFile = & "$TempDirectory\Nuke.MSBuildLocator\tools\Nuke.MSBuildLocator.exe"`
should be replaced with
`$MSBuildFile = & "$TempDirectory\Nuke.MSBuildLocator\tools\Nuke.MSBuildLocator.exe" "$TempDirectory\vswhere\tools\vswhere.exe"`

[2019-06-22 06:34] VagyokC4 opened #289 "DotNetTasks.DotNetNuGetPush Allow NonZeroExitCode?"
I'm currently using the following command to push up nuget packages
[code]
The problem occurs when the package already exists in the destination, and I get the following error:
[code]
I do not want to fail the build if the package already exists during from the push.

How can I achieve this?

[2019-06-22 17:02] matkoch commented on #289
http://www.nuke.build/docs/authoring-builds/fundamentals.html#failure-behavior

[2019-06-23 20:13] #289 closed, assigned to nobody

[2019-06-27 10:46] RouR commented on #104
Mono dependency was removed in GitVersion.

[2019-06-27 11:58] matkoch commented on #104
good to hear

[2019-06-28 14:07] vabka opened #290 "Add GitLink feature to nuget packages"
https://github.com/GitTools/GitLink
It is impossible to read decompiled code
example: (Process2.cs)
[code]

[2019-06-30 05:23] arodus commented on #290
@vabka we already provide nuget symbol packages for all our libraries. So normally there should be no need for your IDE to decompile the lib.
You may have to add the nuget symbol server url to your symbol sources see https://devblogs.microsoft.com/nuget/improved-package-debugging-experience-with-the-nuget-org-symbol-server/  for references.

The only advantage of gitlink over symbol packages is th

[2019-07-01 07:16] alexanium-dev opened #291 "Didn't find ability to list targets by default"
I'm porting build script from Cake and can't find API for listing all targets if no target specified (`runOrList` in FAKE) or for accessing targets list (`Tasks` property in Cake). Second is better because I want to apply different colours for names and descriptions.

The closest match I could find is `NukeBuild.ExecutableTargets` but it is internal

[2019-07-01 08:45] matkoch commented on #291
If you remove the default target, i.e. no lambda in `Main`, then a list of targets is printed when the build is invoked with no target.

[2019-07-01 08:45] #291 closed, assigned to nobody

[2019-07-02 06:38] totollygeek opened #292 "Calling ParseProject breaks NuGetTasks for .NET Framework projects"
If you use `ProjectModelTasks.ParseProject` somewhere in a Target, this will populate the environment variable `MSBUILD_EXE_PATH` with path do `MSBuild.dll` in dotnet/sdk folder.

When you call `NuGetRestore`, for example, afterwards, on a project that is NOT .NET sdk, you will get an error that `NuGetResolver.dll` could not be loaded.
The problem occurs, because this will tell `nuget.exe` to work

[2019-07-02 06:40] arodus commented on #292
https://github.com/nuke-build/common/blob/develop/source/Nuke.Common/ProjectModel/ProjectModelTasks.cs#L42-L44

That's the relevant code, probably reverting the variable afterwards is enough.

[2019-07-02 15:09] vabka commented on #290
Maybe, i am blind, but i cant see "download symbols" button in nuget. Also, i had tried to navigate into methods - decompiles on-fly. I think, this is a bug (or missed feature) on Rider for Mac OS. I will check this later
![image](https://user-images.githubusercontent.com/17644379/60523286-e4c3a300-9d03-11e9-95c3-ef24f37e9575.png)

[2019-07-03 13:00] vabka commented on #290
On windows - all the same, and in VS too

[2019-07-03 16:54] markusamshove opened #293 "Jenkins class uses a false (?) environment variable to determine branch name"
Currently the implementation of Jenkins uses [GIT_BRANCH](https://github.com/nuke-build/common/blob/develop/source/Nuke.Common/BuildServers/Jenkins.cs#L54) to determine the branch name.

I'm not sure if there is a plugin in Jenkins where this works.
In our setup, the environment variable would be `BRANCH_NAME` as described [here](https://jenkins.io/doc/book/pipeline/multibranch/#additional-environ

[2019-07-03 19:10] arodus commented on #293
The comment in the code says `[...] ﻿(all the Git* properties require git plugin).` ;)

The `BRANCH_NAME` variable is a feature specific to multibranch pipelines and is afaik not populated in other pipeline types.
Contrary to the `GIT_BRANCH` variable which is introduced by the [Git Plugin](https://wiki.jenkins.io/display/JENKINS/Git+Plugin#GitPlugin-AdvancedFeatures) (scroll down to environment v

[2019-07-03 19:37] markusamshove commented on #293
`GIT_BRANCH` wasn't populated in our builds, leading to errors in the Nuke build :-)

We're also using `BRANCH_NAME` in all our pipeline libraries.

Couldn't we try both environment variables in when asking Jenkins for the branch name?

[2019-07-03 21:25] matkoch commented on #293
We can add another property for access, but I’m against implementing fallback logic in the original Jenkins class. There will be an abstraction some day, where we can make things a bit smarter.

[2019-07-04 05:53] arodus commented on #293
As matkoch said we can add another property and add that one after https://github.com/nuke-build/common/blob/develop/source/Nuke.Common/Git/GitRepositoryAttribute.cs#L43.
No need for a a fallback in the Jenkins class, essentially the vars return different things.

[2019-07-05 19:21] MarchingCube commented on #264
Any chance of resolving this anytime? My team switched to use Azure DevOps and we have the same broken output in the console.

[2019-07-06 15:11] dennisdoomen commented on #93
The soft dependencies do help in this example, but just consider a large project with a lot of targets. In most of my projects, I have a single `Default` target that wants to run `Clean` first and then runs 10 other targets of which most could run in parallel if this feature ever landed. However, they all must run after `Clean`. Now, each target must _know_ about the existence of the `Clean` targe

[2019-07-06 17:52] matkoch commented on #93
@dennisdoomen so what you're essentially asking for, is  a `BeforeAll`?

[2019-07-06 19:47] dennisdoomen commented on #93
Something like that, yes....

[2019-07-07 00:06] matkoch commented on #93
I think there's one cheap and one expensive way. Cheap way adds ordering to all other targets, but HTML plan would look bad. Expensive would only add orderings to initial targets (i.e., without dependencies).

[2019-07-09 11:57] Rick-van-Dam opened #294 "Cannot install sonarscanner nuget package in a nuke build project"
I have issues getting sonarscanner to work with NUKE build. Seems this is a bug in NUKE: https://github.com/SonarSource/sonar-scanner-msbuild/issues/761

NUKE wants me to install `dotnet-sonarscanner` but you cant since its a DotNet tool package:
[code]

 Instead I think it should be a package like `SonarAnalyzer.CSharp`

[2019-07-09 12:12] matkoch commented on #294
That’s correct. You need to exclude assets. See https://github.com/nuke-build/nuke/issues/274

[2019-07-09 12:12] #294 closed, assigned to nobody

[2019-07-09 17:00] Rick-van-Dam commented on #294
This fixes it!

[2019-07-13 20:04] #292 closed, assigned to nobody

[2019-07-13 20:25] #293 closed, assigned to arodus

[2019-07-16 14:18] david-driscoll opened #295 "Loading MSBuild 16 projects fails because of default tool version."
Currently when using the latest dotnet core 3 preview 6, loading project with `GetMSBuildProject`/`ParseProject` fails due to the tools version being incorrect (which is probably to be expected to be honest).

The current "version" for msbuild 16 seems to be `Current` instead of a version number like it has been in the past (eg `15.0`).

It's possible that if we had the ability to define the tools

[2019-07-16 14:24] matkoch commented on #295
I wonder if `DefaultToolsVersion` should return `Current` then..

[2019-07-16 14:29] david-driscoll commented on #295
I think with the newer `Microsoft.Build` package it would, but I think with the old 15 version it won't.  I tried to run a custom build locally but ran out of time.

[2019-07-18 13:26] totollygeek opened #296 "ControlFlow.Fail should throw its own exception"
As a general rule of [Framework design guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/using-standard-exception-types), you should not throw base types of exceptions like `System.Exception`. This prevents better exception handling by consuming code.

I suggest that `ControlFlow.Fail` should be changed to use its own type of exception and also introduce another generi

[2019-07-18 14:32] matkoch commented on #296
I'm indifferent whether this is needed or not. _Fail_ generally means there is no way to recover to a valid state, and only cleanup code should be executed.

[2019-07-18 20:19] arodus commented on #295
I already tried upgrading the version in Nuke but right now, due to major changes in the `Microsoft.Build` package, it's just not possible without rewriting the core of nuke and therefore breaking everything.
Nevertheless I'm sure there is a possibility to parse a netcore 3.0 project with Microsoft.Build 15 and also there is still some time until the release so things may change until then and Nuk

[2019-07-19 06:57] arodus commented on #290
You are right, the symbols are actually missing seems we missed something when switching to the new `snupkg` format. We are going to fix the issue and either publish the symbols for the current package or releasing a new version with symbols.

Other than that there is currently no plan on adding GitLink as long as it has the same features as the nuget built-in solution.

PS:  Did you manage to fin

[2019-07-19 12:54] matkoch commented on #290
Should be fixed with 0.21.1.

[2019-07-19 12:54] #290 closed, assigned to nobody

[2019-07-22 10:29] matkoch commented on #290
![image](https://user-images.githubusercontent.com/5005566/61625973-51cfb600-ac7c-11e9-97c0-c9ab340c6765.png)

[2019-07-31 00:11] lshearer commented on #162
I see a *ton* of value in this and would like to help move it along if possible. I haven't dug into the code around target execution much yet, as I'm sure you have some thoughts on this already. I assume https://github.com/nuke-build/common/tree/feature/parallel2 has the latest WIP for this.

As far as the user-facing side of this, to me the minimum requirement would be:
- Allowing the user to opt

[2019-07-31 10:54] matkoch commented on #162
Agreed. Parameters are already aware of environment variables.

This would be solely defined via the dependency model. If two targets do not depend on each other (execution/order/trigger dependency), they can run in parallel.

Not needed imo.

Flow ids would be the easiest for a start. My preferred option would be to flush only when a target has finished. https://github.com/nuke-build/nuke/issues/

[2019-07-31 21:54] matkoch opened #297 "TeamCity runner with dynamic input"
Resources:

- https://github.com/antonarhipov/teamcity-echo-plugin
- https://blog.jetbrains.com/teamcity/2019/05/webinar-recording-getting-started-with-teamcity-plugins/

[2019-07-31 21:55] ThinkingBIGRon commented on #297
As discussed, happy to take a shot at this.

[2019-08-01 22:36] alexshyba commented on #266
In case if it helps anyone, I had a similar issue, MSBuild as installed on another drive and I was getting this error. Fixed by reading the MSBuild path from the env variable:

[code]

[2019-08-03 00:06] RLittlesII opened #298 "change color output of NotRun Targets after build failure"
In the below screen shot, my thought would be the output of the `NotRun` targets shouldn't be red.  Maybe white like the other skipped target?  That way visually it immediately flags the "offending" target.

If you need a reproduction repository, I can provide one.

![image](https://user-images.githubusercontent.com/6969701/62404225-3d32ce00-b558-11e9-90a2-6aaa651f3952.png)

[2019-08-03 15:18] maxkatz6 opened #299 "Can't find MSBuild from Visual Studio Preview folder"
Hi!
When I try to build project with SetMSBuildVersion(MSBuildVersion.VS2019) Nuke throws exception:
[code]
I found exception message in MSBuildToolPathResolver file and also found, that Nuke doesn't search MSBuild in Visual Studio "Preview" folder. It looks only in "Enterprise", "Professional", "Community", "BuildTools" folders.
So, "Preview" edition should be added here [MSBuildToolPathResolver.

[2019-08-04 05:00] RobSmyth opened #300 "Target parameter is resolved from environment variable before command-line positional argument"
Hi,

My Windows development environment has a system environment variable "Target". It seems that Nuke keeps picking this up in preference to the command line as I get an error that target "XX" (value of the environment variable) does not exist.

I'm running: `nuke --target Compile`

(I'm a newbie, so maybe I'm just getting the command line wrong?)

It does the same when I invoke via the PowerShel

[2019-08-04 09:31] matkoch commented on #300
Hi @RobSmyth,

NUKE picks up parameters (including `ExecutingTargets`) from the command-line / environment variables. You're only chance is to unset the environment  variable inside the build.ps1/sh scripts.

[2019-08-04 20:52] matkoch commented on #264
I'm not really sure how this should be "solved". Azure devops is not really consistent with how it handles the output. The following is from the same build. First image while it's running, second when it has finished.

<img width="371" alt="image" src="https://user-images.githubusercontent.com/5005566/62429089-6d21d300-b70a-11e9-8183-49bbd3b4e4bf.png">
<img width="859" alt="image" src="https://use

[2019-08-05 06:06] RLittlesII commented on #264
I'll pull some raw logs and see if I can't glean something from them.  Hopefully, we can find a pattern and solve the problem.

[2019-08-05 08:05] matkoch commented on #264
I'm not an AzureDevOps expert, but maybe someone could file an issue for them and reference it here. @MarchingCube @Skyqula @alphaleonis

[2019-08-06 07:01] Skyqula commented on #264
I looked trough the source again and inside the [AnsiColorOutputSink](https://github.com/nuke-build/common/blob/develop/source/Nuke.Common/OutputSinks/AnsiColorOutputSink.cs) I found the characters that are causing this issue. They are the ansi color coding.

So I turned to google and found [this issue](https://developercommunity.visualstudio.com/content/problem/440605/write-host-foreground-color-

[2019-08-07 10:44] RobSmyth commented on #300
Hi @matkoch

I appreciate the frank response. Thank you.

[2019-08-09 05:17] RLittlesII opened #301 "Add dotnet msbuild support"
I have some builds that need `dotnet msbuild` to integrate with [MSBuild.Sdk.Extras](https://www.nuget.org/packages/MSBuild.Sdk.Extras/)

https://github.com/dotnet/docs/blob/master/docs/core/tools/dotnet-msbuild.md

[2019-08-10 01:39] RobSmyth commented on #241
An alternative approach, that removes the need for null guards, would be to use the null pattern. That is, have TeamCity.Instance return a null type (not null) if not running under a build server. That is a type with methods that do nothing.

So ... if a local build it does nothing (good). If a build system build it does build system stuff. No null guards.

[2019-08-13 08:25] DanScottNI opened #302 "Could not find package 'Nuget.Commandline'"
I have a classic .NET Framework project that I'm trying to build.

I'm using the following code:

`
Target Restore => _ => _
        .Executes(() =>
        {
            NuGetTasks.NuGetRestore(new NuGetRestoreSettings() { });
        });

    Target Compile => _ => _
        .DependsOn(Restore)
        .Executes(() =>
        {
            MSBuild(o => o
                .SetTargetPath(Solution)

[2019-08-13 08:29] GeorgDangl commented on #302
You just need to add a reference to the `NuGet.CommandLine` package in your build project, since that's used by the `NuGetTasks`, since NUKE uses the NuGet tool contained in this package .

[2019-08-13 09:34] matkoch commented on #302
http://www.nuke.build/docs/authoring-builds/cli-tools.html

First note box.

[2019-08-13 09:34] #302 closed, assigned to nobody

[2019-08-13 10:34] #298 closed, assigned to nobody

[2019-08-13 10:36] matkoch commented on #234
@gkonterman 	still relevant?

[2019-08-13 22:56] matkoch commented on #264
<img width="251" alt="image" src="https://user-images.githubusercontent.com/5005566/62983032-4b250080-be2e-11e9-88bf-1b75ae48641e.png">
<img width="459" alt="image" src="https://user-images.githubusercontent.com/5005566/62983043-5546ff00-be2e-11e9-8def-732d5c194309.png">

[2019-08-13 22:56] #264 closed, assigned to RLittlesII

[2019-08-13 22:59] #299 closed, assigned to nobody

[2019-08-13 23:01] matkoch opened #303 "BeforeAll and AfterAll"
https://github.com/nuke-build/nuke/issues/93#issuecomment-508933294

[2019-08-14 13:01] Rick-van-Dam opened #304 "SonarScannerBegin is missing a method to set the /o parameter"
Currently there is no way to set the `/o` parameter for SonarScannerBegin as no method exists for it. Please add this as its needed for sonarcloud.

[2019-08-14 13:23] matkoch commented on #304
Please note the [contribution guidelines](https://github.com/nuke-build/nuke/blob/master/CONTRIBUTING.md).

[2019-08-14 13:23] #304 closed, assigned to nobody

[2019-08-14 16:27] matkoch commented on #303
@dennisdoomen I think I will refrain from implementing this. Is there any reason not to put the _Clean_  code into the constructor and control it via `--clean` parameter?

[2019-08-14 19:53] lt-gerjan commented on #234
@matkoch In theory yes, I have solved it with Regex :S

[2019-08-15 03:45] RobSmyth opened #305 "Setup documentation - Users NuGet packages folder"
Hi,

The setup described at https://nuke.build/docs/getting-started/setup.html assumes that a user has NuGet installed and has loaded some global package (to the user's .nuget/packages folder). It fails with an exception if this folder does not exist.

We found that as we use VS to load NuGet packages to a project folder many developers did not have the requires users packages folder. The fix was

[2019-08-15 06:30] dennisdoomen commented on #303
It's not just about the `Clean` target. I can't show you the example here because of confidential reasons, but I have several occasions where the order _is_ important. I _can_ add the targets that another target depends on to that target. I just want to be able to specify that _if_ a dependent target runs, it needs to run _before_ a specific target.

[2019-08-15 06:31] dennisdoomen commented on #303
And one more argument for this is that the lack of this possibility is the biggest hurdle for people to move from PSake/Cake to Nuke.

[2019-08-15 08:29] matkoch commented on #305
What part exactly assumes that a global package folder exists?

[2019-08-15 09:04] penenkel opened #306 "Request: add tool attribute for absolut paths and custom resolvers"
AFAIK there are three tool resolution attributes at the moment:

- PathExecutable: retrieves tool-path from environment variable or path variable (via which).
- LocalExecutable: resolves tools relative to the repository-root
- PackageExecutable: resolves from nuget package

From my point of view there should also be one that allows specifying an absolute path. (I know this wouldn't all that robust

[2019-08-15 09:12] matkoch commented on #306
I’d rather not add another attribute, but i will think if we can make the `LocalExecutableAttribute` to also work with rooted paths.

[2019-08-15 09:13] matkoch commented on #306
PS: feature requests require adding a star :)

[2019-08-16 14:50] dperez3 commented on #148
So what is the current way to generate code? The latest version of `CodeGenerator` has an API that's different from all the documentation I can find.

Where do I get the json schema for json spec files?

[2019-08-16 23:58] matkoch commented on #148
Schema is in the examples, and code gets generated on compile.

[2019-08-17 16:15] Rick-van-Dam commented on #304
@matkoch Sad to see this was closed and marked as wontfix so quickly with such a blunt response, especially when its clear this is simply missing from the implementation and this issue was created in a effort to rectify this small issue.

You say you only accept pull requests for this but as iam unable to find the code for this iam also unable to create a pull request. In the end I just worked aro

[2019-08-17 16:51] matkoch commented on #304
@Barsonax I'm sorry, but I don't see this as an issue that's worth having to be filed. First, there is the possibility to use `SetArgumentConfigurator` as stated [here](http://www.nuke.build/docs/authoring-builds/cli-tools.html#custom-arguments). Second, if we keep issues for every missing argument individually for a tool, that would become extremely cumbersome to manage. We're already making a co

[2019-08-18 10:07] matkoch commented on #303
@dennisdoomen I’m not sure I understand. Putting the code of a `Clean` target into the constructor would have the exact same effect as defining it in a target and putting `BeforeAll` on it.

[2019-08-18 10:12] dennisdoomen commented on #303
Let's say A does not directly depend on B, so B can run without A. But if A also runs (because of other dependencies, it must be run before B).

[2019-08-18 10:14] matkoch commented on #303
That would be possible too. There’s a property `ExecutingTargets` and `InvokedTargets`.

[2019-08-18 10:17] matkoch commented on #303
The problem that I have with this, as stated in the other comment, is that both implementations are not optimal. Plus, this feature request really only makes sense in the context of cleanup code, which is why I’m trying to find alternative ways.

[2019-08-18 10:44] dennisdoomen commented on #303
How? Can't find any docs on this.

[2019-08-18 10:47] dennisdoomen commented on #303
But that would mean it'll always run. If the build file is big enough, you don't want this to happen.

[2019-08-18 10:52] dennisdoomen commented on #303
Anyway, I respect your work and opinions. I think adopting Nuke for open-source projects is going to be a nobrainer and a great step forwards, but IMO, moving an enterprise-class project from Cake to Nuke probably requires redesigning the entire build pipeline.

[2019-08-18 12:35] matkoch commented on #303
http://www.nuke.build/docs/authoring-builds/predefined-parameters.html

In my initial comment I said that this could be controlled with a simple parameter. Roughly like this:

[code]

Note that we would have to reconsider how the build instance is initialized. So currently, this scenario is not _exactly_ supported.

[2019-08-19 17:38] matkoch commented on #303
@dennisdoomen

Am I right you're talking about the `Setup` and `TearDown` part? According to https://cakebuild.net/docs/fundamentals/setup-and-teardown

[2019-08-19 21:07] matkoch opened #307 "Handle multiple tool references with different versions"

[2019-08-20 02:54] RobSmyth commented on #300
Hi @matkoch ,

Unfortunately, in order to use Nuke, I need to fork and compile a version of nuke with the environment variable "TARGET" renamed to something like "NUKE_TARGET". But looking at the source code I do not see where it is reading the environment variable "TARGET".

Can you help me find the code?